<div class="height">
  <p-blockUI class="boarder-hide" *ngIf="responsePercentage !== 0" [blocked]="responsePercentage > 0" [target]="pnl">
    <div class="exception-body" *ngIf="responsePercentage">
      <div class="exception-content">
        <circle-progress
          [percent]="[responsePercentage]"
          [radius]="70"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="100"
          [outerStrokeColor]="'#95fdff'"
          [innerStrokeColor]="'transparent'"
          [showUnits]=true
          [titleFontWeight]="600"
          [showSubtitle]=false
          [backgroundGradient]=false
          [animation]="false">
        </circle-progress>
      </div>
    </div>
  </p-blockUI>

  <p-panel class="border-hide" #pnl>
    <div class="text-left ">
      <p class="margin-top infoUpload"><b>Step 1: </b> <span (click)="downloadItemUploadTemplate()" class="download-link">Download</span> the template.</p>
      <p class="margin-top infoUpload"><b>Step 2: </b> Fill in all fields and save.</p>
      <p class="margin-top infoUpload"><b>Step 3: </b> Upload the completed template.</p>
    </div>
    <br>

    <form [formGroup]="uploadItemForm">
      <div class="grid margin-top-grid" >
        <div class="col-12 xl:col-4 md:col-8 lg:col-6 upload-field">
          <div class="p-inputgroup">
            <span class="p-float-label inner-text-position">
            <input id="itemListController" formControlName="itemListController" #userList
                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                   (change)="itemFileChange($event)"  type="file" hidden>

            <input id="fileText" [value]="userList.files[0] ? userList.files[0].name : null" readonly
                   formControlName="itemListController" class="input-max-width"
                   onClick="document.getElementById('itemListController').click()" type="text" pInputText>
              <label for="fileText">Browse a file to upload* </label>

            <button pButton label="Browse" class="p-button file-browse  p-button-sm"
                    onClick="document.getElementById('itemListController').click()"></button>

                        </span>
          </div>
          <button pButton class="p-button-sm upload-button ml-2" type="submit" icon="fa fa-cloud-upload"
                  label="Upload" [disabled]="isDisabled" (click)="uploadItemList()"></button>

          <button pButton class="p-button-sm p-button-outlined upload-button ml-2" type="button"
                  icon="fa-solid fa-rotate-right" label="Reset" [disabled]="isDisabled"
                  (click)="uploadItemForm.reset()"></button>
        </div>
        <br><br><br>
        <div class=" upload-button-mobile field col-12">
          <button class="p-button-sm " [disabled]="isDisabled" pButton type="submit" icon="fa fa-cloud-upload" label="Upload" (click)="uploadItemList()"></button>
        </div>
        <div class=" upload-button-mobile field col-12">
          <button pButton class="p-button-sm p-button-outlined" type="button" icon="fa-solid fa-rotate-right" label="Reset"
                  [disabled]="isDisabled" (click)="uploadItemForm.reset()"></button>
        </div>
      </div>
      <div class="p-invalid text-align-left" *ngIf="uploadItemForm.get('itemListController').dirty && uploadItemForm.get('itemListController').errors">
        File is required
      </div>

    </form>
  </p-panel>
</div>


