<kendo-splitter orientation="horizontal" style="height: 100%;">

  <kendo-splitter-pane size="{{responsiveSize}}" [collapsible]="true">

    <div class="custom-card-form">
      <div class="grid  m-1">
        <div class="col-8 pull-left">
          <div class="col-3 pull-left">
            <h5 class="module-header-label">Bill Details</h5>
          </div>
          <div [ngStyle]="{'text-align' : 'right'}" class="col-9 pull-left">
            <h5 [pTooltip]="billNo" appendTo="body" tooltipPosition="right" class="subHeadingColour">Bill# {{billNo}}</h5>
          </div>
        </div>
        <div class="col-4 pull-right">
          <div [ngStyle]="{'text-align' : 'right'}" class="close-btn">

            <div class="fa fa-check side-drawer-icon"
                 *ngIf="checkPrivilegesForBillApprove()"
                 pTooltip="Approve or Reject" tooltipPosition="bottom" (click)="approveBill()"></div>
            <div class="fa fa-trash side-drawer-icon"
                 *ngIf="privilegeService.isAuthorized(appAuthorities.BILL_DELETE) && isDetailView"
                 pTooltip="Delete" tooltipPosition="bottom"  (click)="deleteBill()" ></div>
            <div class="fa fa-pencil side-drawer-icon" *ngIf="privilegeService.isAuthorized(appAuthorities.BILL_EDIT) && isDetailView"
                 pTooltip="Edit" tooltipPosition="bottom" (click)="editBill()" ></div>
            <button style="background: none; border: none;" *ngIf="!fromApprovedBillScreen"
                    [disabled]="isPrevBill()" (click)="billPrev()"  pTooltip="Previous" tooltipPosition="bottom"
                    class="fa fa-chevron-left side-drawer-icon" ></button>
            <button style="background: none; border: none;"   *ngIf="!fromApprovedBillScreen" [disabled]="isNextBill()"
                    pTooltip="Next" tooltipPosition="bottom" class="fa fa-chevron-right side-drawer-icon" (click)="billNext()"></button>
            <div *ngIf="!isClickApproveAction" class="fa fa-close side-drawer-icon" pTooltip="Close" tooltipPosition="bottom"
                 (click)="close()"></div>
            <div *ngIf="isClickApproveAction" class="fa fa-close side-drawer-icon" pTooltip="Close" tooltipPosition="bottom"
                 (click)="closeApproveViewFromDetailView()"></div>
          </div>
        </div>
      </div>

      <app-bill-approve-form [isApproveView]="approveView" [isResponseDataReceived]="isResponseDataReceived"
                             (poId)="getPoId($event)" [eBillEdit]="eBillEdit"
                             [billDetails]="billDetails" (close)="close()"
                             [adHocWorkflowDetails]="adHocWorkflowDetails"
                             (removeAdditionalFieldAttachment)="refreshAttachmentVIew()"
                             [attachmentId]="billDetails.billAttachmentId" (resetApproval)="getPendingBillIdList()"
                             *ngIf="billDetails && !needToRefresh && !isDetailView" [isSplitterSmall]="smallHorSplitter"
                             [extraSmallHorSplitter]="extraSmallHorSplitter"
                             [billId]="billId" [fromNotification]="singleBill"></app-bill-approve-form>


      <app-bill-detail-view (closeBill)="close()" *ngIf="billDetails && !needToRefresh && isDetailView"
                            [attachmentId]="billDetails.billAttachmentId" (updatedBillObject)="updatedBill = $event"
                            [billId]="billId" [fromNotification]="singleBill"></app-bill-detail-view>
    </div>

  </kendo-splitter-pane>

  <kendo-splitter-pane (sizeChange)="splitterResized($event)" #kendoSplitterPaneInstance="kendoSplitterPane"
                       [collapsible]="true">

    <iframe [src]="billUrl" allowfullscreen *ngIf="!isPoAttachmentShown && billUrl"
            style="border: none"
            width="100%" height="100%" title="Bill">
    </iframe>

    <kendo-splitter orientation="vertical" style="height: 100%;" *ngIf="isPoAttachmentShown">

      <kendo-splitter-pane [collapsible]="true">
        <h6 class="subHeadingColour ml-2 mt-1">Bill</h6>
        <iframe [src]="billUrl" allowfullscreen *ngIf="billUrl" style="border: none" width="100%"
                height="90%"
                title="Bill">
        </iframe>
      </kendo-splitter-pane>

      <kendo-splitter-pane [collapsible]="true">
        <h6 class="subHeadingColour ml-2 mt-1">Purchase Order</h6>
        <iframe [src]="poUrl" allowfullscreen *ngIf="poUrl" style="border: none" width="100%"
                height="90%"
                title="Purchase Order">
        </iframe>
      </kendo-splitter-pane>

    </kendo-splitter>

  </kendo-splitter-pane>

</kendo-splitter>


<!--Edit submit bill-->
<p-sidebar closeOnEscape="false" [showCloseIcon]="false" *ngIf="reSubmit && !eBillEdit" [fullScreen]="true" [modal]="false"
           [(visible)]="reSubmit" appendTo="body">
  <app-edit-process-bill [billIdFromList]="billId" *ngIf="reSubmit" [isEditBill]="true"
                          (navigateToList)="reSubmit = false; isDetailView = true"
                          (isSuccessEditAction)="reSubmit = false;
                           isFromDetailViewEdit = true; getBillDetails(billId)">
  </app-edit-process-bill>
</p-sidebar>

<!--Edit create bill-->
<p-sidebar closeOnEscape="false" [showCloseIcon]="false" *ngIf="eBillEdit && !reSubmit" [fullScreen]="true" [modal]="false"
           [(visible)]="eBillEdit" appendTo="body">
  <app-create-e-bill [editView]="eBillEdit" (isClickCloseButton)="eBillEdit = false; isDetailView = true"
                     (isSuccessEditAction)="eBillEdit = false; isFromDetailViewEdit = true;
                     getBillDetails(billId)"
                     [billId]="billId" *ngIf="eBillEdit"></app-create-e-bill>
</p-sidebar>

<p-confirmDialog #cdD key="billDeleteFromDetailView" header="Are you sure?"
                 icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cdD.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, Delete it"
            (click)="cdD.accept()"></button>
  </p-footer>
</p-confirmDialog>
