.feature-table-wrapper{
  margin-top: 10px;
}

i{
 cursor: pointer;
}
p{
  font-size: 14px;
}
.text-xl{
  position: relative;
  font-size: 18px !important;
  left: 9px !important;
  top: 12px;
}

.information-img{
  position: fixed;
  top: 27px;
  left: 19px;
}

.p-dialog .p-dialog-footer {
  border-bottom-right-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
}

