<div class="grid">
  <div class="col-6 lg:col-9 xl:col-9">
    <div class="grid">
            <app-table-header-action-buttons
              [tableSupportBase]="tableSupportBase" [componentInstance]="this"
              (showColumns)="showFilterColumns = !showFilterColumns;showFilter = false"
              (refresh)="loadData(tableSupportBase.searchFilterDto)"
              (reject)="bulkReject()"
              (quickApprove)="bulkApprove()"
              (showFilters)="showFilter = !showFilter; showFilterColumns = false"
              [visibleActions]="availableHeaderActions"
              [moduleName]="AppAnalyticsConstants.MODULE_NAME_SUBMITTED_TRANSACTIONS"
            >
            </app-table-header-action-buttons>
    </div>
  </div>
</div>
<div class="table-wrapper">
  <p-table responsiveLayout="scroll" id="columnSelect" #dt [columns]="selectedColumns" (onColResize)="onTableChanged()"
           [hidden]="tableSupportBase.isVisibleTable" (onFilter)="tableSupportBase.onFilter(dt)"
           (onSort)="tableSupportBase.onSort(dt)" [class.cursor-loading]="cursorLoading"
           (onRowSelect)="tableSupportBase.rowSelected(dt,null)" (onRowUnselect)="tableSupportBase.rowSelected(dt,null)"
           (onColReorder)="onTableChanged()" [(selection)]="tableSupportBase.rows"
           [value]="tableSupportBase.dataSource" columnResizeMode="expand"
           dataKey="id" [reorderableColumns]="true" [rowHover]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
           [responsive]="false" selectionMode="multiple" scrollHeight="flex" [scrollable]="true"
           stateStorage="session" stateKey="{{tableKeyEnum.SUBMITTED_CARD_TABLE_KEY}}" [rows]="25"
           [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 75]" [loading]="tableSupportBase.loading"
           [(contextMenuSelection)]="tableSupportBase.selectedContextActionData" [contextMenu]="cm"
           [resizableColumns]="true" *ngIf="tableSupportBase.minWidth"
           styleClass="p-datatable-sm p-datatable-striped no-grid-lines"
           [totalRecords]="tableSupportBase.totalRecords" [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="!col.isReSizable"
            [ngStyle]="{'text-align': col.align}"
            [pReorderableColumnDisabled]="!col.isReOrderable" pReorderableColumn
            [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn
            [pSortableColumnDisabled]="!col.isSortable" pSortableColumn="{{col.sortableField}}" class="sort-icon-wrapper">
          <div class="grid">
            <div class="col-12">
              <div *ngIf="col.searchType == enums.CHECKBOX">
                <p-tableHeaderCheckbox (click)="tableSupportBase.rowSelected(dt,null)"></p-tableHeaderCheckbox>
              </div>
              <span *ngIf="col.searchType !== enums.CHECKBOX">{{col.header}}</span>
              <p-sortIcon class="grid-sort-icon" *ngIf="col.isSortable" field="{{col.sortableField}}"></p-sortIcon>
            </div>
            <div class="col-12">
              <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"
                    [columns]="columns" [col]="col"></span>
            </div>
          </div>
        </th>
      </tr>

<!--      <tr>-->
<!--        <th *ngFor="let col of columns" [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn>-->
<!--          <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"-->
<!--                [columns]="columns" [col]="col"></span>-->
<!--        </th>-->
<!--      </tr>-->
    </ng-template>


    <ng-template pTemplate="body" let-item let-i="rowIndex" let-columns="columns">
      <tr (wheel)="tableSupportBase.scrollHideActionMenu(cm)" [pContextMenuRow]="item" (contextmenu)="actionButtonClick(item);
  tableSupportBase.setContextMenuActionBtnList(tableSupportBase.actionButtonList(item['transaction.status']))">
        <td *ngFor="let col of columns; let in = index" [ngStyle]="{'text-align': col.align}"
            [class.td-border]="in === 0" [class.td-border-selected]="item.selected && in === 0"
            [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn [style]="'min-width:' + col.columnWidth  + 'px'"
            [class.freeze-right]="col.frozenDirection == 'right'" [class.z-index]="col.isFrozen">
          <span class="p-column-title">{{col.header}}</span>

          <span *ngIf="col.field == enums.CHECKBOX">
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </span>

          <span *ngIf="col.searchType ==  enums.ACTION_BUTTON" class="td-actionButton">
          <button type="button" pButton class="grid-action-btn p-button-text" icon="pi pi-ellipsis-v"
                  [disabled]="tableSupportBase.actionButtonList(item['transaction.status']).length === 0"
                  (click)="menu.toggle($event); actionButtonClick(item)"></button>
          <p-menu #menu [popup]="true" appendTo="body"
                  [model]="tableSupportBase.actionButtonList(item['transaction.status'])"></p-menu>
        </span>



          <span *ngIf="col.field == 'transaction.status'">
        <li [class]="'mr-2 status-style status-'  + tableSupportBase.getStatus(item[col.field])"></li>
            {{tableSupportBase.getStatus(item[col.field]) | titlecase}}</span>

          <span class="white-space-normal break-word" *ngIf="col.field !== 'transaction.status' &&
        col.field !== 'transaction.receipt' &&
        col.field !== 'transaction.account' &&
        col.field !== 'transaction.description' &&
        col.field !== 'transaction.department' &&
        col.field !== 'transaction.billable' &&
        col.field !== 'transaction.remarks' &&
        col.field !== 'transaction.approver' &&
        col.field !== 'transaction.missingReceiptAvailability' &&
        col.field !== 'transaction.projectCode'">{{item[col.field]}}</span>

          <span *ngIf="col.field == 'transaction.description'">
            <textarea pInputTextarea placeholder="Description" maxlength="300"
                      (focusout)="saveSingleTransactionData(item)"
                      [(ngModel)]="item[col.field]" (keyup)="clearSpace(item ,col.field)" rows="1"
                      class="p-inputtext-md max-width"></textarea>
      </span>

          <span *ngIf="col.field == 'transaction.department'">
              <div class="grid">
                <div class="col-12 text-center">
                  <div *ngIf="item.split">
                   <span (click)="splitTransactionId = item.id; showSplit()" class="link">--Split--</span>
                  </div>
                </div>
            </div>
            <div *ngIf="!item.split">
                <p-dropdown [virtualScroll]="department.data.length>20"
                            virtualScrollItemSize="25" [filter]="true"
                            [options]="department.data" id="{{'department' + i}}"
                            [autoDisplayFirst]="false"
                            [(ngModel)]="item['transaction.department']" class="department-dropdown" [showClear]="true"
                            optionDisabled="inactive" optionLabel="name" optionValue="id" placeholder="Select Department"
                            [style]="{'width':'100%'}" appendTo="body" (onChange)="saveSingleTransactionData(item)">

                  <ng-template pTemplate="footer">
                    <div class="grid dp-footer">
                      <div class="col-12 button-wrapper">
                        <button pButton class="p-button-sm" label="Add New"
                                *ngIf="privilegeService.isAuthorized(appAuthorities.DEPARTMENT_CREATE)"
                                (click)="isAddNewDepartment = true;"></button>
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>
            </div>
      </span>

          <span *ngIf="col.field == 'transaction.approver'">
              <p-dropdown [virtualScroll]="approvalUserList.data.length > 20" virtualScrollItemSize="25" [filter]="true" appendTo="body"
                          [options]="approvalUserList.data" id="{{'user' + i}}" [autoDisplayFirst]="false"
                          [(ngModel)]="item['transaction.approver']" [showClear]="true" [style]="{'width':'100%'}"
                          optionDisabled="inactive" optionLabel="name" optionValue="id" placeholder="Select Approver">

              <ng-template let-accounts pTemplate="item">
                <div class="grid">
                  <div class="dropdown-list"
                       [ngClass]="accounts.id == 0 ? 'dropdown-add': null">{{accounts.name}}</div>
                  <em *ngIf="accounts.name == 'Add New'"
                      class="pi pi-plus dropdown-add dropdown-icon"></em>
                </div>
              </ng-template>
            </p-dropdown>
      </span>

          <span *ngIf="col.field == 'transaction.remarks'">
                    <textarea pInputTextarea placeholder="Comment" maxlength="300"
                              (focusout)="saveSingleTransactionData(item)" rows="1"
                              [(ngModel)]="item[col.field]" (keyup)="clearSpace(item ,col.field)"
                              class="p-inputtext-md max-width"></textarea>
        </span>

          <span *ngIf="col.field == 'transaction.account'">
              <div class="grid">
                <div class="col-12 text-center">
                  <div *ngIf="item.split">
                   <span (click)="splitTransactionId = item.id; showSplit()" class="link">--Split--</span>
                  </div>
                </div>
            </div>
            <div *ngIf="!item.split">
              <p-dropdown [virtualScroll]="expenseAccountList.data.length  > 20" virtualScrollItemSize="25" [filter]="true" appendTo="body"
                          [options]="expenseAccountList.data" id="{{'account' + i}}" [autoDisplayFirst]="false"
                          [(ngModel)]="item['transaction.accountId']" [showClear]="true" [style]="{'width':'100%'}"
                          optionDisabled="inactive" optionLabel="name" optionValue="id" placeholder="Select Account"
                          (onChange)="accountChanged($event, item);">

                  <ng-template pTemplate="footer">
                    <div class="grid dp-footer">
                      <div class="col-12 button-wrapper">
                        <button pButton class="p-button-sm" label="Add New"
                                *ngIf="privilegeService.isAuthorized(appAuthorities.ACCOUNTS_CREATE)"
                                (click)="isAddNewAccount = true;"></button>
                      </div>
                    </div>
                  </ng-template>
            </p-dropdown>
            </div>
      </span>


          <span *ngIf="col.field == 'transaction.projectCode'">
            <div class="grid">
              <div class="col-12 text-center">
                <div *ngIf="item.split">
                 <span (click)="splitTransactionId = item.id; showSplit()" class="link">--Split--</span>
                </div>
              </div>
            </div>
            <div *ngIf="!item.split">
                   <p-dropdown [virtualScroll]="projectCodeList.data.length>20" virtualScrollItemSize="25" [style]="{'width':'100%'}"
                               [(ngModel)]="item['transaction.projectCodeId']" appendTo="body"
                               optionDisabled="inactive" [filter]="true" class="project-dropdown"
                               [options]="projectCodeList.data" id="{{'projectTask' + i}}" [showClear]="true"
                               optionLabel="name" optionValue="id" placeholder="Select Project Task" [autoDisplayFirst]="false"
                               (onChange)="projectChanged($event, item)">

                  <ng-template pTemplate="footer">
                    <div class="grid dp-footer">
                      <div class="col-12 button-wrapper">
                        <button pButton class="p-button-sm" label="Add New"
                                *ngIf="privilegeService.isAuthorized(appAuthorities.PROJECT_CODES_CREATE)"
                                (click)="isAddNewProject = true;"></button>
                      </div>
                    </div>
                  </ng-template>
                  </p-dropdown>
            </div>
        </span>

          <span *ngIf="col.field == 'transaction.missingReceiptAvailability'">
          <p-checkbox disabled [(ngModel)]="item['transaction.missingReceiptAvailability']"
                      [binary]="true"></p-checkbox>
        </span>

          <span *ngIf="col.field == 'transaction.billable'">
          <p-checkbox (focusout)="saveSingleTransactionData(item)" [(ngModel)]="item['transaction.billable']"
                      [binary]="true"></p-checkbox>
        </span>

          <span *ngIf="col.field == 'transaction.receipt'">
          <app-receipt-popup-manage [item]="item" (selectAction)="activeAction = item" [fromGrid]="true"
                                    [viewOnly]="true"></app-receipt-popup-manage>
      </span>
        </td>
      </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage">
      <div class="text-center grid table-empty-data">
          <div class="col-12">
            <i class="fa-solid fa-magnifying-glass"></i><br>
            <p>There are no records found</p>
          </div>
      </div>
    </ng-template>
  </p-table>

</div>


<!--Add New Account-->
<p-sidebar styleClass="p-sidebar-sm" [dismissible]="true" appendTo="body" [modal]="true" position="right"
           class="overflow-side-bar" *ngIf="isAddNewAccount" [(visible)]="isAddNewAccount">
  <ng-template pTemplate="header">Account Information</ng-template>
  <app-add-account (updatedAccountList)="getAccounts()"
                   [detailView]="false" [editView]="false" [panel]="true" *ngIf="isAddNewAccount"></app-add-account>
</p-sidebar>

<!--Add New Project Code-->
<p-sidebar styleClass="p-sidebar-sm" *ngIf="isAddNewProject" [dismissible]="true" appendTo="body" [modal]="true"
           position="right" class="overflow-side-bar" [(visible)]="isAddNewProject">
  <ng-template pTemplate="header">Create Project</ng-template>
  <app-create-new-project-code (updatedParentCodeList)="getProjectTaskList()" *ngIf="isAddNewProject">
  </app-create-new-project-code>
</p-sidebar>

<!--Create New Department-->
<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           class="overflow-side-bar"
           *ngIf="isAddNewDepartment" [(visible)]="isAddNewDepartment">
  <ng-template pTemplate="header">Create Department</ng-template>
  <app-add-department (updateDepartments)="getDepartment(); isAddNewDepartment = false"
                      *ngIf="isAddNewDepartment"></app-add-department>
</p-sidebar>


<p-confirmDialog key="pReject" #cd header="Are you sure?" icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cd.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, Reject it"
            (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>


<!--Change Assignee-->
<p-sidebar closeOnEscape="false" [(visible)]="viewChangeAssignee" position="right" styleClass="p-sidebar-sm">
  <ng-template pTemplate="header">Change Assignee</ng-template>
  <app-credit-card-change-assignee *ngIf="viewChangeAssignee" [heading]="activeAction['transaction.cardNo']" [id]="activeAction.id"
                                   (refreshGridAfterChangedAssignee)="getDataFromBackend(); viewChangeAssignee = false">
  </app-credit-card-change-assignee>
</p-sidebar>

<app-audit-trial *ngIf="auditTrialPanel" [auditTrial]="auditTrial" (closeDrawer)="auditTrialPanel = false"
                 [heading]="'$'+activeAction['transaction.amount'] +' on ' + activeAction['transaction.transactionDate']
                  + ' by '+ activeAction['transaction.employeeName']" [panelShow]="auditTrialPanel"></app-audit-trial>


<!--Action Buttons-->

<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right" (onHide)="showFilter= false"
           [fullScreen]="false" [(visible)]="showFilter" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Advance Filter</ng-template>
  <app-table-column-filters [dt]="table" [columns]="tableSupportBase.filterEnabledColumns" (closeDrawer)="showFilter = false"
                            [tableSupportBase]="tableSupportBase"></app-table-column-filters>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm table-column-sidebar" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="showFilterColumns= false" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)"
           [fullScreen]="false" [(visible)]="showFilterColumns">
    <ng-template pTemplate="header">Columns</ng-template>
  <app-table-column-toggle [cols]="selectedColumns" (selectionsUpdated)="selectedColumns = $event"
                           [tableInstance]="table" (restoreTable)="loadTableData()"
                           [tableKey]="tableKeyEnum.SUBMITTED_CARD_TABLE_KEY"
                           [gridName]="appConstant.GRID_NAME_TRANSACTION_LIST"
                           [hiddenOptions]="tableSupportBase.hiddenInOptions"
                           (updateColOrder)="onTableChanged($event)"></app-table-column-toggle>
</p-sidebar>


<!--Context Menu-->
<p-contextMenu #cm appendTo="body" (onShow)="tableSupportBase.hideActionMenu(menu)" [model]="tableSupportBase.contextMenuActionList"></p-contextMenu>

<p-dialog appendTo="body" [modal]="true" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)" [draggable]="false"
          [(visible)]="showSplitPopup" *ngIf="showSplitPopup" [resizable]="false"
          header="Split Transaction" position="center" [style]="{width: '65vw'}" styleClass="dialog-padding-zero">
  <app-credit-card-transaction-split [transactionId]="splitTransactionId"
                                     (onSuccess)="loadData(tableSupportBase.searchFilterDto); showSplitPopup = false"></app-credit-card-transaction-split>
</p-dialog>
