@import "../../../../../scss/color.scss";

.notConnected {
  color: #d94646;
  font-size: 12px;
}

.connected {
  color: $green;
  font-size: 12px;
}

.contact-support {
  text-align: center;
  color: $green;
  font-weight: bolder;
}

.connection-status {
  text-align: end;
}

.provider-name {
  color: $green;
  font-weight: bolder;
}

.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  border-radius: 5px;
}

.avatar-upload .avatar-preview > div {
  //width: 57px;
  height: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-padding {
  //padding: 4px;
}

.p-card-custom {
  padding: 0.938rem;
  margin-top: 1rem;
  margin-right: 1rem;
  overflow: auto;
  border-radius: 12px;
}

.form-style {
  margin: 10px 0 0 0;
  padding: 5px;
}

.custom-label {
  float: left;
  width: 100%;
  color: $light-grey;
  font-weight: normal;
  margin-bottom: 10px;
}

.payment-time-config {
  float: left;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: $light-grey;
}

@media only screen and (max-width: 1920px) {
  .payment-provider-button-support {
    width: 150%;
  }
}

.default-provider {
  background: $tertiary-blue;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  float: left;
  width: 127px;
  height: 28px;
  padding-top: 6px;
  padding-right: 12px;
}

.card-parent {
  min-width: 550px;
  float: left;
}

.payment-type-style {
  float: left;
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin-right: 15px;
    list-style: none;
  }
}
.sticky-btn {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}


.card-header-custom {
  height: 47px;
}

.config-button{
  display: flex;
}

.default-selection{
  align-self: end;
}

.change-cancellation-time {
  align-self: self-end !important;
}

.top-alignment-time{
  margin-top: -34px;
}

.default-provider-bg{
  background-color: #f4f6f9;
}

.invalid-provider-bg{
  background-color: #ffe7e6;
  border: solid 1px #d94646;
}

.invalid-payment-provider-text{
  font-size: 12px;
  font-weight: normal;
  color: #d94646;
  padding-top: 5px;
}


.pi-circle-on{
  font-size: 8px !important;
}

.provider-description{
  margin-top: 10px;
  margin-right: 14px;
  height: 65px;
  max-height: 65px !important;
  overflow: auto;
}

.provider-sub-heading{
  font-size: 12px;
  font-weight: bold;
  color: #bcbcbc;
}

.card-view{
  padding-left: 19px;
  max-height: 91vh;
  overflow: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 1366px) {
  .card-view{
    max-height: 84vh;
  }
}

.sticky-topic {
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure the sticky header is above other content */
  background-color: white; /* Set a background color for the header */
  padding: 0;
  margin-top: 21px;
}

.drawer-wrapper-config{
  //height: calc(100vh - 102px);
}

.p-button.p-button-sm {
  padding: 8px 15px !important;
}
