<div class="side-bar-drawer-content pt-4 p-3">
<form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
  <div class="grid p-fluid">

    <div class="field p-fluid col-12">
      <label class="label-wrapper" for="float-input">Password*</label>
      <div class="p-inputgroup">
      <span class="p-float-label  p-input-icon-right">
           <i [ngClass]="passwordShow? 'pi pi-eye-slash' : 'pi pi-eye'"
              (click)="passwordShow? passwordShow= false: passwordShow= true"></i>
             <input  class="password-text"  formControlName="password" [feedback]="false" autocomplete="new-password" style="width: 100%"
                    [showPassword]="passwordShow" id="float-input" type="password" pPassword>
      </span>
      </div>
      <div class="p-invalid  text-align-left"
           *ngIf="passwordResetForm.get('password').dirty && passwordResetForm.get('password').errors">
        <div *ngIf="passwordResetForm.get('password').errors.required">Password is required</div>
        <div *ngIf="passwordResetForm.get('password').errors.minlength">Password must be at least 8 characters</div>
        <div *ngIf="passwordResetForm.get('password').errors.maxlength">Password must be less than 20 characters</div>
      </div>
    </div>

    <div class="field p-fluid col-12">
      <label class="label-wrapper" for="confirmPassword">Confirm Password*</label>
      <div class="p-inputgroup">
     <span class="p-float-label p-input-icon-right">
        <i [ngClass]="confirmPasswordShow? 'pi pi-eye-slash' : 'pi pi-eye'"
           (click)="confirmPasswordShow? confirmPasswordShow= false: confirmPasswordShow= true"></i>
              <input class="password-text" [feedback]="false" [showPassword]="confirmPasswordShow" style="width: 100%"
                     formControlName="confirmPassword" id="confirmPassword"  type="password" pPassword autocomplete="new-password">
     </span>
      </div>
      <div class="p-invalid"
           *ngIf="passwordResetForm.get('confirmPassword').dirty && passwordResetForm.get('confirmPassword').errors">
        <div *ngIf=" passwordResetForm.get('confirmPassword').errors.required">Confirm Password is
          required
        </div>
        <div *ngIf="passwordResetForm.get('confirmPassword').errors.mustMatch">New password and
          Confirm Password must match
        </div>
      </div>
    </div>

  </div>
</form>
</div>

<div class="grid panel-footer footer">
  <div class="col-12 button-set-wrapper form-footer-button">
    <div class="pull-right">
      <button pButton type="button" label="Reset" (click)="formReset()" [disabled]="loading"
              class="p-button-outlined p-button-sm margin-right" icon="fa-solid fa-rotate-right"></button>&nbsp;
      <button pButton type="button" (click)="resetPassword()" class="p-button-sm" iconPos="left"
              [disabled]="loading" [icon]="loading ? 'pi pi-spin pi-spinner': 'pi pi-save'" label="Save Changes"></button>
    </div>
  </div>
</div>
<!--Notification Messages-->
<p-toast position="top-left" key="bc1"></p-toast>
