<form [formGroup]="createRoleForm" class="p-3" autocomplete="off">
  <div class="grid p-fluid">
    <div class="col-5">
      <div>
        <label class="label-wrapper" for="roleName">Role Name*</label>
        <input formControlName="roleName" id="roleName" type="text" pInputText>
      </div>
      <div class="p-invalid text-align-left"
           *ngIf="createRoleForm.get('roleName').dirty && createRoleForm.get('roleName').hasError('required')">
        Role Name is required
      </div>
      <div class="p-invalid text-align-left"
           *ngIf="createRoleForm.get('roleName').hasError('maxlength')">
        Role Name must be less than 50 characters
      </div>
    </div>
  </div>
  <div class="grid">
    <div [ngClass]="'col-12'">
      <p-fieldset [style]="{'height': 'calc(100vh - 210px)', 'overflow-y': 'auto'}" legend="System Privileges">
        <app-tree-checkbox #treeCheckboxComponent [nodes]="treeNodes"></app-tree-checkbox>
      </p-fieldset>
    </div>
  </div>
</form>

<div class="grid panel-footer footer">
  <div class="col-12 button-set-wrapper form-footer-button">
    <div class="pull-right">
      <button pButton type="button" icon="fa-solid fa-rotate-right" (click)="resetRoleCreation()" label="Reset"
              class="p-button-outlined p-button-sm" [disabled]="btnLoading"></button>&nbsp;&nbsp;
      <button pButton type="submit" class="p-button-sm" label="Create Role" (click)="onSubmit()"
              [icon]="btnLoading ? 'pi pi-spin pi-spinner': 'pi pi-plus'" [disabled]="btnLoading"></button>
    </div>
  </div>
</div>
