<div class="height mb-8">
  <form [formGroup]="createEInvoiceForm" autocomplete="off" >
    <input formControlName="focusListener" [hidden]="true">
    <h6 class="subHeading">Bill Information</h6><br>

    <app-bill-header-section [createEInvoiceForm]="createEInvoiceForm" [department]="department"
                             [fromRecurringBill]="fromRecurringBill" (addDepartmentEmit)="this.departmentPanel = true"
                             (vendorAddNew)="this.isAddVendor = true" (paymentTermChange)="changePaymentTerm()"
                             [headerAdditionalFieldDetails]="headerAdditionalFieldDetails" [vendorsList]="vendorsList"
                             [headingSectionArray]="headingSectionArray" [termList]="termList" [fromCreditCard]="true"
                             (formatDateHeadingSectionEmit)="formatDateHeadingSection($event.event, $event.i)"
                             (updatedProjectCodeList)="getProjectCodeList()" (vendorChange)="changeVendor($event)"
                             (projectCodeChange)="changeProjectCode()"  (departmentChange)="changeDepartment()"
                             (termChange)="termManuallyChanged()" [projectTasks]="projectTasks" (billDateChange)="changeBillDate()"
                             [customerInvoiceList]="customerInvoiceList" (updatedCustomerInvoiceList)="getCustomerInvoiceList()"
                             (additionalFieldAddNew)="selectedAdditionalField = $event; addNewDropDown = true"
                             (dueDate)="getDueDate($event.data, $event.fromTerm, $event.fromNet, $event.fromDue)"
                             (addNewAdditionalDropDownOptionEmit)="addNewAdditionalDropDownOption($event.event,
                             $event.additionalFieldDetailDto, $event.additionalField, $event.multiSelect)"
    ></app-bill-header-section>

    <h6 class="subHeadingColour">Expense Cost Distribution</h6>
    <div>
      <p-table responsiveLayout="scroll" [value]="expenseCostDistributionForms.controls" scrollable="true"
               scrollHeight="367px"
               [style]="{width:'auto'}" scrollDirection="both"
               styleClass="p-datatable-sm p-datatable-striped detail-table">

        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:50px"  class="thead-style detail-table-header-left" id="noA">#</th>
            <th style="min-width:170px" class="thead-style detail-table-header-left" id="project">Project/Task<span
              *ngIf="isLineItemAsteriskMark(appFormConstants.PROJECT_CODE,appModuleSection.EXPENSE_COST_DISTRIBUTION_SECTION_ID)">{{'*'}}</span></th>
            <th style="min-width:170px" class="thead-style detail-table-header-left" id="accountNo">Account Number*</th>
            <th style="min-width:170px" class="thead-style detail-table-header-left" id="accountName">Account Name<span
              *ngIf="isLineItemAsteriskMark(appFormConstants.ACCOUNT_NAME,appModuleSection.EXPENSE_COST_DISTRIBUTION_SECTION_ID)">{{'*'}}</span></th>
            <th style="min-width:260px" class="thead-style detail-table-header-left" id="description">Description<span
              *ngIf="isLineItemAsteriskMark(appFormConstants.DESCRIPTION,appModuleSection.EXPENSE_COST_DISTRIBUTION_SECTION_ID)">{{'*'}}</span></th>
            <th style="min-width:200px" class="thead-style detail-table-header-left" id="department">Department<span
            *ngIf="isLineItemAsteriskMark(appFormConstants.DEPARTMENT_ID,appModuleSection.EXPENSE_COST_DISTRIBUTION_SECTION_ID)">{{'*'}}</span></th>
            <th style="min-width:80px; text-align: center !important;"  class="thead-style" id="billable">Billable<span
              *ngIf="isLineItemAsteriskMark(appFormConstants.BILLABLE,appModuleSection.EXPENSE_COST_DISTRIBUTION_SECTION_ID)">{{'*'}}</span></th>
            <th style="min-width:100px; text-align: center !important;" class="thead-style" id="taxableExpense">Taxable<span
              *ngIf="isLineItemAsteriskMark(appFormConstants.TAXABLE,appModuleSection.EXPENSE_COST_DISTRIBUTION_SECTION_ID)">{{'*'}}</span></th>
            <th style="min-width:250px" class="thead-style detail-table-header-left"
                *ngFor="let additionalField of additionalFieldForExpenseCostDistributions; let i=index">
              {{additionalField.fieldName}} {{additionalField.required ? '*' : ''}}
            </th>
            <th style="min-width:200px" class="thead-style detail-table-header-right" id="amount">Line Amount</th>
            <th style="min-width:50px" class="thead-style detail-table-header-left" id="empty1"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-item
                     formArrayName="creditCardTransactionList">
          <tr [formGroupName]="i">
            <td style="text-align: center; width:50px"><label>{{i + 1}}</label></td>

            <td style="width:200px">
              <p-dropdown [virtualScroll]="projectTasks.data.length>20" virtualScrollItemSize="25"
                          [options]="projectTasks.data" id="{{'projectTask' + i}}" inputId="code"
                          formControlName="projectId" [showClear]="true"
                          optionLabel="name" optionValue="id" placeholder="Project Task"
                          [style]="{'width':'100%'}" class="expense-table-dropdown"
                          [autoDisplayFirst]="false" #code appendTo="body"
                          (onChange)="accountChangedExpTable();
                          billUtility.loadAccountsAccordingToTheProjectTaskId(code.selectedOption.id, i, false, 0);"
                          (onClick)="billUtility.patchHeaderProjectCodeToLineLevel(item, createEInvoiceForm, false, expenseCostDistributionForms, i)"
                          (onClear)="billUtility.patchHeaderProjectCodeToLineLevel(item, createEInvoiceForm, true, expenseCostDistributionForms, i)"
                          [filter]="true">
                <ng-template pTemplate="selectedItem">
                  <div>{{code.selectedOption.name}}</div>
                </ng-template>

                <ng-template pTemplate="footer" *ngIf="privilegeService.isAuthorized(appAuthorities.PROJECT_CODES_CREATE)">
                  <div class="grid dp-footer">
                    <div class="col-12 button-wrapper">
                      <button pButton class="p-button-sm" label="Add New"
                              (click)="isAddNewProjectCodes = true"></button>
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </td>

            <td style="width:175px">
              <p-dropdown [virtualScroll]="billUtility.accountTableAccountListArray[i]?.data.length > 20" virtualScrollItemSize="25"
                          [options]="billUtility.accountTableAccountListArray[i]?.data" id="{{'account' + i}}" inputId="account"
                          *ngIf="item.get('hideAccountNumberInput').value ||
                          (!item.get('hideAccountNumberInput').value && !item.get('accountNumber').value)"
                          formControlName="accountId" class="expense-table-dropdown"
                          [showClear]="true"
                          optionLabel="name" optionValue="id" placeholder="Account Number"
                          [style]="{'width':'100%'}"
                          (onChange)="getAccountNameForExpenseContributionTable($event.value, i);"
                          (onClick)="billUtility.conditionallyLoadAccountList(item.get('projectId').value, i, createEInvoiceForm.get('projectCodeId').value,billId,true)"
                          [autoDisplayFirst]="false" #selectAccountLabel appendTo="body"
                          [filter]="true">
                <ng-template pTemplate="selectedItem">
                  <div>{{expenseCostDistributionForms.controls[i].get('accountNumber').value}}</div>
                </ng-template>

                <ng-template pTemplate="footer" *ngIf="privilegeService.isAuthorized(appAuthorities.ACCOUNTS_CREATE)">
                  <div class="grid dp-footer">
                    <div class="col-12 button-wrapper">
                      <button pButton class="p-button-sm" label="Add New"
                              (click)="isAddNewAccount = true"></button>
                    </div>
                  </div>
                </ng-template>

              </p-dropdown>
              <div class="p-inputgroup"
                   *ngIf="!item.get('hideAccountNumberInput').value && item.get('accountNumber').value">
                <input formControlName="accountNumber"
                       (mouseover)="billUtility.conditionallyLoadAccountList(item.get('projectId').value,
                           i, createEInvoiceForm.get('projectCodeId').value, billId, true);
                           billUtility.animateAccountNumberField(item)"
                       placeholder="Account Number"
                       name="accountNumber" id="{{'accountNumber' + i}}" [readOnly]="true"
                       type="text" pInputText>
              </div>

            </td>


            <td style="width:170px">
              <div class="p-inputgroup">
                <input formControlName="accountName"
                       placeholder="Account Name"
                       name="description" id="{{'accountName' + i}}" [readOnly]="true"
                       type="text" pInputText>
              </div>
            </td>

            <td style="width:260px">
              <div class="p-inputgroup">
              <textarea formControlName="description" placeholder="Description" name="description" rows="1"
                        (keyup)="removeSpace.clearSpace(expenseCostDistributionForms.controls[i], 'description')"
                         maxlength="500" type="text" pInputTextarea></textarea>
              </div>
            </td>

            <td style="width:200px">
             <span class="p-float-label">
               <p-dropdown [virtualScroll]="department.data.length>20" virtualScrollItemSize="25"
                           [options]="department.data" id="departmentIdItem" placeholder="Department"
                           optionDisabled="inactive"
                           (onChange)="departmentChangedExp();
                           changedDepartmentAccount($event, i)" [style]="{'width':'100%'}"
                           inputId="dropdown" appendTo="body" showClear="true" #dpNameDepartmentAccount
                           formControlName="departmentId" optionLabel="name" optionValue="id"
                           [autoDisplayFirst]="false" [filter]="true">
                 <ng-template pTemplate="selectedItem">
                   <div>{{dpNameDepartmentAccount.selectedOption.name}}</div>
                 </ng-template>
                 <ng-template pTemplate="footer">
                  <div class="grid dp-footer">
                    <div class="col-12 button-wrapper">
                      <button pButton class="p-button-sm" label="Add New"
                              *ngIf="privilegeService.isAuthorized(appAuthorities.DEPARTMENT_CREATE)"
                              (click)="departmentPanel = true;"></button>
                    </div>
                  </div>
                </ng-template>
               </p-dropdown>
             </span>
            </td>


            <td class="text-center" style="width:80px">
              <div>
                <p-checkbox formControlName="billableBln" [binary]="true"></p-checkbox>
              </div>
            </td>

            <td style="width:100px">
              <div class="p-inputgroup line-level-checkbox-wrapper">
                <div class="field-checkbox ml-6 checkbox-outer-wrapper">
                  <p-checkbox name="checkBox" formControlName="taxableBln" id="taxableExpense_{{i}}"
                              (onChange)="getTotalCostDistribution()"
                              binary="true"></p-checkbox>
                  <label for="taxableExpense_{{i}}"></label>
                </div>
              </div>
            </td>



            <ng-container formArrayName="additionalData"
                          *ngIf="additionalFieldForExpenseCostDistributions.length > 0">
              <td style="width:250px"
                  *ngFor="let additionalLineItemField of expenseCostDistributionAdditionalFields(i).controls; let itemIndex = index"
                  [formGroupName]="itemIndex">

                <div
                  *ngIf="appFieldType.LABEL=== additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId">
                  <input
                    type="text" class="form-control" pInputText
                    readonly [value]="additionalFieldForExpenseCostDistributions[itemIndex].value">
                </div>

                <div
                  *ngIf="appFieldType.TEXT_BOX === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId">
                  <div class="p-inputgroup">
                    <input formControlName="fieldValue" type="text" pInputText
                           id="input_{{itemIndex}}"
                           maxlength="{{additionalFieldForExpenseCostDistributions[itemIndex].maxLength}}"
                           [pKeyFilter]="commonUtil.buildRegex(additionalFieldForExpenseCostDistributions[itemIndex].dataType)"
                           placeholder="{{additionalFieldForExpenseCostDistributions[itemIndex].fieldName}}"
                           (keyup)="removeSpace.clearSpace(additionalLineItemField, 'fieldValue')">
                  </div>
                </div>

                <div
                  *ngIf="appFieldType.TEXT_AREA === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId">
                  <div class="p-inputgroup">
                     <span class="p-float-label">
                          <textarea formControlName="fieldValue" id="notes_{{itemIndex}}" pInputTextarea
                                    placeholder="{{additionalFieldForExpenseCostDistributions[itemIndex].fieldName}}"
                                    rows="1"
                                    [maxLength]="additionalFieldForExpenseCostDistributions[itemIndex].maxLength"
                                    (keyup)="removeSpace.clearSpace(additionalLineItemField, 'fieldValue')">
                          </textarea>
                     </span>
                  </div>
                </div>

                <div
                  *ngIf="appFieldType.DROP_DOWN_FIELD === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId &&
                               additionalFieldForExpenseCostDistributions[itemIndex].multiple === 'A'">
                  <p-multiSelect
                    [options]="additionalFieldForExpenseCostDistributions[itemIndex].optionsList.data"
                    appMultiselectFocus
                    id="multiselect_{{itemIndex}}" appendTo="body" [style]="{'width':'100%'}"
                    optionValue="id" inputId="multiselect_{{itemIndex}}" #multiSelect2 optionDisabled="inactive"
                    placeholder="Select {{additionalFieldForExpenseCostDistributions[itemIndex].fieldName}}"
                    (onChange)="addNewAdditionalDropDownOption($event,additionalFieldForExpenseCostDistributions[itemIndex],additionalLineItemField, multiSelect2)"
                    (onClick)="commonUtil.isAllowedToTriggerClickEvent(multiSelect2, additionalFieldForExpenseCostDistributions[itemIndex]) ?
                         addNewAdditionalDropDownOption($event,additionalFieldForExpenseCostDistributions[itemIndex],additionalLineItemField, multiSelect2): null"
                    formControlName="fieldValue" optionLabel="name" [showToggleAll]="true"
                    [filter]="true">
                    <ng-template pTemplate="selectedItem">
                      <div>{{additionalLineItemField.get('fieldValue').value.name}}</div>
                    </ng-template>

                    <ng-template let-multiselect pTemplate="item">
                      <div class="grid">
                        <div class="dropdown-list">{{multiselect.name}}</div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="footer" *ngIf="additionalFieldForExpenseCostDistributions[itemIndex].createNew === 'A'">
                      <div class="grid dp-footer">
                        <div class="col-12 button-wrapper">
                          <button pButton class="p-button-sm" label="Add New"
                                  (click)="addNewDropDown = true;
                           setSelectedAdditionalField(additionalFieldForExpenseCostDistributions[itemIndex])"></button>
                        </div>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </div>

                <div
                  *ngIf="appFieldType.DROP_DOWN_FIELD === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId &&
                              additionalFieldForExpenseCostDistributions[itemIndex].multiple != 'A'">
                  <p-dropdown
                    [virtualScroll]="additionalFieldForExpenseCostDistributions[itemIndex].optionsList.data.length>20"
                    virtualScrollItemSize="25" class="additional-field-dropdown" optionDisabled="inactive"
                    [options]="additionalFieldForExpenseCostDistributions[itemIndex].optionsList.data"
                    [showClear]="true" #dropdown2
                    appendTo="body" [style]="{'width':'100%'}"
                    (onChange)="addNewAdditionalDropDownOption($event,additionalFieldForExpenseCostDistributions[itemIndex],additionalLineItemField, dropdown2)"
                    id="dropdown_{{itemIndex}}" optionValue="id" optionLabel="name"
                    [autoDisplayFirst]="false"
                    formControlName="fieldValue" inputId="dropdown_{{itemIndex}}"
                    [filter]="true"
                    placeholder="Select {{additionalFieldForExpenseCostDistributions[itemIndex].fieldName}}">
                    <ng-template pTemplate="selectedItem">
                      <div>{{dropdown2.selectedOption.name}}</div>
                    </ng-template>

                    <ng-template pTemplate="footer" *ngIf="additionalFieldForExpenseCostDistributions[itemIndex].createNew === 'A'">
                      <div class="grid dp-footer">
                        <div class="col-12 button-wrapper">
                          <button pButton class="p-button-sm" label="Add New"
                                  (click)="addNewDropDown = true;
                           setSelectedAdditionalField(additionalFieldForExpenseCostDistributions[itemIndex])"></button>
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>

                <div
                  *ngIf="appFieldType.FILE_INPUT === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId">
                  <div class="p-inputgroup" app-additional-file-upload [additionalField]="additionalLineItemField"
                       [index]="i"
                       [additionalFieldProperties]="additionalFieldForExpenseCostDistributions[itemIndex]">
                  </div>
                </div>

                <div
                  *ngIf="appFieldType.DATE_FIELD=== additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId">
                  <div class="p-inputgroup">
                    <p-calendar [style]="{'width':'100%'}" formControlName="fieldValue"
                                appTabindexMinusOne
                                id="dateField_{{itemIndex}}" [showButtonBar]="true"
                                [showIcon]="true" appendTo="body"
                                (onSelect)="formatDateSection($event, itemIndex, additionalLineItemField)"
                                placeholder="Select {{additionalFieldForExpenseCostDistributions[itemIndex].fieldName}}"></p-calendar>
                  </div>
                </div>

                <div
                  *ngIf="appFieldType.CHECK_BOX === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId">
                  <div class="p-inputgroup additional-field-checkbox-wrapper">
                    <div class="field-checkbox ml-2">
                      <p-checkbox name="checkBox" formControlName="fieldValue" id="binaryB1"
                                  (onChange)="getTotalCostDistribution()"
                                  binary="true"></p-checkbox>
                      <label
                        for="binaryB1">{{additionalFieldForExpenseCostDistributions[itemIndex].fieldName}}{{additionalFieldForExpenseCostDistributions[itemIndex].required ? '*' : ''}}</label>
                    </div>
                  </div>
                </div>

                <div
                  *ngIf="appFieldType.RADIO_BUTTON === additionalFieldForExpenseCostDistributions[itemIndex].fieldTypeId ">
                  <div class="grid col-12" [style]="{'align-items': 'center'}">
                    <div
                      *ngFor="let option of additionalFieldForExpenseCostDistributions[itemIndex].options">
                      <input id="expense" type="radio" value="{{option.optionValue}}"
                             class="radioButton"
                             formControlName="fieldValue">
                      <span for="expense">{{' ' + option.optionValue}}</span>

                    </div>
                  </div>
                </div>

              </td>
            </ng-container>

            <td class="text-right" style="width:200px">
              <div class="p-inputgroup">
                <input pInputText type="text"
                       name="amount" id="{{'amount_' + i}}"
                       (keyup)="(expenseCostDistributionForms.controls.length === (i +1) &&
                           expenseCostDistributionForms.controls[i].dirty); getTotalCostDistribution()"
                       [options]="{ prefix: '', thousands: ',', decimal: '.' }" currencyMask
                       (focusout)="amountChanged()"
                       appNoNegativeValues
                       value="{{expenseCostDistributionForms.controls[i].value.amount | currency: '':''}}"
                       placeholder="Line Amount"
                       formControlName="amount">
              </div>
            </td>


            <td class="text-center" style="width:50px">
              <i class="fa fa-trash item-remove-button" *ngIf="expenseCostDistributionForms.length > 1"
                 (click)="removeExpenseCostDistributionRecord(i); getTotalCostDistribution()"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <br>
    <div class="grid">
      <div class="order-drop-zone p-fluid col-12 xl:col-7 top-marging">
        <label class="label-wrapper" for="notes">Additional Notes</label>
          <span class="p-float-label">
            <textarea formControlName="additionalNotes"
                      (keyup)="removeSpace.clearSpace(createEInvoiceForm, 'additionalNotes')"
                      maxlength="500" id="notes" rows="2" pInputTextarea></textarea>
          </span>
      </div>
      <div class="order-amount-fields col-12 offset-0 xl:col-5">

        <div class="grid">
          <span class="col-6 lg:col-8 md:col-4 sm:col-5  xl:col-5 amount-text-alignment amount-label mt-1">Bill Amount</span>
          <div class="col-6 lg:col-4 sm:col-7 md:col-8 xl:col-7">
            <div class="p-fluid">
              <input tabindex="-1" pInputText currencyMask placeholder="0.00"
                     [options]="{prefix: '', thousands: ',', decimal: '.'}"
                     class="text-right amounts"
                     formControlName="billAmount" id="billAmount" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div *ngIf="!isWorkflowConfigAvailable && !isSaveAsApprovedWorkFlow" class="order-drop-zone condition-resize col-12 xl:col-8">
        <div class="col-12 xl:col-8 lg:col-8 md:col-12 sm:col-12">
          <div class="grid mt-2">
            <h6 class="subHeadingColour"
                *ngIf="billStatus  !== enums.STATUS_APPROVED">{{(billStatus === enums.STATUS_PENDING || billStatus === enums.STATUS_REJECT) && isAvailableAwaitingApproval ?
              'Awaiting Approval of' : 'Select Approver(s)'}}</h6>

            <h6 class="subHeadingColour" *ngIf="billStatus  === enums.STATUS_APPROVED">{{'Add Additional Approver(s)'}}</h6>

            <div formArrayName="adHocWorkflowDetails" class="condition-resize" *ngIf="adHocWorkflowDetails.length>0">

              <ng-container *ngFor="let adHoc of adHocWorkflowDetails.controls; let adHocIndex=index"
                            [formGroupName]="adHocIndex">
                <span class="grid p-fluid" style="min-width: 900px"
                      *ngIf="adHoc.get('completed').value  === false && editView">

                  <div class="field col-1" *ngIf="editView" style="padding-top: 25px;">
                    <input tabindex="-1" pInputText class="index-style text-style amounts" value="{{adHocIndex + 1}}"
                           readonly>
                  </div>
                </span>

                <span class="grid p-fluid" style="min-width: 900px" >
                  <div class="field col-1" *ngIf="!editView" style="padding-top: 25px;">
                    <input tabindex="-1" pInputText formControlName="approvalOrder" class="index-style text-style amounts"
                           value="{{adHocIndex + 1}}" readonly>
                  </div>

                  <div class="field p-fluid col-4">
                    <div class="label-wrapper">Select Approval Group</div>
                    <p-dropdown [virtualScroll]="approvalGroupList.data.length > 20" virtualScrollItemSize="25" #dpApprovalGroup
                                formControlName="approvalGroup" id="approvalGroup1{{adHocIndex}}"
                                [autoDisplayFirst]="false" optionValue="id" optionLabel="name"
                                [showClear]="true" appendTo="body" placeholder="Select Approval Group"
                                (onChange)="validateButtonOnChangeAddOption(); this.adHocWorkflowDetails.controls[adHocIndex].get('approvalUser').reset();
                                commonUtil.isPressEnterInsideDropdown(dpApprovalGroup)"
                                [options]="approvalGroupList.data" optionDisabled="inactive" [filter]="true">
                    </p-dropdown>
                    <div class="p-invalid text-align-left" *ngIf="adHocWorkflowDetails.controls[adHocIndex].get('approvalGroup').dirty
                    && adHocWorkflowDetails.controls[adHocIndex].get('approvalGroup').errors"> Approval Group Required
                    </div>
                  </div>

                  <div class="field p-fluid  text-center p-2 label-wrapper" style="padding-top: 33px !important;">or</div>

                  <div class="field p-fluid col-4">
                    <div class="label-wrapper">Select Approval User</div>
                    <p-dropdown [virtualScroll]="approvalUserList.data.length > 20" virtualScrollItemSize="25" #dpApprovalUser
                                formControlName="approvalUser" id="approvalUser1{{adHocIndex}}"
                                optionValue="id" optionLabel="name" appendTo="body" placeholder="Select Approval User"
                                (onChange)="validateButtonOnChangeAddOption();  this.adHocWorkflowDetails.controls[adHocIndex].get('approvalGroup').reset();
                                commonUtil.isPressEnterInsideDropdown(dpApprovalUser)"
                                [options]="approvalUserList.data" optionDisabled="inactive" [filter]="true"
                                [showClear]="true">
                    </p-dropdown>

                    <div class="p-invalid text-align-left" *ngIf="adHocWorkflowDetails.controls[adHocIndex].get('approvalUser').dirty
                    && adHocWorkflowDetails.controls[adHocIndex].get('approvalUser').errors"> Approval User Required
                    </div>
                  </div>

                  <div class="field col-2" style="padding-top: 24px;">
                    <button tabindex="-1" pButton type="button" class="p-button-sm p-button-borderless" iconPos="left"
                            icon="fa-solid fa-trash-can" *ngIf="adHocWorkflowDetails.controls.length > 1"
                            (click)="removeAdHocWorkflow(adHocIndex)">
                    </button>&nbsp;

                    <button tabindex="-1" pButton type="button" class="p-button-sm p-button-borderless" iconPos="left"
                            icon="fa-solid fa-plus" *ngIf="adHocIndex == (adHocWorkflowDetails.controls.length-1)"
                            (click)="addAdHocWorkflowDetail()">
                    </button>
                  </div>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="matchingAutomation && isWorkflowConfigAvailable" class="order-drop-zone col-12 xl:col-7 top-marging">
        <h6 class="subHeadingColour">Automated Workflow</h6>
        <app-automated-workflow-preview *ngIf="matchingAutomation"
                                        [matchingAutomation]="matchingAutomation"></app-automated-workflow-preview>
      </div>
    </div>

    <br>
    <div class="grid">
      <div class="col-12 xl:col-12 top-marging">
        <ngx-dropzone accept="application/pdf,image/png,image/jpeg,image/jpg"
                      (change)="changeFileList($event)" class="drop-zone-style"
                      style="height: 234px; background-color: #f4fbfa">
          <ngx-dropzone-label class="dp-zone-big-text-wrapper p-text-normal">Drop File(s) Here To Upload <br><br>
            <span class="dp-zone-small-text-wrapper p-text-normal">(We only accept PDF, JPG JPEG and PNG formats, all the other formats will be ignored)</span>
          </ngx-dropzone-label>
          <ngx-dropzone-preview class="preview-file" *ngFor="let f of attachments" [removable]="true"
                                (removed)="onRemove(f)">
            <ngx-dropzone-label class="uploaded-file-name">{{ f.name }}</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </form>
</div>

<div class="grid fixed panel-footer footer">
  <div class="col-12 button-set-wrapper form-footer-button">
    <div class="pull-right">
      <button pButton type="button" (click)="resetEInvoiceForm()" label="Reset" class="p-button-outlined p-button-sm"
              [disabled]="isLoading || isLoadingSaveAsApproved || isSaveLoading" icon="fa-solid fa-rotate-right"></button>

      <button pButton (click)="isLoadingSaveAsApproved = true;  (billStatus == enums.STATUS_PENDING && editView && !isEnabledSubmitForApprovalButton)?
         createEInvoice('SUBMIT_FOR_APPROVED') : createEInvoice('SAVE_AS_APPROVED')"
              type="button"
              *ngIf="isSaveAsApprovedButtonEnabled()"
              class="p-button-outlined p-button-sm ml-2" iconPos="left"
              [disabled]="loadingButton()" [icon]="isLoadingSaveAsApproved ? 'pi pi-spin pi-spinner': 'pi pi-save'"
              label="Save As Approved"></button>

      <button pButton class="p-button-sm ml-2" [disabled]="loadingButton()" *ngIf="isSubmitForApprovedButtonEnabled()"
              (click)="isLoading = true; createEInvoice('SUBMIT_FOR_APPROVED')" type="button"
              [icon]="isLoading ? 'pi pi-spin pi-spinner': 'fa-solid fa-share-from-square'" iconPos="left"
              label="Submit For Approval"></button>
    </div>
  </div>
</div>

<!--Add New Account-->
<p-sidebar styleClass="p-sidebar-sm" [dismissible]="true" appendTo="body" [modal]="true" position="right"
           class="overflow-side-bar" *ngIf="isAddNewAccount" [(visible)]="isAddNewAccount">
  <ng-template pTemplate="header">Account Information</ng-template>
  <app-add-account (updatedAccountList)="updatedAccountList.emit()"
                   [detailView]="false" [editView]="false" [panel]="true" *ngIf="isAddNewAccount"></app-add-account>
</p-sidebar>


<!--Add New Project Code-->
<p-sidebar styleClass="p-sidebar-sm" *ngIf="isAddNewProjectCodes" [dismissible]="true" appendTo="body" [modal]="true"
           position="right" class="overflow-side-bar"
           [(visible)]="isAddNewProjectCodes">
  <ng-template pTemplate="header">Create Project</ng-template>
  <app-create-new-project-code (updatedParentCodeList)="getProjectCodeList()"
                               *ngIf="isAddNewProjectCodes">
  </app-create-new-project-code>
</p-sidebar>


<!--Create New Vendor-->
<p-sidebar styleClass="p-sidebar-sm" position="right" [modal]="true" [dismissible]="true" appendTo="body"
           *ngIf="isAddVendor" [(visible)]="isAddVendor">
  <ng-template pTemplate="header">Create Vendor</ng-template>

  <app-add-vendor (refreshVendorList)="getVendorList()" *ngIf="isAddVendor"></app-add-vendor>
</p-sidebar>


<!--Create New DropDown-->
<p-sidebar styleClass="p-sidebar-sm" appendTo="body" (onHide)="addNewDropDown = false" position="right" [modal]="true"
           [dismissible]="true" *ngIf="addNewDropDown" [(visible)]="addNewDropDown">
  <ng-template pTemplate="header">Create New DropDown Option</ng-template>
  <app-additional-field-add-new [field]="selectedAdditionalField" *ngIf="addNewDropDown" [isCreate]="!editView"
                                (closedComponent)="addNewDropDown = false; updateAdditionalFieldDropDowns()"></app-additional-field-add-new>
</p-sidebar>


<!--Create New Department-->
<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           class="overflow-side-bar"
           *ngIf="departmentPanel" [(visible)]="departmentPanel">
    <ng-template pTemplate="header">Create Department</ng-template>
  <app-add-department (updateDepartments)="getDepartment(); departmentPanel = false"
                      *ngIf="departmentPanel"></app-add-department>
</p-sidebar>

<!--Confirmation Massage change the project code-->
<p-dialog  [(visible)]="commonUtil.isConfirmation" [modal]="true"
           class="isConfirmation"
           [style]="{ width: '36vw'}"
           [closable]="false">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold" style="font-size: 17px !important;padding: 20px; padding-bottom: 0">
        Do you want to overwrite any existing {{commonUtil.sectionName}} in
        <span>
        the line items?
        </span>
      </span>
  </ng-template>

  <ng-container>
    <ul style="padding: 0 8px 0 8px;" *ngIf="commonUtil.sectionName === 'project codes' || commonUtil.sectionName === 'department codes'">
      <li class="m-1" *ngIf="commonUtil.sectionName === 'project codes'">
        {{appConstant.PROJECT_CODES_CONFIRMATION_MASSAGE_NO}}</li>
      <li class="m-1 pt-2" *ngIf="commonUtil.sectionName === 'project codes'">
        {{appConstant.PROJECT_CODES_CONFIRMATION_MASSAGE_YES}}</li>
      <li class="m-1" *ngIf="commonUtil.sectionName === 'department codes'">
        {{appConstant.DEPARTMENT_CODES_CONFIRMATION_MASSAGE_YES}}</li>
      <li class="m-1 pt-2" *ngIf="commonUtil.sectionName === 'department codes'">
        {{appConstant.DEPARTMENT_CODES_CONFIRMATION_MASSAGE_NO}}</li>
    </ul>
  </ng-container>

  <div class="col-12 pt-3">
    <div class="pull-right">
      <button pButton type="button"  style="padding: 0.625rem 3.75rem;"
              label="No" (click)="commonUtil.overWriteData('No',this.createEInvoiceForm,expenseCostDistributionForms.controls)"
              class="p-button-outlined p-button-sm margin-right" ></button>&nbsp;
      <button pButton type="button" style="padding: 0.625rem 3.75rem;"
              (click)="commonUtil.overWriteData('Yes',this.createEInvoiceForm,expenseCostDistributionForms.controls);"  class="p-button-sm"
              iconPos="left" label="Yes"></button>
    </div>
  </div>
</p-dialog>



