<div class="side-bar-drawer-content p-3">
<form [formGroup]="formGroup" (submit)="changeExpenseAssignee()">

  <h5 class="subHeadingColour">Transaction# {{heading}}</h5>
  <br>

  <div class="grid p-fluid">
    <div class="field col-12">
      <label class="label-wrapper" for="approvalUser">Select Approval User</label>
      <span class="p-float-label">
           <p-dropdown [virtualScroll]="approvalUsers.data.length > 20" virtualScrollItemSize="25" id="approvalUser" appendTo="body"
                       optionDisabled="inactive"
                       [options]="approvalUsers.data" [autoDisplayFirst]="false"
                       formControlName="approvalUser" optionLabel="name" optionValue="id"
                       [showClear]="true" [filter]="true" (onChange)="validateApprovalUserAndGroup()">
           </p-dropdown>
        </span>
      <div class="p-invalid text-align-left"
           *ngIf="changeAssignee.approvalUser.dirty && changeAssignee.approvalUser.errors">
        Approval User is required
      </div>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="field col-12">
      <label class="label-wrapper" for="approvalUser">Select Approval Group</label>
      <span class="p-float-label">
           <p-dropdown [virtualScroll]="approvalGroup.data.length > 20" virtualScrollItemSize="25"
                       id="approvalGroup" appendTo="body"
                       [options]="approvalGroup.data" [autoDisplayFirst]="false"
                       formControlName="approvalGroup" optionLabel="name" optionValue="id"
                       [showClear]="true" [filter]="true" (onChange)="validateApprovalUserAndGroup()">
           </p-dropdown>
        </span>
      <div class="p-invalid text-align-left"
           *ngIf="changeAssignee.approvalGroup.dirty && changeAssignee.approvalGroup.errors">
        Approval Group is required
      </div>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="field col-12">
      <label class="label-wrapper" for="remark">Comment</label>
      <span class="p-float-label">
            <textarea id="remark" formControlName="remark" [rows]="4" pInputTextarea
                      (keyup)="removeFieldSpace(changeAssignee.remark)"></textarea>
          </span>
      <div class="p-invalid text-align-left" *ngIf="changeAssignee.remark.dirty && changeAssignee.remark.errors">
        Comment is required
      </div>
    </div>
  </div>
</form>
</div>

<div class="grid panel-footer footer">
  <div class="col-12 button-set-wrapper form-footer-button">
    <div class="pull-right">
      <button pButton type="button" (click)="changeExpenseAssignee()" class="p-button-sm" iconPos="left"
              [icon]="!loading ? 'fa fa-share-alt': 'pi pi-spinner'"
              [disabled]="loading"
              label="Change Assignee"></button>
    </div>
  </div>
  </div>


