<div class="payment-upload-panel">
  <p-tabView (onChange)="tabChanged($event)" [(activeIndex)]="tabIndex" styleClass="tabview-custom p-0-tabview">

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="custom-span">&nbsp;&nbsp;Bills&nbsp;&nbsp;</span>
      </ng-template>
      <app-payment-upload-form [documentId]="appDocumentType.BILL_PAYMENT"></app-payment-upload-form>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="custom-span">&nbsp;&nbsp;Expenses&nbsp;&nbsp;</span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-payment-upload-form [documentId]="appDocumentType.EXPENSE_PAYMENT"></app-payment-upload-form>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>


