@import "../../../../scss/color.scss";

.download-link{
  text-align: center;
  color: $green;
  font-weight: bolder;
  cursor:pointer;
  text-decoration: underline;
}


.margin-top {
  margin-top: 1% !important;
}

.margin-top-grid{
  margin-top: 1% !important;
}
.infoUpload{
  color: #A1ACB1;
}



.back-drop{
  backdrop-filter: blur(10px);
}

.exception-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-hide ::ng-deep .p-panel .p-panel-header{
  display: none;
}

.border-hide ::ng-deep .p-panel .p-panel-content{
  border: none;
}

.height{
  min-height: calc(100vh - 214px);
}
