<div class="table-wrapper">

  <div class="ml-4 " style="box-shadow: 0px 1px 2px 0px #00000040; !important; border-radius: 8px 0 0 0 !important;">
    <p-table responsiveLayout="scroll" id="columnSelect" #dt
           [columns]="selectedColumns" (onColResize)="onTableChanged()"
           styleClass="p-datatable-sm p-datatable-striped no-grid-lines paginator-lifted page-no-style" scrollDirection="both"
           [hidden]="tableSupportBase.isVisibleTable" (onFilter)="tableSupportBase.onFilter(dt)"
           (onSort)="tableSupportBase.onSort(dt)"
           (onRowSelect)="tableSupportBase.rowSelected(dt,null)" (onRowUnselect)="tableSupportBase.rowSelected(dt,null)"
           (onColReorder)="onTableChanged()" [(selection)]="tableSupportBase.rows" [value]="tableSupportBase.dataSource"
           columnResizeMode="expand" [(contextMenuSelection)]="tableSupportBase.selectedContextActionData"
           [contextMenu]="cm"
           dataKey="id" [reorderableColumns]="true" [rowHover]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
           [responsive]="false" selectionMode="multiple" scrollHeight="flex" [scrollable]="true"
           stateStorage="session" stateKey="{{tableKeyEnum.PAYMENT_TABLE_KEY}}" [rows]="25"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[25, 50, 75]" [loading]="tableSupportBase.loading" [resizableColumns]="true"
           [totalRecords]="tableSupportBase.totalRecords" [paginator]="true" paginatorPosition="top"
             *ngIf="tableSupportBase.minWidth"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records" [filterDelay]="0">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="!col.isReSizable"
            [ngStyle]="{'text-align': col.align}"
            [pReorderableColumnDisabled]="!col.isReOrderable" pReorderableColumn
            [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn
            [pSortableColumnDisabled]="!col.isSortable" pSortableColumn="{{col.sortableField}}"
            class="sort-icon-wrapper">
          <div class="grid">
            <div class="col-12">
              <div *ngIf="col.searchType == enums.CHECKBOX">
                <p-tableHeaderCheckbox (click)="tableSupportBase.rowSelected(dt,null)"></p-tableHeaderCheckbox>
              </div>
              <span *ngIf="col.searchType !== enums.CHECKBOX">{{col.header}}</span>
              <p-sortIcon class="grid-sort-icon" *ngIf="col.isSortable" field="{{col.sortableField}}"></p-sortIcon>
            </div>
            <div class="col-12">
              <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"
                    [columns]="columns" [col]="col"></span>
            </div>
          </div>
        </th>
      </tr>

<!--      <tr>-->
<!--        <th *ngFor="let col of columns" [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn>-->
<!--          <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"-->
<!--                [columns]="columns" [col]="col"></span>-->
<!--        </th>-->
<!--      </tr>-->
    </ng-template>

    <ng-template pTemplate="body" let-i="rowIndex" let-payment let-columns="columns">
      <tr [pContextMenuRow]="payment" (contextmenu)="actionButtonClick(payment);
          tableSupportBase.setContextMenuActionBtnList(actionButtonList(payment))"
          (wheel)="tableSupportBase.scrollHideActionMenu(cm)" (mouseleave)="payment.hover = false"
          (mouseenter)="payment.hover = true">
        <td *ngFor="let col of columns; let i=index" [ngStyle]="{'text-align': col.align}"
            [class.freeze-right]="col.frozenDirection == 'right'" [class.td-border]="i === 0"
            [class.td-border-selected]="payment.selected && i === 0" [style]="'width:' + col.columnWidth  + 'px'"
            pFrozenColumn [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection">
          <span class="p-column-title">{{col.header}}</span>

          <span *ngIf="col.field == enums.CHECKBOX">
            <p-tableCheckbox *ngIf="payment.hover || payment.selected" [value]="payment"></p-tableCheckbox>

            <span *ngIf="(payment['txn.documentType'] == appDocumentType.BILL) && !payment.hover && !payment.selected"
                  class="fa-regular fa-file-lines checkbox-icon"></span>
            <span
              *ngIf="(payment['txn.documentType'] == appDocumentType.EXPENSE) && !payment.hover  && !payment.selected"
              class="pi pi-wallet checkbox-icon"></span>
        </span>

          <span *ngIf="col.searchType ==  enums.ACTION_BUTTON">
          <button type="button" pButton class="grid-action-btn p-button-text" icon="pi pi-ellipsis-v"
                  [disabled]="actionButtonList(payment).length === 0"
                  (click)="menu.toggle($event); actionButtonClick(payment)"></button>
          <p-menu #menu [popup]="true" appendTo="body"
                  [model]="actionButtonList(payment)"></p-menu>
        </span>

          <span [ngClass]="isClassHover(col.field, payment) ? 'selectedHover': null"
                (click)="tdClick(col.field, payment)"
                (mouseover)="tdHover(col.field, payment, $event)" (scroll)="hideOverlays()" (mouseout)="hideOverlays()">

          <span *ngIf="col.field == 'txn.status'" class="capitalize">
            <li [class]="'mr-2 status-style status-'  + tableSupportBase.getStatus(payment[col.field])"></li>
            {{tableSupportBase.getStatus(payment[col.field]) | titlecase}}
          </span>

            <span *ngIf="col.field == 'txn.paymentStatus'" class="capitalize">
              <li [class]="'mr-2 status-style status-'  + tableSupportBase.getStatus(payment[col.field])"></li><span
              (mouseover)="tdHover(col.field, payment, $event)">{{tableSupportBase.getStatus(payment[col.field]) | titlecase}}</span>
          </span>

            <span *ngIf="col.field == 'txn.txnType'">
              <div class="col-12 p-0">{{payment[col.field]}}</div>
          </span>


          <span class="white-space-normal break-word"
                *ngIf="col.field !== 'txn.status' &&
                col.field !== 'txn.paymentStatus'  &&
                col.field !== 'txn.documentType'  &&
                col.field !== 'txn.txnType'  &&
                col.field !== 'txn.reason'  &&
                col.field !== 'txn.isOnline'">{{payment[col.field]}}</span>

        </span>

          <span *ngIf="col.field == 'txn.txnType'">
              <div class="col-12 p-0" [class.online]="payment['txn.isOnline']"
                   [class.offline]="!payment['txn.isOnline']" style="font-size: 11px">
                {{payment['txn.isOnline'] ? 'Online' : 'Offline'}}
              </div>
          </span>
          <span *ngIf="col.field == 'txn.reason' && payment['txn.reason']">
              <span  class="pr-1">The payment has failed due to the following reason(s).</span>
              <i [ngClass]="isClassHover(col.field, payment) ? 'selectedHover': null" class="fa fa-eye pr-5"
                    (mouseover)="tdHover(col.field, payment, $event)" (scroll)="hideOverlays()" (mouseout)="hideOverlays()">
              </i>
          </span>
        </td>
      </tr>
    </ng-template>

    <p-overlayPanel appendTo="body" #billOverlay>
      <ng-template pTemplate>
        <app-table-bill-no-overlay [billId]="overlayId"></app-table-bill-no-overlay>
      </ng-template>
    </p-overlayPanel>

    <p-overlayPanel appendTo="body" #vendorOverlay>
      <ng-template pTemplate>
        <app-table-vendor-overlay [vendorId]="overlayId"></app-table-vendor-overlay>
      </ng-template>
    </p-overlayPanel>

    <p-overlayPanel appendTo="body" #expenseOverlay>
      <ng-template pTemplate>
        <app-table-expense-overlay [expenseId]="overlayId"></app-table-expense-overlay>
      </ng-template>
    </p-overlayPanel>

    <p-overlayPanel appendTo="body" #cardsOverlay>
      <ng-template pTemplate>
        <app-table-cards-overlay [cardId]="overlayId"></app-table-cards-overlay>
      </ng-template>
    </p-overlayPanel>

    <p-overlayPanel appendTo="body" #reasonOverlay>
      <ng-template pTemplate>
        <div class="overlay-panel">
          <div class="grid">
            <div class="col-12">
              <ul class="pl-3 m-0">
                <li *ngFor="let remark of getComment(remarks)" [hidden]="!remark">{{remark}}</li>
              </ul>
            </div>
          </div>
        </div>
      </ng-template>
    </p-overlayPanel>

    <ng-template pTemplate="emptymessage">
      <div class="text-center grid table-empty-data">
        <div class="col-12">
          <i class="fa-solid fa-magnifying-glass"></i><br>
          <p>There are no records found</p>
        </div>
      </div>
    </ng-template>
  </p-table>
  </div>
</div>
<div class="no-data-show" *ngIf="tableSupportBase.isVisibleTable == true">
  <span class="fa fa-search"></span>
  <div style="margin-top: 1%">There are no transactions matching the criteria</div>
</div>

<app-audit-trial *ngIf="auditTrialPanel" [auditTrial]="auditTrial" [heading]="'Ref No. ' +activeAction['txn.txnRef']"
                 (closeDrawer)="auditTrialPanel = false" [panelShow]="auditTrialPanel"></app-audit-trial>

<app-bill-payment-details #billPaymentDetailComponent></app-bill-payment-details>

<!--Mark As Mailed Bill Payment-->
<p-sidebar styleClass="p-sidebar-sm" [modal]="true" *ngIf="isMarkAsMailed" [dismissible]="true" position="right"
           [(visible)]="isMarkAsMailed">
  <ng-template pTemplate="header">Mark as Mailed</ng-template>
  <app-mark-as-mailed-drawer (refreshTable)="isRefreshTable($event)" [paymentDate]="activeAction.paymentDate"
                             [id]="activeAction.id" *ngIf="isMarkAsMailed"></app-mark-as-mailed-drawer>
</p-sidebar>

<!--Change Bill Payment-->
<p-sidebar styleClass="p-sidebar-sm" *ngIf="isChangeBill" [modal]="true" [dismissible]="true" position="right"
           [(visible)]="isChangeBill">
  <ng-template pTemplate="header">Change Bill</ng-template>
  <app-change-bill-drawer (refreshTable)="isRefreshTable($event)"
                          [billId]="activeAction.documentId" [id]="activeAction.id" [vendor]="activeAction.vendor"
                          *ngIf="isChangeBill"></app-change-bill-drawer>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm" *ngIf="isChangeExpense" [modal]="true" [dismissible]="true" position="right"
           [(visible)]="isChangeExpense">
  <ng-template pTemplate="header">Change Expense</ng-template>
  <app-change-expense-drawer (refreshTable)="isRefreshTable($event)"
                             [expenseId]="activeAction.documentId" [id]="activeAction.id"
                             *ngIf="isChangeExpense"></app-change-expense-drawer>
</p-sidebar>

<p-confirmDialog (onHide)="formGroup.get('cancelReason').reset()" #cd header="Are you sure?"
                 icon="conf-delete-icon pi pi-exclamation-triangle" key="tCancel">
  <p-footer>
    <form [formGroup]="formGroup">
      <div class="grid">
        <div class="col-12 text-left">
        <span class="p-fluid">
              <label class="label-wrapper">Reason*</label>
              <input formControlName="cancelReason" blockSpace maxlength="255" type="text" pInputText>
           <div class="p-invalid "
                *ngIf="formGroup.get('cancelReason').dirty && formGroup.get('cancelReason').errors">Reason is required
      </div>
        </span>
        </div>
        <div class="col-12">
          <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Not Now"
                  (click)="cd.reject(); formGroup.get('cancelReason').reset()" [disabled]="cancelLoading"></button>
          <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Cancel Transaction"
                  (click)="submitCancelVCard(cd);" [loading]="cancelLoading"></button>
        </div>
      </div>
    </form>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog (onHide)="formGroup.get('cancelReason').reset()" #cdb header="Are you sure?"
                 icon="conf-delete-icon pi pi-exclamation-triangle" key="btCancel">
  <p-footer>
    <form [formGroup]="formGroup">
      <div class="grid">
        <div class="col-12 text-left">
        <span class="p-fluid">
              <label class="label-wrapper">Reason*</label>
              <input formControlName="cancelReason" blockSpace maxlength="255" type="text" pInputText>
           <div class="p-invalid "
                *ngIf="formGroup.get('cancelReason').dirty && formGroup.get('cancelReason').errors">Reason is required
      </div>
        </span>
        </div>
        <div class="col-12">
          <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Not Now"
                  (click)="cdb.reject(); formGroup.get('cancelReason').reset()" [disabled]="cancelLoading"></button>
          <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Cancel Transaction"
                  (click)="submitBulkCancel(cdb);" [loading]="cancelLoading"></button>
        </div>
      </div>
    </form>
  </p-footer>
</p-confirmDialog>

<!--View Bill Order-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="viewBill">
  <app-bill-approve-main [tableSearch]="tableSupportBase.searchFilterDto" [isDetailView]="viewBill"
                         [singleBill]="true" class="bill-drawer-remove-inner-padding"
                         (closeBillApprove)="viewBill = false; loadData(tableSupportBase.searchFilterDto)"
                         *ngIf="viewBill" [billId]="billIdToView"></app-bill-approve-main>
</p-sidebar>


<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="showFilter= false"
           [fullScreen]="false" [(visible)]="showFilter" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Advance Filter</ng-template>
  <app-table-column-filters [dt]="table" [columns]="tableSupportBase.filterEnabledColumns"
                            (closeDrawer)="showFilter = false"
                            [tableSupportBase]="tableSupportBase"></app-table-column-filters>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm table-column-sidebar" appendTo="body" [modal]="true" [dismissible]="true"
           position="right"
           (onHide)="showFilterColumns= false" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)"
           [fullScreen]="false" [(visible)]="showFilterColumns">
  <ng-template pTemplate="header">Columns</ng-template>
  <app-table-column-toggle [cols]="selectedColumns" (selectionsUpdated)="selectedColumns = $event"
                           [tableInstance]="table" (restoreTable)="loadTableData()"
                           [tableKey]="tableKeyEnum.PAYMENT_TABLE_KEY"
                           [gridName]="appConstant.GRID_BILL_PAYMENT_LIST"
                           [hiddenOptions]="tableSupportBase.hiddenInOptions"
                           (updateColOrder)="onTableChanged($event)"></app-table-column-toggle>
</p-sidebar>


<p-sidebar styleClass="p-sidebar-sm" [modal]="true" *ngIf="paymentApprove" [dismissible]="true" position="right"
           (onHide)="paymentApprove= false"
           [fullScreen]="false" [(visible)]="paymentApprove" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Approve Payment</ng-template>
  <app-payment-approve [id]="activeAction.id" [tableSearch]="tableSupportBase.searchFilterDto"
                       (onSuccess)="loadData(tableSupportBase.searchFilterDto); paymentApprove = false"></app-payment-approve>
</p-sidebar>


<!--Context Menu-->
<p-contextMenu #cm (onShow)="tableSupportBase.hideActionMenu(tableSupportBase.menu)" appendTo="body"
               [model]="tableSupportBase.contextMenuActionList"></p-contextMenu>

<app-v-card-edit></app-v-card-edit>
