@import "../../../../scss/color.scss";

.card-custom {
  width: 450px;
}

.top-bar-custom {
  position: fixed;
  width: 100%;
  border: none;
  height: 64px;
  background: #343A40 no-repeat padding-box;
  z-index: 1;
}

.card-custom-padding {
  padding: 0 1rem 1rem 1rem;
}

.exception-body {
  background-image: url("../../../../assets/images/bg-img.png");
}

.logo-desktop {
  height: 30px;
  margin-left: 60%;
}

.layout-topbar {
  background: #343A40;
}

.card-header-custom {
  font-weight: bold;
  margin-top: 2%;
  color: $green;
  padding: 3%;
}

.forgot-save-btn {
  width: 100%;
}

.card-subheader-custom {
  font-weight: 300;
  color: #6c757d;
  text-align: left;
  padding: 0 3% 0 3%;
}

.req-token {
  text-align: left;
  font-weight: bold;
  color: $green;
}

.req-token:hover {
  color: #028693;
  cursor: pointer;
}

.margin-between-fields-headers {
  margin-top: 2%;
}

.margin-between-fields {
  margin-top: 1%;
}

.margin-between-fields-input {
  margin-bottom: 1%;
}

.margin-between-buttons {
  margin-top: 2%;
}

.save-btn {
  margin-bottom: -25px;
}

.text-align-left {
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .card-custom {
    margin-top: 10%;
    height: 100%;
  }
  .grid {
    margin: 0;
  }
  .layout-topbar {
    display: none;
  }
  .top-bar-custom {
    display: none;
  }
  .exception-content {
    margin-top: 0 !important;
  }
  .exception-body {
    background: white;
    display: inline-block;
    min-height: 100%;

    .exception-content {
      height: auto;

      .exception-detail {
        margin: 0 !important;
      }
    }
  }
  .card-custom-padding {
    padding: 10px !important;
  }
  .mobile-fields {
    .card-header-custom {
      color: $light-black;
      font-size: 30px;
      margin-bottom: 30%;
    }
    .card-subheader-custom{
      color: $light-black;
      font-size: 18px;
      margin-top: 20%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .exception-body {
    background-image: none;
  }
  .exception-content {
    width: 100%;
    height: 100%;
  }
  .card-custom {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
  }
}


.text-danger {
  color: red;
}

.text-success {
  color: $green !important;
}
.empty-icon{
  margin-left: 19px;
}
.validation-required label{
  color: #b2b2b2;
}

.validation-required{
  text-align-last: left;
}
