@import "../../scss/color.scss";

.form-style{
  height:100vh !important;
}

.custom-card-approve-btn {
  width: 100%;
  border: none;
  box-shadow: none;
  padding-bottom: 0;
  max-height: 81vh;
  height: 88vh;
  overflow: auto;
  //contain: size;
}

.custom-card-approve-btn-edit {
  width: 100%;
  border: none;
  box-shadow: none;
  padding-bottom: 0;
  max-height: 82vh;
  height: 88vh;
  overflow: auto;
  //contain: size;
}

.form-footer-button{
  height: 12vh !important;
  align-items: flex-end;
}

$attachmentSectionWidth: 11%;

//main div containers
.attachment-section-wrapper {
  width: $attachmentSectionWidth !important;
  min-width: 100px;
  overflow-x: hidden;
  max-height: 944px;
  overflow-y: auto;
  position: sticky;
  bottom: 0;
  top: 0;
  border: solid 1px $canceled-gray;
}

.submit-detail-wrapper {
  width: calc(100% - 11%) !important;
  position: relative;
  border: solid 1px $canceled-gray;
}

.disabled {
  width: 100%;
  background-color: #f8f9fa
}

//Close po check box wrapper
.check-box-wrapper {
  margin-left: 18px;
  margin-top: 3px;
  font-size: 18px;
  color: $green;
}


//line item account table and additional field dropdown related styles

p-calendar {
  width: 100%;
}

.additional-field-dropdown ::ng-deep .p-dropdown .p-inputtext .ng-star-inserted {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.expense-table-dropdown ::ng-deep .p-dropdown .p-inputtext .ng-star-inserted {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.item-table-dropdown ::ng-deep .p-dropdown .p-inputtext .ng-star-inserted {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-inputgroup p-dropdown:not(:last-child) .p-dropdown {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-inputgroup p-dropdown:not(:first-child) .p-dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::ng-deep .receipt-wrapper .p-inputtext .ng-star-inserted {
  text-overflow: ellipsis;
  max-width: 145px;
  overflow: hidden;
}

::ng-deep .header-receipt-wrapper .p-inputtext .ng-star-inserted {
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}

.btn-behaviour:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold !important;
}

//Rule popup related button styles

.apply-button {
  padding: 1px 6px 2px !important;
  border-radius: 5px;
}

.apply-button ::ng-deep .p-button-label {
  font-size: 13px;
}

.p-inputgroup > p-dropdown {
  display: grid;
  flex: 1 1 auto;
  width: 1%;

  .p-dropdown {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}


//table footer link options style

.show-po-line-item-wrapper {
  width: 23% !important;
}

.outer-po-comparison-button-wrapper {
  width: 25% !important;
}

.link-option-left{
  width: 50% !important;
  display: flex;
}

.link-option-right {
  width: 50% !important;
}

.divider-center{
  margin-left: 8px;
  margin-right: 16px;
  margin-top: 6px;
  color: $dark-grey;
  font-weight: 100;
}

//line item table footer amount field related styles

.total-amount-label {
  color: $secondary-black-grey;
  font-weight: bold;
  font-stretch: normal;
  font-size: 20px;
}

.total-amount-value {
  @extend .total-amount-label;
  width: 100%;
  border: none;

  &:active {
    border: none;
  }
}

//approves selection tab inside content styles

.approval-selection-wrapper {
  max-height: 250px;
  min-height: 136px;
  overflow: auto;
  overflow-x: hidden;
}

//form style when progress ocr

.form-grid {
  position: relative;

  .form-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: $tertiary-gray;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.2;
    filter: alpha(opacity=40);
    text-align: center;

    em {
      font-size: 150px;
      text-align: center;
      top: 40%;
      position: relative;
      opacity: 1 !important;
    }
  }
}

//submit detail header outer div styles

.heading-grid {
  padding: 11px;
}


//attachment section read all button styles

.read-all-btn {
  padding: 6px 10px;
  width: 74px;
  height: 26px;
  font-size: 12px !important;
  font-weight: bold;
  font-stretch: normal;
  margin-left: 12px;
  margin-bottom: 5px;
}

//read all button outer div styles

.read-all-button-sticky {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 2px;
  top: 0;
  z-index: 1000;
}


//attachment section related styles------------------------------------------->


//upload new attachment box styles

.upload-new-bill-wrapper {
  font-size: 37px;
  border-radius: 4px;
  border: solid 1px $canceled-gray;
  background: white;
  margin-left: 13px;
  margin-bottom: 8px;
  color: $canceled-gray;
  cursor: pointer;
  @extend .image-box-size-wrapper;

  .upload-plus-icon {
    width: 21.9px !important;
    height: 21.9px !important;
    padding-top: 30px;
    padding-left: 19px;
  }
}

//attachment inside image width height

.attachment-image-wrapper {
  width: 97px !important;
}

.image-box-size-wrapper {
  height: 105px;
  width: 74px;
}

.image-box-size-wrapper-inside {
  height: 105px;
  width: 74px;
  margin-left: 13px;
  margin-bottom: 8px;
  border: solid 1px $canceled-gray;
}


//active attachment related styles

.selected-attachment-border {
  width: 97px !important;
}

.common-bill-attachment-style {
  @extend .image-box-size-wrapper;
  margin-left: 7px;
  margin-bottom: 8px;
}

.attachment-image-wrapper > img {
  @extend .common-bill-attachment-style;
  border: solid 1px $canceled-gray;

}

.selected-attachment-border > img {
  @extend .common-bill-attachment-style;
  border: solid 2px $green;
}

.button-set-outer-wrapper {
  padding-right: 5px;
}

.active-attachment-inside-image {
  text-align-last: left;
  height: 0;
  position: relative;
  margin-right: 13px;
}


//selected attachment styles

.selected-attachment-box {
  text-align-last: start;
  height: 0;
  position: relative;
  margin-left: 64px;
}

.attachment-box-inside-icon {
  font-size: 12px;
  background: $green;
  color: $white;
  border-radius: 3px;
  padding: 3px;
}

.selected-attachment-box {
  .play-icon {
    @extend .attachment-box-inside-icon;
    margin-top: 3px;

    &:hover {
      cursor: pointer;
    }
  }

  .delete-icon {
    @extend .attachment-box-inside-icon;
    margin-top: 7px;

    &:hover {
      cursor: pointer;
    }
  }
}

//

//ocr reading progress spinner styles

.spin-icon-wrap {
  height: 0;
  position: relative;
  text-align-last: center;
}

.spin-icon {
  margin-top: 43px;
  font-size: 22px;
  color: $green;
  margin-left: 4px;
}

.spin-icon-wrap-without-img {
  @extend .spin-icon-wrap;
}

//

//attachment section - default attachment icon style

//additional field header browse button styles

.browse-button-wrapper {
  padding: 11px !important;
  padding-right: 21px !important;
}

//responsive changes

@media screen and (max-width: 1920px) {
  .show-po-line-item-wrapper {
    width: 23% !important;
  }
  .outer-po-comparison-button-wrapper {
    width: 22% !important;
  }

  .add-remove-item-wrapper {
    width: 55% !important;
  }
}

@media screen and (max-width: 1440px) {
  .show-po-line-item-wrapper {
    width: 30% !important;
  }
  .outer-po-comparison-button-wrapper {
    width: 22% !important;
  }

  .add-remove-item-wrapper {
    width: 48% !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .attachment-section-wrapper {
    min-width: unset; /* This will remove the min-width property */
  }
}


.with-scroll{
  .attachment-section-wrapper{
    width: 11% !important;
  }
  .submit-detail-wrapper{
    width: 89% !important;
  }
}

.without-scroll{
  .attachment-section-wrapper{
    width: 11% !important;
  }
  .submit-detail-wrapper{
    width: 89% !important;
  }
}

@media screen and (max-width: 1366px) {
  .show-po-line-item-wrapper {
    width: 29% !important;
    text-align: left;
  }
  .outer-po-comparison-button-wrapper {
    width: 46% !important;
    text-align: left;
    padding-left: 4px;
  }

  .add-remove-item-wrapper {
    width: 25% !important;
  }

  .form-footer-button{
    height: 16px !important;
  }

  .form-footer-button .p-button {
    padding: 13px 24px !important;
  }

  .submit-detail-wrapper {
    width: 84% !important;
  }

  .attachment-section-wrapper {
    width: 16% !important;
    max-height: 648px !important;
  }

  .browse-button-wrapper {
    padding: 8px !important;
    padding-right: 39px !important;
  }
  .button-set-outer-wrapper{
    padding-right: 0 !important;
  }
  .custom-card-approve-btn{
    max-height: 73vh !important;
  }
  .custom-card-approve-btn-edit{
    max-height: 76vh !important;
  }

  .with-scroll{
    .attachment-section-wrapper{
      width: 13% !important;
    }
    .submit-detail-wrapper{
      width: 87% !important;
    }
  }
  .without-scroll{
    .attachment-section-wrapper{
      width: 13% !important;
    }
    .submit-detail-wrapper{
      width: 87% !important;
    }
  }
  .spin-icon{
    margin-left: 18px !important;
  }
}

@media screen and (max-width: 1024px) {
  .show-po-line-item-wrapper {
    width: 39% !important;
  }
  .outer-po-comparison-button-wrapper {
    margin-left: 16px !important;
    width: 30% !important;
  }

  .add-remove-item-wrapper {
    width: 28% !important;
  }
}

//form inner card remove bottom margin

.card {
  margin-bottom: 0 !important;
}

.field-outer-div{
  height:100% !important;
}

.total-amount{
  display:flex !important;
  width: 100%;
  justify-content: end;
  padding-bottom: 13px;
  align-self: center;
}

.min-height{
  min-height: 100% !important;
}

.bill-process-form{
  height: 100vh !important;
}

.custome-splitter{
  overflow: hidden !important;
  margin: 0 !important;
}

.loading-attachment{
  height: 100%;
  width: 100%;
  background: white;
  .attachment-process-gif{
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 106px;
  }
}

#po-amount-validation{
  top: 0;
  position: sticky;
  z-index: 1;
  padding: 0;
}

.custom-card-approve{
  padding-top: 0 !important;
}

@media screen and (max-width: 1366px) {
  .total-amount{
    padding-bottom: 4px !important;
  }
}
