@import "../../../../scss/color.scss";

.card-custom{
  width: 450px;
}
.top-bar-custom{
  position: fixed;
  width: 100%;
  border: none;
  height: 64px;
  background: #343A40  no-repeat padding-box;
  z-index: 1;
}
.card-custom-padding{
  padding: 0 1rem 1rem 1rem;
}
.exception-body{
  background-image: url("../../../../assets/images/bg-img.png");
}
.logo-desktop{
  height: 30px;
  margin-left: 60%;
}
.layout-topbar {
  background: #343A40;
}
.card-header-custom {
  font-weight: bold;
  margin-bottom: 8%;
  margin-top: 8%;
  color: $green;
  padding: 0 3% 0 3%;
}
.forgot-save-btn{
  background-color: $green;
  width: 100%;
  font-weight: 800;
}

.pwrd-reset-btn-div{
  margin-top: 30px;
}
.card-subheader-custom {
  font-weight: 300;
  color: #6c757d;
  text-align: left ;
  padding: 0 3% 0 3%;
}

.goBack-link{
  text-align: center;
  color: $green;
  font-weight: normal;
}
//.goBack-link:hover{
//  color: #009688;
//  cursor: pointer;
//}

.text-align-left{
  text-align: left;
}

.margin-between-fields-headers{
  margin-top: 2%;
}

.margin-between-fields{
  margin-top: 2%;
}

.margin-between-fields-input{
  margin-top: 2%;
}

.margin-between-buttons{
  margin-top: 2%;
}


//@media only screen and (max-width: 450px) {
//  .card-custom{
//    width: 320px;
//  }
//}
//
//@media only screen and (max-width: 320px) {
//  .card-custom{
//    width: 310px;
//    height: 100%;
//  }
//}
//
//@media only screen and (max-width: 200px) {
//  .card-custom{
//    width: auto;
//    height: 100%;
//  }
//}
//
//@media only screen and (max-height: 420px) {
//  .top-bar-custom{
//    display: none;
//  }
//}
//
//@media only screen and (max-width: 480px) {
//  .exception-body{
//    background-image: none;
//  }
//}
@media only screen and (max-width: 991px) {
  .card-custom {
    margin-top: 10%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .exception-body {
    background-image: none;
  }
  .exception-content {
    width: 100%;
    height: 100%;
  }
  .layout-topbar{
    display: none;
  }
  .card-custom {
    width: 100%;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
  }
}
