@import "../../../../scss/color.scss";

.menu-label{
  size: 16px;
  color: $green;
  cursor: pointer;
  font-weight: 600;

}


.card-custom{
  padding: 2rem;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .account-heading{
    width: 100%;
    text-align: center;
  }

  .screen-change-btn{
    width: 100%;
  }
}
