<div class="table-wrapper">
  <p-table responsiveLayout="scroll" #dt id="columnSelect" [columns]="selectedColumns" (onColReorder)="onTableChanged()"
           (onColResize)="onTableChanged()" [hidden]="tableSupportBase.isVisibleTable"
           (onFilter)="tableSupportBase.onFilter(dt)" (onSort)="tableSupportBase.onSort(dt)"
           (onRowSelect)="tableSupportBase.rowSelected(dt,null)"
           [(contextMenuSelection)]="tableSupportBase.selectedContextActionData" [contextMenu]="cm"
           (onRowUnselect)="tableSupportBase.rowSelected(dt,null)"
           [(selection)]="tableSupportBase.rows" [value]="tableSupportBase.dataSource" columnResizeMode="expand"
           dataKey="id" [reorderableColumns]="true" [rowHover]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
           [responsive]="false" selectionMode="multiple" scrollHeight="flex" [scrollable]="true"
           stateStorage="session" stateKey="{{tableKeyEnum.ROLE_TABLE_KEY}}" [rows]="25" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[25, 50, 75]" [loading]="tableSupportBase.loading" [resizableColumns]="true"
           styleClass="p-datatable-sm p-datatable-striped no-grid-lines"
           [totalRecords]="tableSupportBase.totalRecords" [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="!col.isReSizable"
            [ngStyle]="{'text-align': col.align}"
            [pReorderableColumnDisabled]="!col.isReOrderable" pReorderableColumn
            [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn
            [pSortableColumnDisabled]="!col.isSortable" pSortableColumn="{{col.sortableField}}" class="sort-icon-wrapper">
          <div class="grid">
            <div class="col-12">
              <div *ngIf="col.searchType == enums.CHECKBOX">
                <p-tableHeaderCheckbox (click)="tableSupportBase.rowSelected(dt,null)"></p-tableHeaderCheckbox>
              </div>
              <span *ngIf="col.searchType !== enums.CHECKBOX">{{col.header}}</span>
              <p-sortIcon class="grid-sort-icon" *ngIf="col.isSortable" field="{{col.sortableField}}"></p-sortIcon>
            </div>
            <div class="col-12">
              <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"
                    [columns]="columns" [col]="col"></span>
            </div>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-customer let-columns="columns">
      <tr (wheel)="tableSupportBase.scrollHideActionMenu(cm)" [pContextMenuRow]="customer" (contextmenu)="actionButtonClick(customer);
tableSupportBase.setContextMenuActionBtnList(actionButtonList(customer['rolem.status'], customer['canClone']))
">
        <td *ngFor="let col of columns; let in = index" [ngStyle]="{'text-align': col.align}"
            [class.freeze-right]="col.frozenDirection == 'right'"
            [ngClass]="col.searchType == enums.ACTION_BUTTON ? 'vendor-table-action-btn' : null"
            [class.td-border]="in === 0" [class.td-border-selected]="customer.selected && in === 0"
            [style]="'width:' + col.columnWidth  + 'px'"
            pFrozenColumn [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection">
          <span class="p-column-title">{{col.header}}</span>

          <span *ngIf="col.field == enums.CHECKBOX">
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </span>

          <span *ngIf="col.searchType ==  enums.ACTION_BUTTON" class="td-actionButton">
          <button type="button" pButton class="grid-action-btn p-button-text" icon="pi pi-ellipsis-v"
                  [disabled]="actionButtonList(customer['rolem.status'], customer['canClone'] ).length === 0"
                  (click)="menu.toggle($event); actionButtonClick(customer)"></button>
          <p-menu #menu [popup]="true" appendTo="body"
                  [model]="actionButtonList(customer['rolem.status'], customer['canClone'])"></p-menu>
        </span>

          <span [ngClass]="col.field == 'rolem.name' ? 'selectedHover' : null"
                (click)="tdClick(col.field, customer)">

          <span *ngIf="col.field == 'rolem.id'"> {{customer[col.field]}}</span>

          <span *ngIf="col.field == 'rolem.status'">
            <li [class]="'mr-2 status-style status-'  + tableSupportBase.getStatus(customer[col.field])"></li>
            {{getStatus(customer[col.field]) | titlecase}}</span>

          <span class="table-data"
                *ngIf="col.field !== 'rolem.status' && col.field !== 'rolem.id'">{{customer[col.field]}}</span>

        </span>
        </td>
      </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage">
      <div class="text-center grid table-empty-data">
          <div class="col-12">
            <i class="fa-solid fa-magnifying-glass"></i><br>
            <p>There are no records found</p>
          </div>
      </div>
    </ng-template>
  </p-table>
</div>
<div class="no-data-show" *ngIf="tableSupportBase.isVisibleTable == true">
  <span class="fa fa-search"></span>
  <div style="margin-top: 1%">There are no transactions matching the criteria</div>
</div>

<!--Edit Portal Role-->
<p-sidebar [showCloseIcon]="true" *ngIf="editRole || viewRole || cloneRole" [fullScreen]="true" [modal]="false"
           [(visible)]="editRole || viewRole || cloneRole" (onHide)="roleEdited()">

  <app-portal-role-create [panel]="false" [id]="roleId" [roleName]="roleName" [detailView]="viewRole"
                          #portalRoleCreateComponent
                          [isClone]="cloneRole" [editView]="editRole" (closeModal)="roleEdited()">

  </app-portal-role-create>

</p-sidebar>

<p-confirmDialog #cd header="Are you sure?" icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cd.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, Delete it!"
            (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>


<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right" (onHide)="showFilter= false"
           [fullScreen]="false" [(visible)]="showFilter" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Advance Filter</ng-template>
  <app-table-column-filters [dt]="table" [columns]="tableSupportBase.filterEnabledColumns" (closeDrawer)="showFilter = false"
                            [tableSupportBase]="tableSupportBase"></app-table-column-filters>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm table-column-sidebar" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="showFilterColumns= false" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)"
           [fullScreen]="false" [(visible)]="showFilterColumns">
    <ng-template pTemplate="header">Columns</ng-template>
  <app-table-column-toggle [cols]="selectedColumns" (selectionsUpdated)="selectedColumns = $event"
                           [tableInstance]="table" (restoreTable)="loadTableData()"
                           [tableKey]="tableKeyEnum.ROLE_TABLE_KEY"
                           [gridName]="appConstant.GRID_NAME_ROLE_LIST"
                           [hiddenOptions]="tableSupportBase.hiddenInOptions"
                           (updateColOrder)="onTableChanged($event)"></app-table-column-toggle>
</p-sidebar>

<!--Context Menu-->
<p-contextMenu #cm appendTo="body" (onShow)="tableSupportBase.hideActionMenu(menu)" [model]="tableSupportBase.contextMenuActionList"></p-contextMenu>
