<form [formGroup]="passwordResetForm">
  <div class=" p-fluid">
    <div class="grid pt-4">

      <div class="field col-12">
        <label class="label-wrapper" for="float-input">Current Password*</label>
        <div class="p-inputgroup">
                  <span class="p-float-label p-input-icon-right">
                       <i [ngClass]="currentPassword? 'pi pi-eye-slash' : 'pi pi-eye'"
                          (click)="currentPassword? currentPassword= false: currentPassword= true"></i>
                         <input [style]="{'width': '100%'}" class="password-text" formControlName="oldPassword"
                                [feedback]="false"
                                [showPassword]="currentPassword" type="password" pPassword>
                  </span>
        </div>
        <div class="p-invalid  text-align-left"
             *ngIf="passwordResetForm.get('oldPassword').dirty && passwordResetForm.get('oldPassword').errors">
          Current Password is Required
        </div>
      </div>


      <div class="field col-12">
        <label class="label-wrapper" for="float-input">Password*</label>
        <div class="p-inputgroup">
                <span class="p-float-label  p-input-icon-right">
                     <i [ngClass]="passwordShow? 'pi pi-eye-slash' : 'pi pi-eye'"
                        (click)="passwordShow? passwordShow= false: passwordShow= true"></i>
                       <input [style]="{'width': '100%'}" class="password-text" formControlName="password"
                              [feedback]="false"
                              [showPassword]="passwordShow" id="float-input" type="password" pPassword>
                </span>
        </div>
        <div class="p-invalid text-align-left"
             *ngIf="passwordResetForm.get('password').dirty && passwordResetForm.get('password').errors">
          <div *ngIf="passwordResetForm.get('password').errors.required">Password is required</div>
          <div *ngIf="passwordResetForm.get('password').errors.minlength">Password must be at least 8
            characters
          </div>
          <div *ngIf="passwordResetForm.get('password').errors.maxlength">Password must be less than 20
            characters
          </div>
        </div>
      </div>

      <div class="field col-12">
        <label class="label-wrapper" for="confirmPassword">Confirm Password*</label>
        <div class="p-inputgroup">
                  <span class="p-float-label p-input-icon-right">
                     <i [ngClass]="confirmPasswordShow? 'pi pi-eye-slash' : 'pi pi-eye'"
                        (click)="confirmPasswordShow? confirmPasswordShow= false: confirmPasswordShow= true"></i>
                    <input class="password-text" [style]="{'width': '100%'}" [feedback]="false"
                           [showPassword]="confirmPasswordShow" formControlName="confirmPassword"
                           id="confirmPassword" type="password" pPassword>
                  </span>
        </div>
        <div class="p-invalid"
             *ngIf="passwordResetForm.get('confirmPassword').dirty && passwordResetForm.get('confirmPassword').errors">
          <div *ngIf=" passwordResetForm.get('confirmPassword').errors.required">Confirm Password is required
          </div>
          <div *ngIf="passwordResetForm.get('confirmPassword').errors.mustMatch">New password and Confirm
            Password must match
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="col-12" style="margin-top: 2%">
      <div class="pull-right">
        <button pButton type="button" [disabled]="btnPasswordUpdate" (click)="passwordResetForm.reset()"
                label="Reset"
                class="p-button-outlined p-button-sm margin-right button-responsive-mobile"
                icon="fa-solid fa-rotate-right"></button>&nbsp;
        <button pButton type="submit" (click)="resetPassword()" class="p-button-sm" iconPos="left"
                [disabled]="btnPasswordUpdate"
                [icon]="btnPasswordUpdate ? 'pi pi-spin pi-spinner': 'pi pi-save'"
                label="Save"></button>
      </div>
    </div>
  </div>
</form>
