<div class="field pt-2 pl-1 form-header  grid">
  <div class="col-6 text-left">
    <h5 class="module-header-label">Create Payment</h5>
  </div>
  <div class="col-6 text-right">
    <div class="fa fa-close side-drawer-icon"
         (click)="close()"></div>
  </div>
</div>


<form [formGroup]="paymentForm" class="form mt-7">
  <div class="pl-2 grid">
    <div class="col-12 xl:col-4 md:col-12 lg:col-6 sm:col-12">
      <div class="grid">
        <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12 field p-fluid">
          <label class="label">Document Type</label>
          <div class="grid pt-1">
            <div class="col-12">
              <input type="radio" formControlName="documentType" name="documentType" id="bill" [value]="1"
                     class="mr-2">
              <label class="mr-5" for="bill">Bill</label>
              <input type="radio" formControlName="documentType" name="documentType" id="expense" [value]="4"
                     class="mr-2">
              <label for="expense">Expense</label>
            </div>
          </div>
        </div>

        <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12 field p-fluid">
          <label class="label">Payment Method</label>
          <div class="grid pt-1">
            <div class="col-12">
              <ng-template [ngIf]="privilegeService.isPaymentConfig()">
                <input type="radio" formControlName="isOnline" name="isOnline" id="online" [value]="true" class="mr-2">
                <label for="online">Online</label>
              </ng-template>
              <input type="radio" formControlName="isOnline" name="isOnline" id="offline" [value]="false" class="mr-2">
              <label class="mr-5" for="offline">Offline</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 xl:col-8 md:col-12 lg:col-6 sm:col-12">
      <div class="grid">
        <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 field p-fluid"
             *ngIf="f.isOnline.value === paymentTypeOffline">
          <label class="label" for="paymentType">Select Payment Type</label>
          <p-dropdown [virtualScroll]="paymentTypes.data.length >20" virtualScrollItemSize="25" inputId="dropdown"
                      id="paymentType" showClear="true" [autoDisplayFirst]="false" optionDisabled="inactive"
                      [options]="paymentTypes.data" [filter]="true" optionLabel="name" optionValue="id"
                      formControlName="paymentType" placeholder="Select Payment Type"
                      (onChange)="paymentTypeChange(true,null)">
          </p-dropdown>
        </div>


        <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 field p-fluid"
             *ngIf="f.isOnline.value === paymentTypeOffline">
          <label class="label" for="paymentDate">Payment Date</label>
          <p-calendar [(ngModel)]="paymentDate" appendTo="body" id="paymentDate" formControlName="paymentDate"
                      [showIcon]="true" [style]="{'width':'100%'}"></p-calendar>
        </div>


        <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 field p-fluid"
             *ngIf="isReferenceNoDisabled( f.paymentType.value)">
          <label class="label" for="ref">Reference No.</label>
          <input [(ngModel)]="paymentReferenceNo" blockSpace formControlName="referenceNo"
                 id="ref" type="text" pInputText maxlength="30">

        </div>
      </div>
    </div>
  </div>


  <div class="grid">
    <div class="col-6 paginator-top-table-actions">
      <app-table-header-action-buttons [visibleActions]="availableHeaderActions" [componentInstance]="this"
                                       [tableSupportBase]="tableSupportBase" #tableHeaderActionButtonsComponent
                                       (refresh)="loadData(tableSupportBase.searchFilterDto, false)"
                                       (showColumns)="showFilterColumns = !showFilterColumns; showFilter = false"
                                       (showFilters)="showFilter = !showFilter; showFilterColumns = false">
      </app-table-header-action-buttons>
    </div>

    <div class="pl-0 pb-0 col-12">
      <div class="table-wrapper">
        <p-table responsiveLayout="scroll" id="columnSelect" #dt [selectionPageOnly]="true"
                 [columns]="selectedColumns" (onFilter)="tableSupportBase.onFilter(dt)"
                 styleClass="p-datatable-sm p-datatable-striped no-grid-lines payment-create-table paginator-lifted page-no-style"
                 scrollDirection="both" (onColResize)="onTableChanged()" (onColReorder)="onTableChanged()"
                 [hidden]="tableSupportBase.isVisibleTable"
                 (onSort)="tableSupportBase.onSort(dt)"
                 (onRowSelect)="rowSelected($event, true)" (onRowUnselect)="rowSelected($event, false)"
                 [(selection)]="tableSupportBase.rows" paginatorPosition="top"
                 [value]="tableSupportBase.dataSource" columnResizeMode="expand"
                 dataKey="id" [reorderableColumns]="true" [rowHover]="true" [lazy]="true"
                 (onLazyLoad)="loadData($event, false)"
                 [responsive]="false" selectionMode="multiple" scrollHeight="flex" [scrollable]="true"
                 stateStorage="session" stateKey="{{tableKeyEnum.PAYMENT_TABLE_KEY}}" [rows]="10"
                 [showCurrentPageReport]="true" [tableStyle]="{'min-width': tableSupportBase.minWidth}"
                 [rowsPerPageOptions]="[10,25]" [loading]="tableSupportBase.loading" [resizableColumns]="true"
                 [totalRecords]="tableSupportBase.totalRecords" [paginator]="true" *ngIf="tableSupportBase.minWidth"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records" [filterDelay]="0">

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="!col.isReSizable"
                  [ngStyle]="{'text-align': col.align}"
                  [pReorderableColumnDisabled]="!col.isReOrderable" pReorderableColumn
                  [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn
                  [pSortableColumnDisabled]="!col.isSortable" pSortableColumn="{{col.sortableField}}"
                  class="sort-icon-wrapper">
                <div class="grid">
                  <div class="col-12">
                    <span *ngIf="col.searchType !== enums.CHECKBOX">{{ col.header }}</span>
                    <span *ngIf="col.field == 'doc.referenceNo' && f.isOnline.value == paymentTypeOffline">*</span>
                    <p-sortIcon class="grid-sort-icon" *ngIf="col.isSortable"
                                field="{{col.sortableField}}"></p-sortIcon>
                  </div>
                  <div class="col-12">
                    <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"
                          [columns]="columns" [col]="col"></span>
                  </div>
                </div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-i="rowIndex" let-payment let-columns="columns">
            <tr [class.row-highlight]="payment.selected" [class.row-disabled]="payment.fieldDisabled">
              <td *ngFor="let col of columns; let i=index" [ngStyle]="{'text-align': col.align}"
                  [class.z-index]="col.isFrozen"
                  [class.td-border]="i === 0" [class.td-border-selected]="payment.selected && i === 0"
                  pFrozenColumn [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection">
                <span class="p-column-title">{{ col.header }}</span>

                <span *ngIf="col.field == enums.CHECKBOX">
                   <p-tableCheckbox #check [index]="i" [disabled]="payment.disableCheckbox || payment.fieldDisabled"
                                    [value]="payment"></p-tableCheckbox>
                 </span>


                <span [ngClass]="isClassHover(col.field, payment) ? 'selectedHover': null"
                      (click)="tdClick(col.field, payment)"
                      (mouseover)="tdHover(col.field, payment, $event)" (scroll)="hideOverlays()"
                      (mouseout)="hideOverlays()">


                   <span *ngIf="col.field == 'doc.paymentStatus'" class="capitalize">
                   <li [class]="'mr-2 status-style status-'  + getStatus(payment[col.field])"></li>
                     {{ getStatus(payment[col.field]) | titlecase }}
                 </span>


                 <span *ngIf="col.field == 'doc.referenceNo'">
                   <input [ngModelOptions]="{standalone: true}" [(ngModel)]="payment[col.field]" type="text" blockSpace
                          (ngModelChange)="patchBulkValues(payment, false, false, true)"
                          (focusin)="payment.disableCheckbox = true"
                          (focusout)="updateSelectedArray(payment); payment.disableCheckbox = false" pInputText
                          maxlength="30"
                          [disabled]="!isReferenceNoDisabled( payment['doc.txnType']) || payment.fieldDisabled">
                 </span>

                  <span *ngIf="col.field == 'doc.comment'">
                   <input [ngModelOptions]="{standalone: true}" [(ngModel)]="payment[col.field]" type="text" blockSpace
                          (focusin)="payment.disableCheckbox = true" [disabled]="payment.fieldDisabled"
                          (ngModelChange)="patchBulkValues(payment, false, false, false)"
                          (focusout)="updateSelectedArray(payment); payment.disableCheckbox = false" pInputText
                          maxlength="50">
                 </span>

                  <span *ngIf="col.field == 'doc.txnType'">
                      <p-dropdown [options]="getPaymentTypeList(payment)" id="{{'pType' + i}}" inputId="paymentTypeId"
                                  (focusin)="payment.disableCheckbox = true" [disabled]="payment.fieldDisabled"
                                  [(ngModel)]="payment[col.field]" optionDisabled="inactive"
                                  (focusout)="updateSelectedArray(payment); payment.disableCheckbox = false"
                                  [ngModelOptions]="{standalone: true}"
                                  (onChange)="paymentTypeChange(false,payment); patchBulkValues(payment, true, false, false)"
                                  [showClear]="true" optionLabel="name" optionValue="id" appendTo="body" [filter]="true"
                                  [style]="{'width':'100%'}" [autoDisplayFirst]="false">
                      </p-dropdown>
                  </span>

                  <span *ngIf="col.field == 'doc.fundingAccount'">
                     {{getFundingAccountName(payment)}}
                  </span>

                    <span *ngIf="col.field == 'doc.txnAmount'">
                  <input [(ngModel)]="payment[col.field]" maxlength="19" id="paymentAmount" type="text" pInputText
                         currencyMask [ngModelOptions]="{standalone: true}"
                         (focusin)="payment.disableCheckbox = true" [disabled]="payment.fieldDisabled"
                         (focusout)="updateSelectedArray(payment); valueChanged(); payment.disableCheckbox = false"
                         (ngModelChange)="getDiscountAmount(payment);
                         patchBulkValues(payment, false, false, false)"
                         [options]="{ prefix: '', thousands: ',', decimal: '.', allowNegative: false }">
              </span>

                      <span *ngIf="col.field == 'doc.paymentDate'">
                        <p-calendar [(ngModel)]="payment[col.field]" appendTo="body" id="paymentDateGrid"
                                    [ngModelOptions]="{standalone: true}"
                                    [disabled]="f.isOnline.value == paymentTypeOnline || payment.fieldDisabled"
                                    (ngModelChange)="patchBulkValues(payment, false, true, false)"
                                    [showIcon]="true" [style]="{'width':'100%'}"
                                    (focusin)="payment.disableCheckbox = true"
                                    (onSelect)="getDiscountAmount(payment); patchBulkValues(payment, false, true, false);
                                  updateSelectedArray(payment);  payment.disableCheckbox = false"></p-calendar>
                        </span>

                  <span *ngIf="col.field == 'doc.creditAmount'">
                     {{ commonUtil.detailViewIsDash(payment[col.field], true) | number : '1.2-2' }}
                   </span>

                  <span *ngIf="col.field == 'doc.applicableDiscountAmount'">
                    {{ commonUtil.detailViewIsDash(payment[col.field], true) | number : '1.2-2' }}
                   </span>

                  <span *ngIf="col.field == 'doc.payee'">{{ payment[col.field] }}</span>

                  <span *ngIf="col.field == 'doc.receipt'">
                     <div class="p-inputgroup">
                      <input [id]="payment.id" name="id1" #receipt [(ngModel)]="payment[col.field]"
                             (change)="changeReceipt($event, payment);" accept="application/pdf,image/*"
                             type="file" hidden [ngModelOptions]="{standalone: true}">
                      <input readonly class="input-max-width" placeholder="Upload Receipt"
                             (focusout)="payment.disableCheckbox = false"
                             (focusin)="payment.disableCheckbox = true" [ngModelOptions]="{standalone: true}"
                             [ngModel]="payment[col.field]?.name"
                             [disabled]="f.isOnline.value == paymentTypeOnline || f.documentType.value == appDocumentType.EXPENSE_REPORT"
                             (click)="onClickReceipt(payment.id)" type="text" pInputText>
                      <button pButton label="Browse" type="button" class="p-button file-browse p-button-sm"
                              (click)="onClickReceipt(payment.id)"
                              [disabled]="f.isOnline.value == paymentTypeOnline || f.documentType.value == appDocumentType.EXPENSE_REPORT"></button>
                      <button pButton [style]="{'height':'31px'}" icon="fa fa-close"
                              class="p-button-borderless p-button-sm"
                              *ngIf="payment[col.field]" (click)="clearReceipt(payment); receipt.value = null"></button>
                     </div>
                   </span>

              <span class="white-space-normal break-word"
                    *ngIf="col.field !== 'doc.paymentStatus' &&
                       col.field !== 'doc.referenceNo' &&
                       col.field !== 'doc.paymentDate' &&
                       col.field !== 'doc.txnType' &&
                       col.field !== 'doc.receipt' &&
                       col.field !== 'doc.payee' &&
                       col.field !== 'doc.applicableDiscountAmount' &&
                       col.field !== 'doc.txnAmount' &&
                       col.field !== 'doc.comment' &&
                       col.field !== 'doc.fundingAccount' &&
                       col.field !== 'doc.creditAmount'">{{ payment[col.field] }}
              </span>
            </span>
                <span *ngIf="col.field == 'doc.payee'">
                    <i class="pi pi-info-circle ml-3"
                       [pTooltip]="'Payment details for this payee have not been verified.'"
                       tooltipPosition="bottom" tooltipStyleClass="white-tool-tip"
                       *ngIf="showPaymentDetailsValidIcon(payment)"></i>
                </span>
              </td>
            </tr>
          </ng-template>

          <p-overlayPanel appendTo="body" #billOverlay>
            <ng-template pTemplate>
              <app-table-bill-no-overlay [billId]="overlayId"></app-table-bill-no-overlay>
            </ng-template>
          </p-overlayPanel>

          <p-overlayPanel appendTo="body" #expenseOverlay>
            <ng-template pTemplate>
              <app-table-expense-overlay [expenseId]="overlayId"></app-table-expense-overlay>
            </ng-template>
          </p-overlayPanel>

          <p-overlayPanel appendTo="body" #paymentTypeOverlay>
            <ng-template pTemplate>
              <app-table-payment-type-overlay [data]="overlayData" [paymentTypes]="paymentTypes.data"
                                              [id]="overlayId"></app-table-payment-type-overlay>
            </ng-template>
          </p-overlayPanel>

          <ng-template pTemplate="emptymessage">
            <div class="text-center grid table-empty-data">
              <div class="col-12">
                <i class="fa-solid fa-magnifying-glass"></i><br>
                <p>There are no records found</p>
              </div>
            </div>
          </ng-template>
        </p-table>
      </div>
      <div class="no-data-show" *ngIf="tableSupportBase.isVisibleTable == true">
        <span class="fa fa-search"></span>
        <div style="margin-top: 1%">There are no transactions matching the criteria</div>
      </div>
    </div>
  </div>


  <div class="grid">
    <div class="col-12 xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <div class="grid">
        <div class="mt-3 p-2 col-">
          <div class="flex align-items-center" *ngIf="!schedule">
            <p-inputSwitch [disabled]="matchingAutomation" [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="showApprovers"></p-inputSwitch>
            <span class="ml-2 font-bold subHeadingColour">Select Approver(s)</span>
          </div>
        </div>

        <div class="mt-3 col-12 sm:col-12 md:col-6 lg-col-4 xl:col-3"
             [hidden]="f.isOnline.value == paymentTypeOffline">
          <div class=" flex  align-items-center" *ngIf="!showApprovers">
            <p-inputSwitch [ngModelOptions]="{standalone: true}" [(ngModel)]="schedule"></p-inputSwitch>
            <span class="ml-3 font-bold subHeadingColour">Schedule Payment</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 col-12 xl:col-6 lg:col-6 md:col-12 sm:col-12">
      <div class="total text-right">
        <span *ngIf="getTotal() > 0" (click)="viewSummary()" class="mr-3"><i class="fa fa-magnifying-glass-plus"></i> View Summary</span>
        <h2 class="subHeadingColour">Total: &nbsp;&nbsp;{{ getTotal() | number : '1.2-2' }}</h2>
      </div>
    </div>

  </div>

  <div class="grid mt-4" *ngIf="showApprovers">
    <div class="col-12 xl:col-7 lg:col-7 md:col-12 sm:col-12" app-work-flow-section
         [adHocWorkflowDetails]="adHocWorkflowDetails" [form]="paymentForm" [approvalGroupList]="approvalGroupList"
         (addAdHocWorkflowDetailEmit)="addAdHocWorkflowDetail()" [approvalUserList]="approvalUserList"
         (removeAdHocWorkflowEmit)="removeAdHocWorkflow($event)" [matchingAutomation]="matchingAutomation"
         [isWorkflowConfigAvailable]="isWorkflowConfigAvailable">
    </div>
  </div>


  <div class="grid pl-1 mt-4" *ngIf="schedule">

    <div class="col-12 xl:col-3 lg:col-4 md:col-4 sm:col-12 field p-fluid">
      <label class="label">Date</label>
      <p-calendar appendTo="body" [minDate]="today" showIcon="true" showButtonBar="true"
                  formControlName="scheduledDate"></p-calendar>
    </div>

    <div class="col-12 xl:col-3 lg:col-4 md:col-4 sm:col-12 field p-fluid">
      <label class="label">Time (24 Hours)</label>
      <p-calendar appendTo="body" formControlName="scheduledTime" #pc showIcon="true" [timeOnly]="true"
                  showTime="true" icon="pi pi-clock" [iconAriaLabel]="'Now'" [hourFormat]="24">
        <ng-template pTemplate="footer">
          <div class="grid">
            <div class="col-6">
              <button pButton label="Now" class="p-button-outlined" (click)="getCurrentTime()"></button>
            </div>
            <div class="col-6 text-right">
              <button pButton label="Clear" class="p-button-outlined" (click)="pc.onClearButtonClick($event)"></button>
            </div>
          </div>
        </ng-template>
      </p-calendar>
    </div>
  </div>
</form>

<div class="grid footer fixed">
  <div class="col-12 button-set-wrapper form-footer-button">
    <div *ngIf="showUSBankAd" class="us-bank">
      <div class="grid m-0">
        <div class="col-8 pb-0">
          <p>Payment Solution Powered By</p>
        </div>
        <div class="col-4 pb-0">
          <img src="../../assets/images/us-bank-logo.png"/>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button pButton type="button" (click)="resetForm()" label="Reset" icon="fa-solid fa-rotate-right"
              class="p-button-borderless p-button-sm mr-2" [disabled]="loading"></button>

      <button class="p-button-sm" pButton type="submit" [loading]="loading" *ngIf="!showApprovers && !schedule"
              label="Pay" icon="fa-solid fa-coins" (click)="submitPayment(appEnumConstants.STATUS_APPROVED)"></button>

      <button class="p-button-sm" icon="fa-solid fa-share-from-square" pButton type="submit" [loading]="loading"
              *ngIf="showApprovers && !schedule"
              label="Submit for Approval" (click)="submitPayment(appEnumConstants.STATUS_PENDING)"></button>

      <button class="p-button-sm" icon="pi pi-clock" pButton type="submit" [loading]="loading"
              *ngIf="schedule && !showApprovers"
              label="Schedule" (click)="submitPayment(appEnumConstants.STATUS_APPROVED)"></button>
    </div>
  </div>
</div>

<p-sidebar styleClass="p-sidebar-lg" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="viewSummaryBool= false" *ngIf="viewSummaryBool"
           [fullScreen]="false" [(visible)]="viewSummaryBool"
           transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">View Summary</ng-template>

  <div class="summary">
    <div class="grid m-4">
      <div class="col-1 font-bold"></div>
      <div class="col-3 font-bold">Document No.</div>
      <div class="col-3 font-bold">Payee</div>
      <div class="col-2 font-bold">Due Date</div>
      <div class="col-3 pr-6 text-right font-bold">Amount</div>
      <div class="grid mt-3 p-0 col-12 document-list">
        <ng-container *ngFor="let row of tableSupportBase.rows; let i=index">
          <div class="col-1 ">{{ i + 1 }}</div>
          <div class="col-3">{{ row['doc.docNo'] }}</div>
          <div class="col-3">{{ row['doc.payee'] }}</div>
          <div class="col-2">{{ row['doc.dueDate'] }}</div>
          <div class="col-3 text-right">{{ row['doc.txnAmount'] | number : '1.2-2' }}</div>
        </ng-container>
      </div>

      <div class="grid mt-3 w-full">
        <div class="col-12 text-right">
          <h2 class="subHeadingColour">Total: &nbsp;&nbsp;{{ getTotal() | number : '1.2-2' }}</h2>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="showFilter= false"
           [fullScreen]="false" [(visible)]="showFilter" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Advance Filter</ng-template>
  <app-table-column-filters [dt]="table" [columns]="tableSupportBase.filterEnabledColumns"
                            (closeDrawer)="showFilter = false"
                            [tableSupportBase]="tableSupportBase"></app-table-column-filters>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm table-column-sidebar" appendTo="body" [modal]="true" [dismissible]="true"
           position="right"
           (onHide)="showFilterColumns= false" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)"
           [fullScreen]="false" [(visible)]="showFilterColumns">
  <ng-template pTemplate="header">Columns</ng-template>
  <app-table-column-toggle [cols]="selectedColumns" (selectionsUpdated)="selectedColumns = $event"
                           [tableInstance]="table" (restoreTable)="loadTableData()"
                           [tableKey]="tableKeyEnum.PAYMENT_TABLE_KEY"
                           [gridName]="appConstant.GRID_PAYMENT_CREATE"
                           [hiddenOptions]="tableSupportBase.hiddenInOptions"
                           (updateColOrder)="onTableChanged($event)"></app-table-column-toggle>
</p-sidebar>


<p-dialog position="center" [(visible)]="showSummary" (onHide)="showSummary = false" styleClass="dialog-box-no-padding"
          [resizable]="false" [closable]="false" appendTo="body" [draggable]="false" *ngIf="showSummary"
          [style]="{width: showApprovers? '70vw' : '50vw', minWidth: '400px'}" closeOnEscape="false" [modal]="true">

  <app-payment-summary *ngIf="showSummary" [fromCreate]="true" [paymentDetails]="paymentObj"
                       [paymentForm]="paymentForm.value" [isWorkFlow]="showApprovers" [isSchedule]="schedule"
                       [paymentTypes]="paymentTypes.data" [approvalGroups]="approvalGroupList.data"
                       [approvalUsers]="approvalUserList.data" (onClose)="showSummary = false"
                       (onSubmit)="create($event)" [buttonDetails]="getButtonDetailsForSummary()"></app-payment-summary>
</p-dialog>
