
<div class="table-wrapper">
  <p-table responsiveLayout="scroll" id="columnSelect" #dt [columns]="selectedColumns" (onColResize)="onTableChanged()"
           (onColReorder)="onTableChanged()" (onFilter)="tableSupportBase.onFilter(dt)"
           [(contextMenuSelection)]="tableSupportBase.selectedContextActionData" [contextMenu]="cm"
           (onSort)="tableSupportBase.onSort(dt)" [hidden]="tableSupportBase.isVisibleTable"
           (onRowSelect)="tableSupportBase.rowSelected(dt,null)" (onRowUnselect)="tableSupportBase.rowSelected(dt,null)"
           [(selection)]="tableSupportBase.rows" [value]="tableSupportBase.dataSource" columnResizeMode="expand"
           dataKey="id" [reorderableColumns]="true" [rowHover]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
           [responsive]="false" selectionMode="multiple" scrollHeight="flex" [scrollable]="true"
           stateStorage="session" stateKey="{{tableKeyEnum.GRID_NAME_RECURRING_Bill_TABLE_KEY}}" [rows]="25"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[25, 50, 75]" [loading]="tableSupportBase.loading" [resizableColumns]="true"
           [totalRecords]="tableSupportBase.totalRecords" [paginator]="true" *ngIf="tableSupportBase.minWidth"
           styleClass="p-datatable-sm p-datatable-striped no-grid-lines"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">



    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="!col.isReSizable"
            [ngStyle]="{'text-align': col.align}"
            [pReorderableColumnDisabled]="!col.isReOrderable" pReorderableColumn
            [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn
            [pSortableColumnDisabled]="!col.isSortable" pSortableColumn="{{col.sortableField}}" class="sort-icon-wrapper">
          <div class="grid">
            <div class="col-12">
              <div *ngIf="col.searchType == enums.CHECKBOX">
                <p-tableHeaderCheckbox (click)="tableSupportBase.rowSelected(dt,null)"></p-tableHeaderCheckbox>
              </div>
              <span *ngIf="col.searchType !== enums.CHECKBOX">{{col.header}}</span>
              <p-sortIcon class="grid-sort-icon" *ngIf="col.isSortable" field="{{col.sortableField}}"></p-sortIcon>
            </div>
            <div class="col-12">
               <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"
                     [columns]="columns" [col]="col"></span>
            </div>
          </div>

        </th>
      </tr>
<!--      <tr>-->
<!--        <th *ngFor="let col of columns" [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn>-->
<!--          <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"-->
<!--                [columns]="columns" [col]="col"></span>-->
<!--        </th>-->
<!--      </tr>-->
    </ng-template>


    <ng-template pTemplate="body" let-customer let-columns="columns">
      <tr (wheel)="tableSupportBase.scrollHideActionMenu(cm)" [pContextMenuRow]="customer" (contextmenu)="actionButtonClick(customer);
  tableSupportBase.setContextMenuActionBtnList(tableSupportBase.actionButtonList(customer['recBill.status']))
">
      <td *ngFor="let col of columns; let in=index" [ngStyle]="{'text-align': col.align}"
          [class.td-border]="in === 0" [class.td-border-selected]="customer.selected && in === 0" [style]="'width:' + col.columnWidth  + 'px'"
          [class.freeze-right]="col.frozenDirection == 'right'" [ngClass]="col.searchType == enums.ACTION_BUTTON ? 'vendor-table-action-btn' : null"
          pFrozenColumn [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection"
      >
        <span class="p-column-title">{{col.header}}</span>

          <span *ngIf="col.field == enums.CHECKBOX">
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </span>

          <span *ngIf="col.searchType ==  enums.ACTION_BUTTON" >
          <button type="button" pButton class="grid-action-btn p-button-text" icon="pi pi-ellipsis-v"
                  [disabled]="tableSupportBase.actionButtonList(customer['recBill.status']).length === 0"
                  (click)="menu.toggle($event); actionButtonClick(customer)"></button>
         <p-menu #menu [popup]="true" appendTo="body"
                 [model]="tableSupportBase.actionButtonList(customer['recBill.status'])"></p-menu>
        </span>

          <span [ngClass]="isClassHover(col.field) ? 'selectedHover': null" (click)="tdClick(col.field, customer, $event)"
                (mouseover)="tdHover(col.field, customer, $event)" (scroll)="hideOverlays()" (mouseout)="hideOverlays()">

        <span class="white-space-normal break-word" *ngIf="col.field !== 'recBill.status'">{{customer[col.field]}}</span>

          <span *ngIf="col.field == 'recBill.status'" class="capitalize">
            <li [class]="'mr-2 status-style status-'  + tableSupportBase.getStatus(customer[col.field])"></li>
            {{tableSupportBase.getStatus(customer[col.field]) | titlecase}}
          </span>

        </span>

        </td>



      </tr>
    </ng-template>

    <p-overlayPanel appendTo="body" #vendorOverlay>
      <ng-template pTemplate>
        <app-table-vendor-overlay [vendorId]="overlayId"></app-table-vendor-overlay>
      </ng-template>
    </p-overlayPanel>


    <ng-template pTemplate="emptymessage">
      <div class="text-center grid table-empty-data">
          <div class="col-12">
            <i class="fa-solid fa-magnifying-glass"></i><br>
            <p>There are no records found</p>
          </div>
      </div>
    </ng-template>
  </p-table>
</div>


<div class="no-data-show" *ngIf="tableSupportBase.isVisibleTable == true">
  <span class="fa fa-search"></span>
  <div style="margin-top: 1%">There are no transactions matching the criteria</div>
</div>


<p-confirmDialog #cdD key="recurringBillDelete" header="Are you sure?"
                 icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cdD.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, Delete it"
            (click)="cdD.accept()"></button>
  </p-footer>
</p-confirmDialog>


<p-sidebar appendTo="body" [showCloseIcon]="false" [fullScreen]="true" [modal]="false"
           *ngIf="recurringTemplateView" [(visible)]="recurringTemplateView">
  <app-recurring-bill-create
    (isClickCloseButton)="recurringTemplateView = false; loadData(tableSupportBase.searchFilterDto)"
    [detailView]="recurringTemplateDetailView" [billStatus]="activeAction['recBill.status']"
    (editButtonEmitter)="recurringTemplateEditViewFromDetailView = true" #recurringBillCreateComponent
    [templateId]="recurringTemplateId" [editView]="recurringTemplateEditView"
    *ngIf="recurringTemplateView"></app-recurring-bill-create>
</p-sidebar>

<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false"
           *ngIf="recurringTemplateEditViewFromDetailView" [(visible)]="recurringTemplateEditViewFromDetailView">
  <app-recurring-bill-create
    (editSuccessEmitter)="recurringTemplateEditViewFromDetailView = false"
    (isClickCloseButton)="recurringTemplateEditViewFromDetailView = false;
    recurringBillCreateComponent.detailView = true;
    recurringBillCreateComponent?.resetEInvoiceForm()"
    [detailView]="false"
    [templateId]="recurringTemplateId" [editView]="true"
    *ngIf="recurringTemplateEditViewFromDetailView"></app-recurring-bill-create>
</p-sidebar>




<!--Create e-invoice-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false"
           [(visible)]="viewCreateEbill " styleClass="p-sidebar-sm">

  <app-create-e-bill (isClickCloseButton)="viewCreateEbill = false" [fromRecurringBill]="true"
                     [templateId]="recurringTemplateId"
                     *ngIf="viewCreateEbill  && privilegeService.isAuthorizedMultiple([appAuthorities.BILL_CREATE, appAuthorities.BILL_SAVE_AS_APPROVED])">
  </app-create-e-bill>
</p-sidebar>





<!--Action Buttons-->

<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right" (onHide)="showFilter= false"
           [fullScreen]="false" [(visible)]="showFilter" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Advance Filter</ng-template>
  <app-table-column-filters [dt]="table" [columns]="tableSupportBase.filterEnabledColumns" (closeDrawer)="showFilter = false"
                            [tableSupportBase]="tableSupportBase"></app-table-column-filters>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm table-column-sidebar" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="showFilterColumns= false" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)"
           [fullScreen]="false" [(visible)]="showFilterColumns">
    <ng-template pTemplate="header">Columns</ng-template>
  <app-table-column-toggle [cols]="selectedColumns" (selectionsUpdated)="selectedColumns = $event"
                           [tableInstance]="table" (restoreTable)="loadTableData()"
                           [tableKey]="tableKeyEnum.GRID_NAME_RECURRING_Bill_TABLE_KEY"
                           [gridName]="appConstant.GRID_NAME_RECURRING_Bill_LIST"
                           [hiddenOptions]="tableSupportBase.hiddenInOptions"
                           (updateColOrder)="onTableChanged($event)"></app-table-column-toggle>
</p-sidebar>


<!--Context Menu-->
<p-contextMenu #cm appendTo="body" (onShow)="tableSupportBase.hideActionMenu(menu)" [model]="tableSupportBase.contextMenuActionList"></p-contextMenu>
