<div class="only-receipt-upload-wrapper" *ngIf="receiptList.length === 0">
  <div class="card custom-card">
    <div class="p-fluid grid">
      <div class="col-12">
        <h6 class="subHeadingColour">Upload Receipts</h6>
      </div>
      <ng-template [ngTemplateOutlet]="upload"></ng-template>
    </div>
  </div>
</div>
<div class="receipt-upload-wrapper" *ngIf="receiptList.length !== 0">
  <kendo-splitter orientation="horizontal" style="height: 100%;">
    <kendo-splitter-pane size="{{responsiveSize}}" [collapsible]="true" [min]="'40%'">
      <div class="height">
        <form [formGroup]="uploadFormGroup" autocomplete="off">
          <div class="card custom-card">
            <div class="p-fluid grid">
              <div class="col-12">
                <h6 class="subHeadingColour">1. Upload Receipts</h6>
              </div>
              <ng-template [ngTemplateOutlet]="upload"></ng-template>
            </div>
          </div>
        </form>

        <div class="detail-form">
          <form [formGroup]="receiptCreateFormGroup" autocomplete="off">
            <div class="card custom-card">
              <div class="grid">
                <div class="col-6">
                  <h6 class="subHeadingColour">2. Select a Receipt</h6>
                </div>
                <div class="col-6 text-right">
                <span class="hyperlink text-right p-text-norma" (click)="readAllReceiptsFromOcr()"><u>Read all
                  Receipts data</u></span>
                </div>
              </div>

              <div class="pdf-list">
                <div class="pdf" *ngFor="let receipt of receiptList; let i = index">
                  <div (mouseenter)="currentIndexHover = i" [ngClass]="{'highlight-background': i=== currentIndex}"
                       (mouseleave)="currentIndexHover = null" style="text-align: center"
                       class="grid single-pdf">

                    <div style="width: 100%" class="text-right bill-actions">
                      <em class="process-icon"
                          *ngIf="receipt.ocrRunningStatus !== enums.STATUS_PENDING && receipt.ocrRunningStatus !== enums.STATUS_DONE"
                          [pTooltip]="receipt.ocrRunningStatus === enums.STATUS_DONE ? 'Detection Complete':
                      'Read Receipt Data'" tooltipPosition="bottom"
                          [ngClass]="receipt.ocrRunningStatus === enums.STATUS_DONE ? 'fa fa-check' : 'fa fa-circle-play to-process'"
                          (click)="detectReceipt(receipt)"></em>

                      <em class="fa fa-times-circle"
                          [ngClass]="(currentIndexHover === i) || (currentIndex === i) ? 'close-icon-hover' : 'close-icon'"
                          (click)="deleteReceipt(receipt, i)"></em>
                    </div>

                    <div class="col-12 k-cursor-pointer"
                         (click)="receiptSelected(receipt);currentIndex = i">
                      <i [ngStyle]="{'color' : attachmentColors(receipt.detectionLevel)}" class="attachment-margin"
                         [ngClass]="receipt.ocrRunningStatus === enums.STATUS_PENDING ? 'fa fa-spinner fa-pulse': 'fa fa-file-pdf pdf-icon-wrapper-receipt'"
                         aria-hidden="true"></i>
                    </div>
                    <div class="col-12 pdf-name k-cursor-pointer" [pTooltip]="receipt.fileName"
                         tooltipPosition="bottom"
                         (click)="receiptSelected(receipt); currentIndex = i">
                      {{receipt.fileName}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-4">
                <h6 class="subHeadingColour">3. Review Details</h6>
              </div>
              <div class="form-grid">
                <div *ngIf="isDataFetching" [ngClass]="isDataFetching ? 'form-wrapper' : ''">
                  <em class="fa fa-spinner fa-pulse"></em>
                </div>

                <div class="grid p-fluid credit-card-receipt">

                  <div class="field col-12 xl:col-4 sm:col-12 lg:col-4 md:col-6"
                       *ngIf="privilegeService.isAuthorized(appAuthorities.CREDIT_CARD_RECEIPT_UPLOAD_FOR_USER)">
                  <span class="p-fluid">
                    <label class="label-wrapper" for="receiptNumber">Select Employee</label>
                        <p-dropdown [virtualScroll]="employees.data.length>20" virtualScrollItemSize="25"
                                    [options]="employees.data" id="receiptNumber" optionDisabled="inactive"
                                    formControlName="employeeId" optionLabel="name" optionValue="id" [showClear]="true"
                                    [autoDisplayFirst]="false" [filter]="true">
                         </p-dropdown>
                      </span>
                    <div class="p-invalid text-align-left"
                         *ngIf="receiptCreateFormGroup.get('employeeId').dirty && receiptCreateFormGroup.get('employeeId').errors">
                      Employee is required
                    </div>
                  </div>

                  <div class="field col-12 xl:col-4 sm:col-12 lg:col-4 md:col-6">
                    <label class="label-wrapper" for="paymentDate">Transaction Date*</label>
                    <div class="p-inputgroup">
                    <span class="p-float-label">
                       <p-calendar formControlName="transactionDateStr" appendTo="body" id="paymentDate"
                                   [showIcon]="true" class="date"></p-calendar>
                    </span>
                    </div>
                    <div class="p-invalid text-align-left" *ngIf="receiptCreateFormGroup.get('transactionDateStr').dirty &&
                        receiptCreateFormGroup.get('transactionDateStr').hasError('required')"> Transaction Date is
                      required
                    </div>
                  </div>


                  <div class="field col-12 xl:col-4 sm:col-12 lg:col-4 md:col-6">
                    <label class="label-wrapper" for="amount">Transaction Amount*</label>
                    <div class="p-inputgroup">
                    <span class="p-float-label">
                      <input pInputText currencyMask formControlName="amount" id="amount" class="date"
                             maxlength="19" [options]="{ prefix: '', thousands: ',', decimal: '.'}">
                    </span>
                    </div>
                    <div class="p-invalid text-align-left" *ngIf="receiptCreateFormGroup.get('amount').dirty &&
                              receiptCreateFormGroup.get('amount').hasError('required')">Transaction Amount is required
                    </div>
                    <div class="p-invalid text-align-left" *ngIf="receiptCreateFormGroup.get('amount').dirty &&
                     receiptCreateFormGroup.get('amount').hasError('min')">Transaction Amount must be greater than 0.00
                    </div>
                  </div>


                  <div class="field col-12 xl:col-4 sm:col-12 lg:col-4 md:col-6">
                    <label class="label-wrapper" for="merchant">Merchant</label>
                    <div class="p-inputgroup">
                      <span class="p-float-label">
                        <p-autoComplete formControlName="merchant" [suggestions]="merchantResults" maxlength="100"
                                        id="merchant"
                                        minLength="2" (completeMethod)="searchMerchants($event)"></p-autoComplete>
                      </span>
                    </div>
                  </div>


                  <div class="field col-12 xl:col-4 sm:col-12 lg:col-4 md:col-6">
                    <label class="label-wrapper" for="description">Description</label>
                    <span class="p-float-label">
                          <textarea id="description" formControlName="description" [rows]="1" pInputTextarea
                                    maxlength="300"
                                    (keyup)="removeSpaces.clearSpace(receiptCreateFormGroup, 'description')"></textarea>
                    </span>
                    <div class="p-invalid text-align-left" *ngIf="receiptCreateFormGroup.get('description').dirty &&
                            receiptCreateFormGroup.get('description').hasError('required')">Description is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="grid footer form-footer-button">
        <div class="col-12 button-set-wrapper">
          <div class="text-right button-set-outer-wrapper">

            <button pButton type="button" (click)="resetForm()" label="Reset" class="p-button-outlined p-button-sm"
                    [disabled]="isLoading" icon="fa-solid fa-rotate-right"></button>

            <button pButton class="p-button-sm ml-2" [disabled]="isLoading"
                    (click)="submitForm()" type="button" [icon]="isLoading ? 'pi pi-spin pi-spinner':
              'pi pi-save'" iconPos="left" label="Save"></button>
          </div>
        </div>
      </div>

    </kendo-splitter-pane>

    <kendo-splitter-pane (sizeChange)="splitterResized($event)" [collapsible]="true" [min]="'20%'">

      <iframe [src]="attachmentUrl" allowfullscreen *ngIf="attachmentUrl" style="border: none" width="100%"
              height="100%" title="Receipt"></iframe>
    </kendo-splitter-pane>


  </kendo-splitter>
</div>

<ng-template #upload>
  <div class="col-12 xl:col-12 pt-0 pb-0" *ngIf="!loading">
    <ngx-dropzone accept="application/pdf,image/png,image/jpeg,image/jpg" (change)="changeFileList($event)"
                  class="drop-zone-style">
      <ngx-dropzone-label class="subHeadingColour p-text-normal">Drop File(s) Here To Upload <br><br>
        <span class="subHeadingColour p-text-normal" style="font-size: 13px"> (We only accept PDF, JPG JPEG and PNG formats, all the other formats will be ignored)</span>
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>
  <div class="col-12 xl:col-12  pt-0 pb-0" *ngIf="loading">
    <ngx-dropzone [disabled]="true" class="drop-zone-style1" style="background-color: #ededed">
      <ngx-dropzone-label>
        <p-progressSpinner [style]="{width: '70px', height: '70px'}" styleClass="custom-spinner" strokeWidth="4"
                           fill="transparent"
                           animationDuration=".8s"></p-progressSpinner>
        <br>
        <ngx-dropzone-label class="subHeadingColour p-text-normal">Please wait, We are processing your file(s)
        </ngx-dropzone-label>
      </ngx-dropzone-label>
    </ngx-dropzone>
  </div>
</ng-template>

<p-confirmDialog #cd key="receipt-delete" appendTo="body" header="Are you sure?"
                 icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cd.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, Delete it!"
            (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>


<!--Create New Vendor-->
<p-sidebar styleClass="p-sidebar-sm" [dismissible]="true" appendTo="body" [modal]="true" position="right"
           class="overflow-side-bar" *ngIf="addNewVendor"
           [(visible)]="addNewVendor">
  <ng-template pTemplate="header">Create Vendor</ng-template>
  <app-add-vendor (refreshVendorList)="getVendorList()" *ngIf="addNewVendor"></app-add-vendor>
</p-sidebar>

<!--Create-->
<p-sidebar [(visible)]="addNewCard" position="right" styleClass="p-sidebar-sm" *ngIf="addNewCard">
  <ng-template pTemplate="header">Add Credit Card</ng-template>
  <app-create-credit-card-form (onComplete)="addNewCard = false; getExistingCards()"
                               [panel]="true"
                               [createView]="true"
                               [editView]="true"></app-create-credit-card-form>
</p-sidebar>
