.field-checkbox {
  label {
    line-height: 1.5;
    font-size: 12px !important;
  }
}
.side-bar-drawer-content{
  min-height: calc(100% - 120px);
}

.radio-container {
  padding: unset !important;
}
