<div [hidden]="isSubmitBill">

    <p-tabView (onChange)="tabChanged(tabIndex)" [(activeIndex)]="tabIndex" styleClass="tabview-custom p-0-tabview">

      <!--      Bills-->
      <p-tabPanel *ngIf="isBillModule()">
        <ng-template pTemplate="header">
          <span class="custom-span">Bills</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="grid">
            <div class="col-8">
              <app-table-header-action-buttons *ngIf="billListComponent && isBillTable()"
                                               [componentInstance]="billListComponent"
                                               [tableSupportBase]="billListComponent?.tableSupportBase"
                                               (refresh)="billListComponent?.loadData(billListComponent.tableSupportBase.searchFilterDto)"
                                               (showFilters)="billListComponent.showFilter = !billListComponent?.showFilter;
                                                billListComponent.showFilterColumns = false"
                                               (showColumns)="billListComponent.showFilterColumns = !billListComponent?.showFilterColumns; billListComponent.showFilter = false"
                                               (delete)="billListComponent.bulkDelete()"
                                               (reject)="billListComponent.bulkReject()"
                                               (inactive)="billListComponent.inactiveBillList()"
                                               (active)="billListComponent.activeBillList()"
                                               (download)="billListComponent.bulkDownloadAll()"
                                               (export)="billListComponent.bulkExportAll()"
                                               (paymentUnProcessing)="billListComponent.bulkPaymentUnProcess()"
                                               (paymentProcessing)="billListComponent.bulkPaymentProcess()"
                                               (downloadDetailedReports)="billListComponent.downloadSelectedDetailReport()"
                                               (applyCreditNote)="billListComponent.checkAllowedToViewApplyCreditNote()"
                                               (quickApprove)="billListComponent.bulkQuickApprove()"
                                               [moduleName]="AppAnalyticsConstants.MODULE_NAME_BILL"
                                               [visibleActions]="billListComponent?.availableHeaderActions"></app-table-header-action-buttons>
            </div>
            <div class="col-4 text-right">
              <button pButton *ngIf="isBillList && privilegeService.isAuthorized(appAuthorities.BILL_PROCESS)"
                      class="p-button-sm" label="Process Bills"
                      (click)="clickComponentButton('bs')"></button>&nbsp;
              <button pButton class="p-button-sm" (click)="clickComponentButton('bc')"
                      *ngIf="isBillList && privilegeService.isAuthorizedMultiple([appAuthorities.BILL_CREATE,
                      appAuthorities.BILL_SAVE_AS_APPROVED])" label="Create Bill"></button>
            </div>
          </div>
          <app-bill-list #billListComponent [hidden]="!isBillList" *ngIf="isBillTable()"></app-bill-list>
        </ng-template>
      </p-tabPanel>


      <!--Create New Template-->
      <p-tabPanel *ngIf="isOcrModule()">
        <ng-template pTemplate="header">
          <span class="custom-span">Bill Templates</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="grid">
            <div class="col-6">

              <app-table-header-action-buttons
                *ngIf="ocrTemplateListComponent && isBillOcrTable()"
                [componentInstance]="ocrTemplateListComponent"
                [tableSupportBase]="ocrTemplateListComponent?.tableSupportBase"
                (refresh)="ocrTemplateListComponent?.loadData(ocrTemplateListComponent.tableSupportBase.searchFilterDto)"
                (showFilters)="ocrTemplateListComponent.showFilter = !ocrTemplateListComponent?.showFilter;
                ocrTemplateListComponent.showFilterColumns = false"
                (showColumns)="ocrTemplateListComponent.showFilterColumns = !ocrTemplateListComponent?.showFilterColumns; ocrTemplateListComponent.showFilter = false"
                (delete)="ocrTemplateListComponent.bulkDelete()"
                (inactive)="ocrTemplateListComponent.bulkInactive()"
                (active)="ocrTemplateListComponent.bulkActivate()"
                [visibleActions]="ocrTemplateListComponent?.availableHeaderActions"
                [moduleName]="AppAnalyticsConstants.MODULE_NAME_BILL_TEMPLATES"
              >
              </app-table-header-action-buttons>
            </div>
            <div class="col-6" style="text-align: right">
              <button pButton class="p-button-sm" (click)="toggleOcr('create')"
                      *ngIf="privilegeService.isAuthorized(appAuthorities.BILL_TEMPLATES_CREATE)"
                      label="Create Bill Template"></button>
            </div>
          </div>
          <p-sidebar appendTo="body" [showCloseIcon]="false" [fullScreen]="true" [modal]="false"
                     *ngIf="ocrCreate" [(visible)]="ocrCreate" styleClass="remove-p-sidebar-inner-padding">
            <app-add-template (closeTemplateCreateView)="toggleOcr('table')" [fromTemplateManagement]="true"
                              *ngIf="ocrCreate"></app-add-template>
          </p-sidebar>
          <app-ocr-template-list #ocrTemplateListComponent [hidden]="ocrCreate"
                                 *ngIf="isBillOcrTable()"></app-ocr-template-list>
        </ng-template>
      </p-tabPanel>

      <!--      Recurring Bills-->
      <p-tabPanel *ngIf="isRecurringBillModule()">
        <ng-template pTemplate="header">
          <span class="custom-span">Recurring Bills</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="grid" *ngIf="privilegeService.isAuthorized(appAuthorities.RECURRING_BILLS_CREATE)">
            <div class="col-6">
              <app-table-header-action-buttons
                *ngIf="recurringBillListComponent && isRecurringBillTable()"
                [componentInstance]="recurringBillListComponent"
                [tableSupportBase]="recurringBillListComponent?.tableSupportBase"
                (refresh)="recurringBillListComponent?.loadData(recurringBillListComponent.tableSupportBase.searchFilterDto)"
                (showFilters)="recurringBillListComponent.showFilter = !recurringBillListComponent?.showFilter;
                recurringBillListComponent.showFilterColumns = false"
                (showColumns)="recurringBillListComponent.showFilterColumns = !recurringBillListComponent?.showFilterColumns; recurringBillListComponent.showFilter = false"
                (delete)="recurringBillListComponent.bulkDelete()"
                (inactive)="recurringBillListComponent.bulkInactivate()"
                (active)="recurringBillListComponent.bulkActivate()"
                [visibleActions]="recurringBillListComponent?.availableHeaderActions"
                [moduleName]="AppAnalyticsConstants.MODULE_NAME_RECURRING_BILLS"
              >

              </app-table-header-action-buttons>
            </div>
            <div class="col-6 text-right">
              <button pButton class="p-button-sm" label="Configure Recurring Bill"
                      (click)="toggleRecurringBill('recurringCreate')"></button>
            </div>
          </div>
          <app-recurring-bill-list #recurringBillListComponent [hidden]="recurringCreate"
                                   *ngIf="isRecurringBillTable()"></app-recurring-bill-list>
        </ng-template>
      </p-tabPanel>


      <!-------------Credit Note Related Changes--------------------------------------------------------------------->

      <p-tabPanel *ngIf="isCreditNoteView()">
        <ng-template pTemplate="header">
          <span class="custom-span">Credit Notes</span>
        </ng-template>
        <ng-template pTemplate="content">
          <app-credit-note-list #creditNoteList></app-credit-note-list>
        </ng-template>
      </p-tabPanel>

    </p-tabView>
</div>

<!--Upload Panel-->

<p-sidebar [showCloseIcon]="false" *ngIf="(isSubmitBill && !isBillsInQueue)" [fullScreen]="true" [modal]="true"
           [(visible)]="isUploadScreen">
  <app-bill-submit-drawer-upload *ngIf="(isSubmitBill && !this.isBillsInQueue)"
                                 (isClickBackButton)="isSubmitBill = false; isBillList = true"
                                 (isUploadSuccess)="loadBillSubmitDrawer()"
                                 [fromProcess]="false">
  </app-bill-submit-drawer-upload>
</p-sidebar>


<!--Submit Bills-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="isBillsInQueue && isSubmitBill"
           class="bill-drawer-remove-inner-padding">
  <app-bill-process (isBillList)="isBillList = true" (navigateToList)="closeBillSubmitDrawer()" *ngIf="(isBillsInQueue && isSubmitBill) &&
          privilegeService.isAuthorized(appAuthorities.BILL_PROCESS)"></app-bill-process>
</p-sidebar>


<!--Create e-invoice-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="isClickCreateEInvoiceButton "
           styleClass="remove-p-sidebar-inner-padding">
  <app-create-e-bill (isBillList)="isBillList = true" (isClickCloseButton)="emittedValue($event)" *ngIf="isClickCreateEInvoiceButton  &&
  privilegeService.isAuthorizedMultiple([appAuthorities.BILL_CREATE, appAuthorities.BILL_SAVE_AS_APPROVED])">
  </app-create-e-bill>
</p-sidebar>


<!--Bill Detail View-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="billDetailView || billApprove"
           class="bill-drawer-remove-inner-padding">
  <app-bill-approve-main [isDetailView]="billDetailView" [singleBill]="true" [approveView]="billApprove"
                         (closeBillApprove)="billDetailView = false; billApprove = false; detailViewClosed()"
                         (closeBillDetailView)="billApprove = false; billDetailView = false; detailViewClosed()"
                         (openBillApprove) = "billApprove = true; billDetailView = false; detailViewClosed()"
                         *ngIf="billDetailView || billApprove" [billId]="billIdForDetailView"></app-bill-approve-main>
</p-sidebar>


<!--Recurring Bill-->
<p-sidebar appendTo="body" [showCloseIcon]="false" [fullScreen]="true" [modal]="false" *ngIf="recurringCreate"
           [(visible)]="recurringCreate" styleClass="remove-p-sidebar-inner-padding">
  <app-recurring-bill-create (isClickCloseButton)="recurringCreate = false; billService.updateTableData.next(true)"
                             *ngIf="recurringCreate"></app-recurring-bill-create>
</p-sidebar>
