<div class="grid">
  <div class="col-6">
    <app-table-header-action-buttons
      [tableSupportBase]="tableSupportBase" [componentInstance]="this"
      (showFilters)="showFilter = !showFilter; showFilterColumns = false"
      (showColumns)="showFilterColumns = !showFilterColumns; showFilter = false"
      (refresh)="loadData(tableSupportBase.searchFilterDto)"
      [visibleActions]="availableHeaderActions"></app-table-header-action-buttons>
  </div>
</div>

<div class="table-wrapper">
  <p-table responsiveLayout="scroll" id="columnSelect" #dt [columns]="selectedColumns" (change)="onTableChanged()" (onColResize)="onTableChanged()"
           [hidden]="tableSupportBase.isVisibleTable" (onFilter)="tableSupportBase.onFilter(dt)"
           (onSort)="tableSupportBase.onSort(dt)" [(contextMenuSelection)]="tableSupportBase.selectedContextActionData" [contextMenu]="cm"
           (onRowSelect)="tableSupportBase.rowSelected(dt,null)" (onRowUnselect)="tableSupportBase.rowSelected(dt,null)"
           (onColReorder)="onTableChanged()" [(selection)]="tableSupportBase.rows"
           [value]="tableSupportBase.dataSource" columnResizeMode="expand"
           dataKey="id" [reorderableColumns]="true" [rowHover]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
           [responsive]="false" selectionMode="multiple" scrollHeight="flex" [scrollable]="true"
           stateStorage="session" stateKey="{{tableKeyEnum.EXPENSE_TABLE_KEY}}" [rows]="25" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[25, 50, 75]" [loading]="tableSupportBase.loading" [resizableColumns]="true"
           styleClass="p-datatable-sm p-datatable-striped no-grid-lines"
           [totalRecords]="tableSupportBase.totalRecords" [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">


    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pResizableColumn [pResizableColumnDisabled]="!col.isReSizable"
            [ngStyle]="{'text-align': col.align}"
            [pReorderableColumnDisabled]="!col.isReOrderable" pReorderableColumn
            [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn
            [pSortableColumnDisabled]="!col.isSortable" pSortableColumn="{{col.sortableField}}" class="sort-icon-wrapper">
          <div class="grid">
            <div class="col-12">
              <div *ngIf="col.searchType == enums.CHECKBOX">
                <p-tableHeaderCheckbox (click)="tableSupportBase.rowSelected(dt,null)"></p-tableHeaderCheckbox>
              </div>
              <span *ngIf="col.searchType !== enums.CHECKBOX">{{col.header}}</span>
              <p-sortIcon class="grid-sort-icon" *ngIf="col.isSortable" field="{{col.sortableField}}"></p-sortIcon>
            </div>
            <div class="col-12">
              <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"
                    [columns]="columns" [col]="col"></span>
            </div>
          </div>

        </th>
      </tr>
<!--      <tr>-->
<!--        <th *ngFor="let col of columns" [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection" pFrozenColumn>-->
<!--          <span app-table-inline-column-filters [tableSupportBase]="tableSupportBase" [dt]="dt"-->
<!--                [columns]="columns" [col]="col"></span>-->
<!--        </th>-->
<!--      </tr>-->
    </ng-template>

    <ng-template pTemplate="body" let-customer let-columns="columns">
      <tr (wheel)="tableSupportBase.scrollHideActionMenu(cm)" [pContextMenuRow]="customer" (contextmenu)="actionButtonClick(customer); tableSupportBase.setContextMenuActionBtnList(actionButtonList(
      customer['expense.status'], customer
      ))">
        <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" [style]="'width:' + col.columnWidth  + 'px'"
            [class.freeze-right]="col.frozenDirection == 'right'" [ngClass]="col.searchType == enums.ACTION_BUTTON ? 'vendor-table-action-btn' : null"
            pFrozenColumn [frozen]="col.isFrozen" [alignFrozen]="col.frozenDirection">
          <span class="p-column-title">{{col.header}}</span>

          <span *ngIf="col.field == enums.CHECKBOX">
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </span>

          <span *ngIf="col.searchType ==  enums.ACTION_BUTTON" >
          <button type="button" pButton class="grid-action-btn p-button-text" icon="pi pi-ellipsis-v"
                  [disabled]="actionButtonList(customer['expense.status'], customer).length === 0"
                  (click)="menu.toggle($event); actionButtonClick(customer)"></button>
          <p-menu #menu [popup]="true" appendTo="body"
                  [model]="actionButtonList(customer['expense.status'], customer)"></p-menu>
        </span>

          <span [ngClass]="isClassHover(col.field) ? 'selectedHover': null" (click)="tdClick(col.field, customer, $event)">
          <span *ngIf="col.field == 'expense.status'"
                [class]="'customer-badge status-'  + tableSupportBase.getStatus(customer[col.field])">{{tableSupportBase.getStatus(customer[col.field])}}</span>

          <span *ngIf="col.field == 'expense.exportStatus'"
                [class]="'customer-badge status-'  + tableSupportBase.getStatus(customer[col.field])">{{tableSupportBase.getStatus(customer[col.field])}}</span>

          <span class="white-space-normal break-word" *ngIf="col.field !== 'expense.status' && col.field !== 'expense.exportStatus'">{{customer[col.field]}}</span>
          </span>

        </td>
      </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage">
      <div class="text-center grid table-empty-data">
        <div class="col-12">
          <i class="fa-solid fa-magnifying-glass"></i><br>
          <p>There are no records found</p>
        </div>
      </div>
    </ng-template>
  </p-table>
</div>


<!--Approve Expense-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="approveExpenseView">
  <app-expense-approve [expenseSearchFilterDto]="tableSupportBase.searchFilterDto"
                       (refreshTable)="this.getDataFromBackend(); updateCards.emit()" [fromDashboard]="true"
                       [expenseReportNumber]="activeAction.reportNumber"
                       (closeExpenseApprove)="this.getDataFromBackend(); updateCards.emit(); approveExpenseView = false" *ngIf="approveExpenseView"
                       [expenseId]="expenseID"></app-expense-approve>
</p-sidebar>

<!--Detail view Expense-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="detailView">
  <app-expense-detail-view [expenseSearchFilterDto]="tableSupportBase.searchFilterDto"
                           [hasUserInApprovalGroupOrAssignee] = 'isValidApproveAccess(activeAction)'
                           (closeExpenseApprove)="detailView = false;
                           loadData(tableSupportBase.searchFilterDto)" *ngIf="detailView"
                           [expenseId]="expenseID"></app-expense-detail-view>
</p-sidebar>


<!--Expense AuditTrail-->
<app-audit-trial *ngIf="auditTrialPanel" [auditTrial]="auditTrial" [heading]="'Expense# ' + activeAction.id"
                      (closeDrawer)="auditTrialPanel = false" [panelShow]="auditTrialPanel"></app-audit-trial>

<p-confirmDialog key="expense" #cd header="Are you sure?" icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cd.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, delete"
            (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>



<!--Action Buttons-->

<p-sidebar styleClass="p-sidebar-sm" appendTo="body" [modal]="true" [dismissible]="true" position="right" (onHide)="showFilter= false"
           [fullScreen]="false" [(visible)]="showFilter" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)">
  <ng-template pTemplate="header">Advance Filter</ng-template>
  <app-table-column-filters [dt]="table" [columns]="tableSupportBase.filterEnabledColumns" (closeDrawer)="showFilter = false"
                            [tableSupportBase]="tableSupportBase"></app-table-column-filters>
</p-sidebar>

<p-sidebar styleClass="p-sidebar-sm table-column-sidebar" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           (onHide)="showFilterColumns= false" transitionOptions="200ms cubic-bezier(0.1, 0.3, 0.4, 0.5)"
           [fullScreen]="false" [(visible)]="showFilterColumns">
    <ng-template pTemplate="header">Columns</ng-template>
  <app-table-column-toggle [cols]="selectedColumns" (selectionsUpdated)="selectedColumns = $event"
                           [tableInstance]="table" (restoreTable)="loadTableData()"
                           [tableKey]="tableKeyEnum.EXPENSE_TABLE_KEY"
                           [gridName]="appConstant.GRID_NAME_DASHBOARD_EXPENSE_LIST"
                           [hiddenOptions]="tableSupportBase.hiddenInOptions"
                           (updateColOrder)="onTableChanged($event)"></app-table-column-toggle>
</p-sidebar>


<!--Context Menu-->
<p-contextMenu #cm appendTo="body" (onShow)="tableSupportBase.hideActionMenu(menu)" [model]="tableSupportBase.contextMenuActionList"></p-contextMenu>
