<div class="side-bar-drawer-content p-3">
<form [formGroup]="createCategoryForm" (ngSubmit)="createNewCategory(createCategoryForm)">
  <div class="grid mt-3 p-fluid">
    <div class="field col-12">
      <div>
        <span>
          <label  class="label-wrapper" for="categoryName">Category Name* </label>
          <input formControlName="name" id="categoryName" type="text" pInputText
                 (keyup)="checkCategoryAvailability(); removeSpace.clearSpace(createCategoryForm, 'name')" (paste)="checkCategoryAvailability()">

        </span>
      </div>
      <div class="p-invalid text-align-left"
           *ngIf="createCategoryForm.get('name').dirty && createCategoryForm.get('name').hasError('required')">
        Category Name is required
      </div>
      <div class="p-invalid text-align-left">
        <div *ngIf="isCategoryAvailable">Category Name already exists, Please enter a new one</div>
      </div>
      <div class="p-invalid text-align-left" *ngIf="createCategoryForm.get('name').hasError('maxlength')">Category Name must be less than 50 characters</div>
    </div>

  </div>
</form>
</div>

<div class="grid panel-footer footer">
  <div class="col-12 button-set-wrapper form-footer-button">
  <div class="pull-right">
    <button pButton type="button" label="Reset" (click)="resetCategoryForm()" [disabled]="loading"
            class="p-button-outlined p-button-sm margin-right" icon="fa-solid fa-rotate-right"></button>&nbsp;
    <button pButton type="button" (click)="createNewCategory(createCategoryForm)" class="p-button-sm" iconPos="left" [disabled]="loading" icon="pi pi-plus"
            label="Create Category"></button>
  </div>
  </div>
</div>

<!--Notification Messages-->
<p-toast position="bottom-right" key="bs"></p-toast>
