  <div class="side-bar-drawer-content p-3">

    <div class="boarder-hide text-left">
      <p class="margin-top infoUpload"><b>Step 1: </b><span class="download-link" (click)="downloadUserListTemplate()">Download</span>
        the template.</p>
      <p class="margin-top infoUpload"><b>Step 2: </b> Fill in all fields and save.</p>
      <p class="margin-top infoUpload"><b>Step 3: </b> Upload the completed template.</p>
    </div>
    <br>

    <form [formGroup]="uploadUserForm" enctype="multipart/form-data">
      <div class="grid margin-top-grid">
        <div class="col-12 upload-field">
          <div class="p-inputgroup">
            <span class="p-float-label inner-text-position">
            <input id="fileUpload" #userList formControlName="userListController" (change)="userListChange($event)"
                   accept=".xls,.xlsx" type="file" hidden>
            <input id="fileText"
                   [value]="userList.files[0] ? userList.files[0].name : null" readonly class="input-max-width"
                   accept=".xls,.xlsx" formControlName="userListController"
                   onClick="document.getElementById('fileUpload').click()" type="text" pInputText>
              <label for="fileText">Browse a file to upload* </label>
            <button pButton label="Browse" class="p-button file-browse p-button-sm"
                    onClick="document.getElementById('fileUpload').click()"></button>
            </span>
          </div>
        </div>
      </div>
      <div class="p-invalid text-align-left"
           *ngIf="uploadUserForm.get('userListController').dirty && uploadUserForm.get('userListController').errors">
        File is required
      </div>
    </form>

    <p-progressBar [style]="{ height: '16px' }" *ngIf="responsePercentage !== 0" [value]="responsePercentage"></p-progressBar>

  </div>

  <div class="grid footer form-footer-button">
    <div class="col-12 button-set-wrapper">
      <div class="pull-right">

        <button pButton class="p-button-sm p-button-outlined mr-2" type="button" icon="fa-solid fa-rotate-right" label="Reset"
                [disabled]="isDisabled || (responsePercentage !== 0 && responsePercentage !== 100)" (click)="uploadUserForm.reset()"></button>

        <button class="p-button-sm mr-2" pButton type="submit" icon="fa fa-cloud-upload" label="Upload"
                [loadingIcon]="'pi pi-spin pi-spinner'" [loading]="isDisabled || (responsePercentage !== 0 && responsePercentage !== 100)"
                (click)="uploadUserList()"></button>

      </div>
    </div>
  </div>
