<div class="grid col-12 p-fluid card-view pt-0 drawer-wrapper-config">

  <div class="sticky-topic col-12">
    <h5 class="subHeadingColour col-12 p-0 ml-4 mb-0 pull-left">Payment Providers</h5>
    <span class="provider-sub-heading  col-12 p-0 mt-1 ml-4 pull-left">Configure your payment providers here.</span>
  </div>


  <ng-container *ngFor="let providerMst of providerList; let i = index">

    <div class="col-6">

      <div class="p-card p-card-custom" [class]="(providerMst.notConfigured && !providerMst.connected) ?
            'invalid-provider-bg' : ''"
           [ngClass]="{'default-provider-bg': providerMst.defaultProvider}">

        <div class="mt-2 p-card-header card-header-custom">
          <div class="p-fluid grid col-12">

            <div class="col-8 flex" >
              <div class="avatar-upload mr-2" *ngIf="providerMst.logoUrl">
                <div class="avatar-preview">
                  <div id="imagePreview" [style.backgroundImage]="'url('+ providerMst.logoUrl +')'"></div>
                </div>
              </div>

            <h5 class="provider-name" *ngIf="!providerMst.logoUrl">{{providerMst.name}}</h5>

              <div *ngIf="providerMst.defaultProvider" class="text-right">
                <span class="default-provider">{{providerMst.defaultProvider ? 'Default Provider' : ''}}</span>
              </div>
            </div>

            <div class="col-4">
              <p class="connection-status" [class]="!providerMst.connected ? 'notConnected' : 'connected'"><em
                class="pi pi-circle-on"></em>
                {{!providerMst.connected ? appConstant.LABEL_PROVIDER_NOT_CONNECTED : appConstant.LABEL_PROVIDER_CONNECTED}}
              </p>
            </div>
          </div>

        </div>

        <div class="p-card-body">
          <p class="provider-description">{{providerMst.description}}</p>
        </div>

                <div class="col-8 grid">
                  <div style="margin-left: 13px" class="pull-left" *ngIf="!providerMst.connected">
                    <button pButton type="button"
                            (click)="contactSupportTeam(providerMst.id, providerMst)"
                            [disabled]="providerMst.isProgressSendConfigurationAction"
                            [icon]="providerMst.isProgressSendConfigurationAction ? 'pi pi-spin pi-spinner': 'fa-solid fa-paper-plane'"
                            class="p-button-sm mr-2" iconPos="left" label="Send Configuration Request">
                    </button>
                  </div>
                  <div style="margin-left: 13px" class="pull-left" *ngIf="providerMst.connected">
                    <button pButton type="button" (click)="clickOnSetUpButton(providerMst)"
                            class="p-button-sm mr-2" iconPos="left" label="Configure">
                    </button>
                  </div>
                </div>

      </div>

      <div *ngIf="!providerMst.connected && providerMst.notConfigured"
            [class]="'invalid-payment-provider-text'">Please configure your payment provider with account necessary details.</div>

    </div>

  </ng-container>
</div>

<!--Setup Provider-->
<p-sidebar styleClass="p-sidebar-lg provider-setup" appendTo="body" [modal]="true" [dismissible]="true" position="right"
           class="overflow-side-bar" *ngIf="isSetupProvider" [(visible)]="isSetupProvider">
  <app-payment-provider-detail (updatedSuccess)="getTenantAvailableProviderList()"
    [providerMaster]="providerMaster"></app-payment-provider-detail>
</p-sidebar>



