@import "../../../../scss/bill/bill-process.scss";

.po-comparison-label-wrapper-with-pane {
  margin-bottom: 14px !important;
}
.p-dialog .p-dialog-content {
  padding: 0 0 2rem 0 !important;
}
li{
  list-style-type: none;
}

.item-remove-icon {
  margin-top: 0.6rem;
}
