<form class="expense-detail-form detail-form" [formGroup]="expenseApproveForm">
  <kendo-splitter orientation="horizontal" style="height: 100%;">

    <kendo-splitter-pane [collapsible]="true" size="{{responsiveSize}}">

      <div class="p-3 custom-card-form">
        <div [ngStyle]="{'align-items' : 'baseline'}" class="grid">
          <div class="col-4  md:col-4 sm:col-12">
            <h5 class="subHeadingColour">Expense Details</h5>
          </div>

          <div [ngStyle]="{'text-align' : 'right'}" class="xl:col-3 md:col-6 lg:col-3">
            <h5 class="subHeadingColour">EXPENSE# {{expenseMasterDto.reportName}}</h5>
          </div>

          <div [ngStyle]="{'text-align' : 'right'}" class="xl:col-5 md:col-6 lg:col-3">

            <div class="fa fa-check side-drawer-icon"
                 *ngIf="checkPrivilegesForExpenseApprove()"
                 pTooltip="Approve or Reject" tooltipPosition="bottom" (click)="loadApproveDrawer()"></div>

            <div class="fa fa-trash side-drawer-icon"
                 *ngIf="privilegeService.isAuthorized(appAuthorities.EXPENSES_DELETE)"
                 pTooltip="Delete" tooltipPosition="bottom" (click)="deleteExpense(expenseId)"></div>

            <div class="fa fa-pencil side-drawer-icon"
                 *ngIf="privilegeService.isAuthorized(appAuthorities.EXPENSES_EDIT)"
                 pTooltip="Edit" tooltipPosition="bottom" (click)="loadEditDrawer()"></div>

            <button style="background: none; border: none;" *ngIf="!fromNotification"
                    [disabled]="isPreviousDisable()" (click)="prev()" pTooltip="Previous" tooltipPosition="bottom"
                    class="fa fa-chevron-left side-drawer-icon"></button>

            <button style="background: none; border: none;" *ngIf="!fromNotification" [disabled]=" isNextDisable()"
                    pTooltip="Next" tooltipPosition="bottom" class="fa fa-chevron-right side-drawer-icon"
                    (click)="next()"></button>

            <div class="fa fa-close side-drawer-icon" pTooltip="Close" tooltipPosition="bottom"
                 (click)="close()"></div>
          </div>
        </div>

        <br>

        <div class="grid p-fluid">

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Report Number</label>
            <div>{{f.id.value}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Submit Date</label>
            <div>{{commonUtil.detailViewIsDash(f.createdOn.value | date:'MM/dd/yyyy',false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Created By</label>
            <div>{{commonUtil.detailViewIsDash(f.createdByName.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Report Name</label>
            <div>{{commonUtil.detailViewIsDash(f.reportName.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Business Purpose</label>
            <div>{{commonUtil.detailViewIsDash(f.businessPurpose.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>From</label>
            <div>{{commonUtil.detailViewIsDash(f.startFromStr.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>To</label>
            <div>{{commonUtil.detailViewIsDash(f.endDateStr.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Vendor</label>
            <div>{{commonUtil.detailViewIsDash(f.vendorName.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Department</label>
            <div>{{commonUtil.detailViewIsDash(f.departmentName.value,false)}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Total Amount</label>
            <div>{{commonUtil.detailViewIsDash(f.totalAmount.value, true)| number: '1.2-2'}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Total Mileage Reimbursement</label>
            <div>{{commonUtil.detailViewIsDash(f.totalMileageAmount.value, true) | number: '1.2-2'}}</div>
          </div>

          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Approval Status</label>
            <div [class]="'customer-badge status-' + getStatus(expenseApproveForm.get('status').value)">
              {{getStatus(f.status.value)}}</div>
          </div>


          <div class="field md:col-6 sm:col-12 xl:col-3 lg:col-4 col-12">
            <label>Additional Notes</label>
            <div>{{commonUtil.detailViewIsDash(f.notes.value,false)}}</div>
          </div>
        </div>


        <div class="grid p-fluid mt-1" *ngIf="headerAdditionalFieldDetails.length>0">
          <ng-container formArrayName="additionalData">
            <ng-container *ngFor="let additionalField of headingAdditionalFields.controls; let i=index"
                          [formGroupName]="i">
                     <span class="field md:col-6 sm:col-12 xl:col-3  lg:col-4 col-12"
                           *ngIf="commonUtil.checkUndefinedValues(
                           additionalField.get('fieldValue').value, headerAdditionalFieldDetails[i].docStatus, true)">
                          <label>{{headerAdditionalFieldDetails[i].fieldName}}</label>
                       <div>{{additionalField.get('fieldValue').value}}</div>
                     </span>
            </ng-container>
          </ng-container>
        </div>

        <p-tabView styleClass="tabview-custom">

          <p-tabPanel>
            <ng-template pTemplate="header">
              <span class="custom-span">Expense Cost Distribution</span>
            </ng-template>
            <ng-template pTemplate="content">
              <div
                [class]="expenseApproveForm.get('totalMileageAmount').value > appConstant.ZERO ? 'table-footer-style' : 'table-scroll table-footer-none'">
                <p-table responsiveLayout="scroll" [style]="{width:'auto'}"
                         [value]="expenseApproveTableFormArray.controls" scrollHeight="367px"
                         scrollable="true" scrollDirection="both"
                         styleClass="p-datatable-sm p-datatable-striped detail-table">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="min-width:50px" class="thead-style detail-table-header-left" id="noA">#</th>
                      <th style="min-width:200px" class="thead-style detail-table-header-left" id="account">View
                        Receipt
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-left" id="accountName">Date
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-left" id="description">
                        Project/Task
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-left" id="expenseType">Expense
                        Type
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-left" id="project">Merchant
                      </th>
                      <th style="min-width:300px" class="thead-style detail-table-header-left" id="expenseAccount">
                        Expense Account
                      </th>
                      <th style="min-width:300px" class="thead-style detail-table-header-left" id="department">
                        Department
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-left" id="mileage">No. of Miles
                        Driven
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-left" id="mileageRate">Mileage
                        Rate
                      </th>
                      <th style="min-width:150px" class="thead-style detail-table-header-left" id="billableAccount">
                        Billable
                      </th>
                      <th style="min-width:150px" class="thead-style detail-table-header-left" id="taxableAccount">
                        Taxable
                      </th>
                      <th style="min-width:300px"
                          *ngFor="let additionalField of lineItemAdditionalFieldDetails; let i=index"
                          class="thead-style detail-table-header-left">{{additionalField.fieldName}}
                      </th>
                      <th style="min-width:250px" class="thead-style detail-table-header-right" id="amount">Line
                        Amount
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template formArrayName="expenseDetails" let-i="rowIndex" let-item pTemplate="body">

                    <tr [formGroupName]="i">
                      <td style="text-align: center; width:50px"><label>{{i + 1}}</label></td>

                      <td class="text-center p-0">
                        <div class="grid">
                          <div [class]="f.expenseDetails.value[i].attachmentId ? 'col-10' : 'col-12'"
                               *ngIf="f.expenseDetails.value[i].receiptId">
                            <app-receipt-popup-manage [item]="expenseApproveTableFormArray.controls[i].value"
                                                      [fromGrid]="false" [fromExpense]="true" [viewOnly]="true">
                            </app-receipt-popup-manage>
                          </div>
                          <div [class]="f.expenseDetails.value[i].receiptId ? 'col-2' : 'col-12'"
                               *ngIf="f.expenseDetails.value[i].attachmentId">
                            <i pTooltip="Download Attachment" (click)="downloadReceipt(i)"
                               class="fa fa-download p-2 download-report">
                            </i>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div app-read-more-text [fieldValue]="commonUtil.detailViewIsDash(
                      f.expenseDetails.value[i].expenseDateStr,false)" [maxCharacters]="20"></div>
                      </td>

                      <td>
                        <div app-read-more-text [fieldValue]="commonUtil.detailViewIsDash(
                      f.expenseDetails.value[i].projectAccountCode,false)" [maxCharacters]="20"></div>
                      </td>

                      <td>
                        <div app-read-more-text [fieldValue]="commonUtil.detailViewIsDash(
                      f.expenseDetails.value[i].expenseType,false)" [maxCharacters]="20"></div>
                      </td>

                      <td>
                        <div app-read-more-text [fieldValue]="commonUtil.detailViewIsDash(
                      f.expenseDetails.value[i].merchant,false)" [maxCharacters]="20"></div>
                      </td>

                      <td>
                        <div app-read-more-text [fieldValue]="commonUtil.detailViewIsDash(
                      f.expenseDetails.value[i].expenseAccountCode,false)" [maxCharacters]="20"></div>
                      </td>

                      <td>
                        <div app-read-more-text [fieldValue]="commonUtil.detailViewIsDash(
                      f.expenseDetails.value[i].departmentName,false)" [maxCharacters]="20"></div>
                      </td>

                      <td class="text-right">
                        <div>{{commonUtil.detailViewIsDash(f.expenseDetails.value[i].mileage, true)}}</div>
                      </td>

                      <td class="text-right">
                        <div>{{commonUtil.detailViewIsDash(f.expenseDetails.value[i].mileageRate, true)|number : '1.3-3'}}</div>
                      </td>

                      <td class="text-center">
                        <div>{{commonUtil.detailViewIsDash(f.expenseDetails.value[i].billableStr, false)}}</div>
                      </td>

                      <td class="text-center">
                        <div>{{commonUtil.detailViewIsDash(f.expenseDetails.value[i].taxableStr, false)}}</div>
                      </td>


                      <ng-container formArrayName="additionalData"
                                    *ngIf="lineItemAdditionalFieldDetails.length > 0">
                        <td
                          *ngFor="let additionalLineItemField of lineItemAdditionalField(i).controls; let itemIndex = index"
                          [formGroupName]="itemIndex" style="width:300px">

                          <div app-read-more-text [fieldValue]="additionalLineItemField.get('fieldValue')?.value"
                               [maxCharacters]="25"></div>

                        </td>
                      </ng-container>

                      <td class="text-right">
                        <div>{{commonUtil.detailViewIsDash(f.expenseDetails.value[i].amount, true)|number : '1.2-2'}}</div>
                      </td>

                    </tr>

                  </ng-template>

                  <ng-template pTemplate="summary" #templateRefFooter>

                    <div class="grid pull-right flex"
                         *ngIf="expenseApproveForm.get('totalMileageAmount').value > appConstant.ZERO">
                    <span>
                      <span class="mr-3">
                        <span class="index-style">Total Miles Driven:</span>
                        <span class="table-footer-amount">{{expenseApproveForm.get(
                          'totalMilesDriven').value | number}}</span>
                      </span>

                      <span>
                         <span class="index-style">Total Mileage Reimbursement:</span>
                           <span class="table-footer-amount">{{expenseApproveForm.get
                           ('totalMileageAmount').value | number : '1.2-2'}}</span>
                      </span>
                   </span>

                    </div>

                  </ng-template>
                </p-table>
              </div>

            </ng-template>
          </p-tabPanel>

          <p-tabPanel *ngIf="expenseAttachments.length>0">
            <ng-template pTemplate="header">
              <span class="custom-span">Files Attached</span>
            </ng-template>
            <ng-template pTemplate="content">
              <p-table responsiveLayout="scroll" scrollDirection="both" [value]="expenseAttachments"
                       scrollHeight="300px" scrollable="true"
                       styleClass="p-datatable-md p-datatable-striped detail-table">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="min-width:300px" class="thead-style detail-table-header-left" id="fileName">File Name
                    </th>
                    <th style="min-width:250px" class="thead-style detail-table-header-left" id="fieldName">Field Name
                    </th>
                    <th style="min-width:250px" class="thead-style detail-table-header-left" id="descriptionAtt">
                      Description
                    </th>
                    <th style="min-width:75px" class="thead-style detail-table-header-left" id="action1">Action</th>
                  </tr>
                </ng-template>

                <ng-template let-i="rowIndex" let-item pTemplate="body">
                  <tr>

                    <td [style]="'height : 30px'" class="p-1">
                      <label> {{item.fileName}}</label>
                    </td>

                    <td [style]="'height : 30px'" class="p-1">
                      <label> {{item.fieldName}}</label>
                    </td>

                    <td [style]="'height : 30px'" class="break-word p-1">
                      <label> {{item.description}}</label>
                    </td>

                    <td [style]="'height : 30px'" class="text-center p-1">
                      <i (click)="downloadAttachments(item)"
                         class="fa fa-download download-icon p-2"></i>
                    </td>

                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </p-tabPanel>


          <p-tabPanel *ngIf="adHocWorkflowDetails.length">
            <ng-template pTemplate="header">
              <span class="custom-span">Approvers ({{ adHocWorkflowDetails.length }})</span>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="grid" style="padding-top: 25px">
                <div class="col-12 pb-0 mb-0 pt-0 mt-0 approve-alignment"
                     *ngFor="let adHoc of adHocWorkflowDetails; let adHocIndex = index">
                  <div class="col-5 bold-text text pb-0 mb-0 pt-0 mt-0" [ngClass]="{ 'approve-text': adHoc.completed }">
                    <span>{{ adHocIndex + 1 }}. </span>
                    {{ adHoc.approvalUserName || adHoc.pendingUserName || adHoc.approvalGroupName }}
                    <span *ngIf="adHoc.approvalGroupName && adHoc.approvalUserName">
                      ({{adHoc.approvalGroupName}})
                    </span>
                    <span *ngIf="adHoc.previousApprovalUserName && adHoc.previousApprovalUserName != adHoc.approvalUserName">
              ({{adHoc.previousApprovalUserName}})
            </span>
                    <span style="padding-left: 16px;" [ngClass]="commonUtil.getStatusIcon(adHoc)"></span>
                  </div>
                  <div [ngClass]="{ 'approve-text': adHoc.completed }"
                       class="col-2 text text-right pb-0 mb-0 pt-0 mt-0">
                    {{ adHoc.actionDate | date:'MM/dd/yyyy' }}
                  </div>
                </div>
              </div>
            </ng-template>
          </p-tabPanel>


        </p-tabView>


        <div class="grid mt-3">
          <label class="amount-topic col-offset-5 col-4 text-right">Total Amount</label>
          <div class="col-3 text-right">
            {{commonUtil.detailViewIsDash(f.totalAmount.value, true) | number:'1.2-2'}}
          </div>
        </div>
      </div>


    </kendo-splitter-pane>

    <kendo-splitter-pane (sizeChange)="splitterResized($event)" [collapsible]="true">
      <app-expense-pdf-view *ngIf="attachmentId && needToRefresh" [attachmentId]="attachmentId"></app-expense-pdf-view>
    </kendo-splitter-pane>
  </kendo-splitter>
</form>

<!--Edit expense-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="editExpense">
  <app-expense-create (emitAfterSuccess)="getExpenseDetails(expenseId); editExpense = false" [editView]="true"
                      (closeExpense)="editExpense = false" [expenseID]="expenseId"
                      *ngIf="editExpense">
  </app-expense-create>
</p-sidebar>

<!--Delete expense from detail view-->
<p-confirmDialog key="deleteExp" #cd header="Are you sure?" icon="conf-delete-icon pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="conf-cancel-btn p-button-outlined" pButton icon="pi pi-times" label="Cancel"
            (click)="cd.reject()"></button>
    <button type="button" class="conf-reject-btn" pButton icon="pi pi-check" label="Yes, delete it"
            (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

<!--Approve Expense-->
<p-sidebar [showCloseIcon]="false" [fullScreen]="true" [modal]="false" [(visible)]="approveExpenseView">
  <app-expense-approve [expenseSearchFilterDto]="expenseSearchFilterDto" [attId]="attachmentId"
                       [isDetailView]="false" (closeExpenseApprove)="close()"
                       *ngIf="approveExpenseView" [expenseReportNumber]="activeAction.reportNumber"
                       [expenseId]="expenseId" ></app-expense-approve>
</p-sidebar>
