@import '../../../../scss/table-responsive';

.content-height {
  height: 98%;
}

.full-width {
  width: 100% !important;
}

.topics {
  font-weight: bold;
  text-align: center;
}

.items {
  text-align: center;
}

.amounts {
  width: 100%;
  background-color: #f8f9fa
}

.amount-topic {
  text-align: right;
  align-self: flex-end;
  color: #b2b2b2;
  font-weight: 500;
}

.amountsNet {
  width: 100%;
  background-color: #CDECEA;
  color: $green;
}

.amount-topic-net {
  text-align: right;
  color: $green;
  align-self: flex-end;
  font-weight: 500;
}

.item-line {
  margin-bottom: 15px;
  background-color: #F5F6F7;
}

.custom-card-form {
  width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.custom-card-items {
  width: 100%;
  border: none;
  box-shadow: none;
  padding-bottom: 0;
}

.custom-card-approve-btn {
  width: 100%;
  border: none;
  box-shadow: none;
  //contain: size;
  height: 100%;
}

.topic {
  color: $green;
}

.po-no {
  color: #73828A;
}

.top-btn {
  color: #A3ACB0;
  border-color: #A3ACB0;
}

.customSplit {
  contain: strict;
  overflow-y: auto;
  margin-right: 10px;
}

p-calendar {
  width: 100%;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1px !important;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-inputtext {
  border: none;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-inputtext:focus {
  border: 1px solid;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown {
  border: none;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown:focus {
  border: 1px solid;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown:not(.p-disabled).p-focus {
  border: 1px solid;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown.p-dropdown-open {
  border: 1px solid;
}

.top-btn {
  color: #A3ACB0;
  border-color: #A3ACB0;
}

.dropdown-icon-wrapper ::ng-deep .p-dropdown-trigger .pi-chevron-down {
  display: none !important;
}

.button-width {
  width: 78px !important;
  margin-top: -5px;
}
