.product-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  flex-wrap: nowrap;

  .product-list-detail {
    flex: 1 1 0;
  }
}

.p-vertual-wrap {
  margin-top: 1%;
  margin-left: 1px;
}

.inner-wrapper {
  width: 100%;
  position: relative;
  float: left;
  clear: left;

  .costume-checkbox-wrap {
    float: left;
  }

  .mail-item {
    float: left;
  }

  .ellipsis-icon-wrap {
    float: left;
  }
}

.p-vertual-wrap {
  margin-top: 1%;
  margin-left: 1px;
}

.list-data-wrap {
  padding: 5px;
}

.emailed-by {
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.email-body {
  font-size: 12px;
  color: #bcbcbc;
  font-weight: bold;
}

.active-recoard{
  background: #EDF7FF 0% 0% no-repeat padding-box;
}

.costume-checkbox {
  left: 0.5rem;
  color: #b2b2b2;
  transition-duration: 0.2s;
  vertical-align: super !important;
}

.process-data-wrap{
  width: 100%
}

.costume-checkbox-wrap{
  align-self: self-end;
  margin-bottom: 29px;
}

.costume-checkbox-wrap-onclick{
  align-self: self-end;
  margin-bottom: 11px;
}

.custome-checkbox{
  margin-top: -28px;
}

.arrow-icon-wrap{
  float: right !important;
  align-self: center;
  padding-left: 8px;
  padding-bottom: 1px;
}

.arrow-icon-wrap .fa-arrow-circle-left{
  font-size: 20px !important;
  color: #999999;
}



.background-color {
  background: #EDF7FF;
  float: left;
  padding: 0 15px 14px 15px;
  position: relative;
  width: 100%;
  clear: left;
}

.background-color-wrap{
  float: left;
  position: relative;
  padding: 0 15px 14px 15px;
  width: 100%;
  clear: left;
}
.total-record-wrapper{
  font-size: 14px;
  color: #999999;
  bottom: 0;
  text-align: center;
}

.inner-wrapper {
  width: 100%;
  position: relative;
  float: left;
  clear: left;

  .costume-checkbox-wrap {
    float: left;
  }

  .mail-item {
    float: left;
  }

  .ellipsis-icon-wrap {
    float: left;
  }
}

.outer-wrapper{
  width: 100%;
  float: left;
  clear: left;

  .attachment-chips-wrap{
    float: left;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    .attachments-style-default{
      float: left;
      width: auto;
    }
  }
}

.email-body .expand-icon-wrap{
  color: #000000;
  font-size: 11px;
  font-weight: bold;
}

.attachments-style{
  border-radius: 4px;
  padding: 7px;
  margin-left: 4px;
  font-size: 14px;
  margin-top: 10px;
}

.attachments-style-default {
  color: black;
  background: #f5f5f5;
  border: 1px solid #bcbcbc;
}

.attachments-style-click {
  border: 1px solid #bcbcbc;
  color: black;
  background: #d2d2d2;
}

.ellipsis-icon-wrap {
  margin-top: 13px !important;
  float: right !important;
  cursor: pointer;
}

.inactive-email-box .fa-envelope-open-o {
  width: 6px;
  height: 23px;
  font-weight: normal;
  color: #999999;
}
.active-email-box .fa-envelope-open-o {
  width: 6px;
  height: 23px;
  font-weight: bold;
  color: #202124;
}

.p-virtualScroller-hide ::ng-deep .p-virtualscroller .p-virtualscroller-content .p-virtualscroller-list .cdk-virtual-scroll-viewport{
  overflow: hidden !important;
}
