<form class="side-bar-drawer-content p-3" [formGroup]="createUserForm" autocomplete="off">
  <div class="grid payment-fields-invalid m-0 mb-3 mt-4" *ngIf="validPaymentInfo() && !detailView">
    <div class="col-12">
      <span class="fa fa-question-circle"></span> Please note that the below-highlighted fields need to be
      configured in order to complete your payment setup with the selected payment type(s).
    </div>
  </div>
  <p-accordion class="borderless-accordion" [activeIndex]="0">
    <p-accordionTab header="Basic Information">
      <div class="grid p-fluid">
        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="emailAddress">Email Address* </label>
          <div class="p-inputgroup">
            <span class="p-float-label">
                     <input (keyup)="checkAvailability(createUserForm.value);
                            removeSpaces.clearSpace(createUserForm, 'email')"
                            (paste)="checkAvailability(createUserForm.value);
                            removeSpaces.clearSpace(createUserForm, 'email')" formControlName="email"
                            id="emailAddress"
                            maxlength="100"
                            pInputText type="text" #email>
                   </span>
          </div>
          <div *ngIf="createUserForm.get('email').dirty && createUserForm.get('email').errors"
               class="p-invalid  text-align-left">
            <div *ngIf="createUserForm.get('email').errors.required">Email Address is required</div>
            <div *ngIf="createUserForm.controls['email'].hasError('emailValidate')">Email must be a valid
              email address
            </div>
          </div>
          <div *ngIf="!isEmailAvailable" class="p-invalid text-align-left">
            Email already exists, Please enter a new one
          </div>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="firstLastName">Name* </label>
          <div class="p-inputgroup">
            <span class="p-float-label">
                     <input (keyup)="removeSpaces.clearSpace(createUserForm, 'name')" (paste)="removeSpaces.clearSpace(createUserForm, 'name')" formControlName="name"
                            id="firstLastName"
                            maxlength="100" pInputText type="text">
                   </span>
          </div>
          <div *ngIf="createUserForm.get('name').dirty && createUserForm.get('name').errors"
               class="p-invalid text-align-left">
            Name is required
          </div>
        </div>

        <div *ngIf="isNotVendor && !privilegeService.isSupport()"
             [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="approvalGroup">Select Approval Groups* </label>
          <span class="p-float-label">
           <p-multiSelect #multiSelect #select
                          appMultiselectFocus
                          (onChange)="approvalGroupChanged($event,multiSelect)"
                          [(ngModel)]="userMasterDto.approvalGroups" [filter]="true" [optionDisabled]="detailView? 'id':''"
                          [options]="userUtility.approvalGroups.data" [showToggleAll]="true"
                          [virtualScroll]="userUtility.approvalGroups.data.length > 20"
                          class="responsive-multiselect" formControlName="approvalGroups" id="approvalGroup"
                          inputId="approvalGroup" optionDisabled="inactive" optionLabel="name"
                          optionValue="id" virtualScrollItemSize="25">
             <ng-template pTemplate="selectedItem">
                <div>{{createUserForm.get('approvalGroups').value.name}}</div>
             </ng-template>

             <ng-template let-approvalGroups pTemplate="item">
                 <div class="grid">
                     <div class="dropdown-list">{{approvalGroups.name}}</div>
                 </div>
             </ng-template>

             <ng-template pTemplate="footer" *ngIf="privilegeService.isAuthorized(appAuthorities.APPROVAL_GROUPS_CREATE)">
                  <div class="grid dp-footer">
                    <div class="col-12 button-wrapper">
                      <button pButton class="p-button-sm" label="Add New"
                              (click)="approvalGroupPanel = true;"></button>
                    </div>
                  </div>
             </ng-template>
           </p-multiSelect>
        </span>

          <div *ngIf="createUserForm.get('approvalGroups').dirty && createUserForm.get('approvalGroups').errors"
               class="p-invalid text-align-left">
            Approval Group is required
          </div>
        </div>

        <div *ngIf="!isHidden()"
             [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="departments">Select Departments</label>
          <span class="p-float-label">
        <p-multiSelect appMultiselectFocus [group]="true" [optionDisabled]="detailView? 'label': ''" [options]="userUtility.departments" class="responsive-multiselect"
                       display="chip" formControlName="departments" id="departments"
                       optionGroupChildren="items" optionValue="value">
        <ng-template let-group pTemplate="group">
          <div class="flex p-ai-center">
            <span class="fa fa-sitemap icon-custom"></span> &nbsp;<span class="m-2 font-bold">{{group.label}}</span>
          </div>
        </ng-template>
      </p-multiSelect>
      </span>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="employeeNumber">Employee Number </label>
          <div class="p-inputgroup">
            <span class="p-float-label">
                     <input (keyup)="removeSpaces.clearSpace(createUserForm, 'nicPassportNo')"
                            formControlName="nicPassportNo" id="employeeNumber"
                            pInputText type="text">
                   </span>
          </div>
          <div *ngIf="createUserForm.get('nicPassportNo').hasError('maxlength')" class="p-invalid text-align-left">Employee
            Number must be less than 50 characters
          </div>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="employeeNumber">Contact Number*</label>
          <app-country-code-validation formControlName="telephoneNo" id="telephoneNo"  [telephoneFormControl]="createUserForm.get('telephoneNo')">
          </app-country-code-validation>
          <div *ngIf="createUserForm.get('telephoneNo').touched && createUserForm.get('telephoneNo').hasError('required')"
               class="p-invalid text-align-left">
            Contact Number is required
          </div>
          <div *ngIf="createUserForm.get('telephoneNo').hasError('validatePhoneNumber')" class="p-invalid text-align-left">
            Invalid Contact Number
          </div>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="status">Select Status* </label>
          <span class="p-float-label">
            <p-dropdown [autoDisplayFirst]="false" #status
                        (onChange)="commonUtil.isPressEnterInsideDropdown(status)"
                        [filter]="true" [options]="userUtility.statusList.data" formControlName="status"
                        id="status" inputId="status" optionLabel="name"
                        optionValue="id"></p-dropdown>
        </span>
          <div *ngIf="createUserForm.get('status').dirty && createUserForm.get('status').errors"
               class="p-invalid text-align-left">
            Status is required
          </div>
        </div>


    <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
      <label class="label-wrapper" for="role">Select Role* </label>
      <span class="p-float-label">
          <p-multiSelect #dpName [(ngModel)]="input" [filter]="true" [options]="roles.data"
                         [virtualScroll]="roles.data.length > 20" formControlName="roleIdList" id="role"
                         inputId="role" optionDisabled="inactive"
                         optionLabel="name"
                         optionValue="id" virtualScrollItemSize="25">
             <ng-template let-role pTemplate="item">
              <div class="grid">
                  <div [ngClass]="role.id == 0 ? 'role-dropdown-add' : null"
                       class="dropdown-list">{{role.name}}
                  </div>
                  <em (click)="$event.stopPropagation(); viewRoleClicked(role)"
                      *ngIf="role.id != 0 && privilegeService.isAuthorized(appAuthorities.ROLES_DETAIL_VIEW)"
                      class="pi pi-eye role-dropdown-icon"></em>
                  <em *ngIf="role.id == 0" class="pi pi-plus role-dropdown-icon role-dropdown-add"></em>
              </div>
             </ng-template>

            <ng-template pTemplate="footer"
                         *ngIf="privilegeService.isAuthorized(appAuthorities.ROLES_DETAIL_VIEW) &&
                        privilegeService.isAuthorized(appAuthorities.ROLES_CREATE)">
              <div class="grid dp-footer">
                  <div class="col-12 button-wrapper">
                      <button pButton class="p-button-sm" label="Add New"
                              (click)="addNewRoleClicked()"></button>
                  </div>
              </div>
            </ng-template>
      </p-multiSelect>
      </span>
      <div *ngIf="createUserForm.get('roleIdList').dirty && createUserForm.get('roleIdList').errors"
           class="p-invalid text-align-left">Role is required</div>
    </div>

        <div *ngIf="!editView && !detailView" [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="float-input">Password*</label>
          <div class="p-inputgroup">
      <span class="p-float-label  p-input-icon-right">
           <i (click)="passwordShow? passwordShow= false: passwordShow= true"
              [ngClass]="passwordShow? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
             <input [feedback]="false" [readOnly]="detailView"
                    [showPassword]="passwordShow" autocomplete="new-password" class="password-text"
                    formControlName="password" id="float-input" pPassword type="password">
      </span>
          </div>
          <div *ngIf="createUserForm.get('password').dirty && createUserForm.get('password').errors"
               class="p-invalid  text-align-left">
            <div *ngIf="createUserForm.get('password').errors.required">Password is required</div>
            <div *ngIf="createUserForm.get('password').errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="createUserForm.get('password').errors.maxlength">Password must be less than 20 characters</div>
          </div>
        </div>

        <div *ngIf="!editView && !detailView" [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="confirmPassword">Confirm Password*</label>
          <div class="p-inputgroup">
     <span class="p-float-label p-input-icon-right">
        <i (click)="confirmPasswordShow? confirmPasswordShow= false: confirmPasswordShow= true"
           [ngClass]="confirmPasswordShow? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
              <input [feedback]="false"
                     [readOnly]="detailView" [showPassword]="confirmPasswordShow" autocomplete="new-password"
                     class="password-text" formControlName="confirmPassword" id="confirmPassword" pPassword
                     type="password"></span>
          </div>
          <div *ngIf="createUserForm.get('confirmPassword').dirty && createUserForm.get('confirmPassword').errors"
               class="p-invalid">
            <div *ngIf=" createUserForm.get('confirmPassword').errors.required">Confirm Password is
              required
            </div>
            <div *ngIf="createUserForm.get('confirmPassword').errors.mustMatch">New password and
              Confirm Password must match
            </div>
          </div>
        </div>

        <div *ngIf="!detailView" [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="fileText">Profile Picture</label>
          <div class="p-inputgroup">
            <span class="p-float-label">
            <input #profilePicture (change)="onFileChange($event)" accept="image/*" formControlName="profilePic"
                   hidden id="fileUpload" type="file">
            <input #profilePicture [value]="profilePicture.files[0] ? profilePicture.files[0].name : null" accept="image/*"
                   formControlName="profilePic"
                   id="fileText"
                   onClick="document.getElementById('fileUpload').click()" pInputText type="text"
                   (keydown.enter)="document.getElementById('fileUpload').click();"
                   style="border-radius: 6px 0 0 6px !important;">
            <button [hidden]="detailView" class="p-button browse-button-wrapper p-button-sm" label="Browse" onClick="document.getElementById('fileUpload').click()"
                    pButton  tabindex="-1"  style="margin: 0 !important; height: 31px !important; border-radius: 0 4px 4px 0 !important;"
                    type="button"></button>
           </span>
          </div>
        </div>

      </div>
    </p-accordionTab>

    <p-accordionTab header="Payment Information" *ngIf="!isHidden()">
      <div class="grid p-fluid">

      <div class="field col-12" *ngIf="acceptedPaymentTypes.length>0">
        <label class="label-wrapper" for="accountRoutingNumber">Accepted Payment Type(s)</label>
        <ng-container formArrayName="acceptedPaymentTypes">
          <div class="mt-2" *ngFor="let data of acceptedPaymentTypes.controls; let i = index"
               [formGroupName]="i">
            <p-panel  [collapsed]="!data.get('selected').value"  [toggleable]="false" class="funding-acc-panel">
              <ng-template pTemplate="header">
                    <div class="flex align-items-center w-full">
                      <div class="font-bold">{{ data.get('name').value }}</div>
                      <p-inputSwitch  class="ml-auto" formControlName="selected"
                                      (onChange)="acceptedPaymentTypeSelected(data.value, i)"></p-inputSwitch>
                    </div>
              </ng-template>

              <ng-container *ngIf="data.get('selected').value">
               <div class="grid">

               <div class="field col-6" *ngIf="data.get('paymentTypeId').value === appConstant.TWO">
                 <label class="label-wrapper">Preferred Payment Channel
                   for {{ data.get('name').value }}</label>
                 <div class="p-inputgroup">
                        <span class="p-float-label">
                          <p-dropdown #recipient [virtualScroll]="paymentProviders.data.length >20"
                                      appendTo="body"
                                      formControlName="providerId" virtualScrollItemSize="25"
                                      inputId="dropdown" (onChange)="commonUtil.isPressEnterInsideDropdown(recipient)"
                                      [autoDisplayFirst]="false" optionDisabled="inactive" showClear="true"
                                      [options]="paymentProviders.data" [filter]="true" optionLabel="name"
                                      optionValue="id">
                           </p-dropdown>
                        </span>
                 </div>
               </div>
                 <div class="col-6 field" *ngIf="data.get('name').value === 'Check'">
                   <div class="mt-4">
                     <p-inputSwitch class="custom-checkbox" [formControl]="fieldValueCheckToBeMail" ></p-inputSwitch>
                  <span class="col-10 costume-checkbox" style="color:#555555">Enable this option if the check is
                to <br><span style="padding-left: 50px">be delivered via mail</span></span>
                   </div>
                 </div>

                 <div *ngIf="createUserForm.get('checkToBeMail').value && data.get('name').value === 'Check'"
                      class="field col-6">
                   <label class="label-wrapper" for="accountType">Check Processing Method</label>
                   <span class="p-float-label">
                 <p-dropdown [autoDisplayFirst]="false" [filter]="true"
                             [options]="paymentMailOption"
                             [virtualScroll]="paymentMailOption.length >20"
                             [formControl]="fieldValueMailOption"
                             appendTo="body" id="mailOption" inputId="dropdown"
                             optionDisabled="inactive" optionLabel="name"
                             optionValue="id" showClear="true" virtualScrollItemSize="25">
                 </p-dropdown>
                </span>
                 </div>

                 <div class="field col-6" *ngIf="data.get('paymentTypeId').value === appConstant.ACH_PAYMENT_TYPE">
                     <label class="label-wrapper" for="accountType">Account Type</label>
                     <span class="p-float-label">
                     <p-dropdown #accountT [autoDisplayFirst]="false" [filter]="true" [ngClass]="{'isSelectedCheck': commonUtil.isSelectedACH && !createUserForm.get('accountType').value}"
                        [options]="accountType.data" [virtualScroll]="accountType.data.length >20"
                        [formControl]="fieldValueAccountType"
                        (onChange)="commonUtil.isPressEnterInsideDropdown(accountT)"
                        id="accountType" inputId="dropdown"
                        optionDisabled="inactive" appendTo="body"
                        optionLabel="name" optionValue="id" showClear="true" virtualScrollItemSize="25">
                     </p-dropdown>
                    </span>
                 </div>

                 <div class="field col-6" *ngIf="data.get('paymentTypeId').value === appConstant.ACH_PAYMENT_TYPE">
                   <label class="label-wrapper" for="recipientType">Recipient Type</label>
                   <span class="p-float-label">
                     <p-dropdown #recipient [autoDisplayFirst]="false" [filter]="true"
                        [ngClass]="{'isSelectedCheck': commonUtil.isSelectedACH && !createUserForm.get('recipientType').value}"
                        (onChange)="commonUtil.isPressEnterInsideDropdown(recipient)"
                        [options]="recipientType.data" [virtualScroll]="recipientType.data.length >20"
                        [formControl]="fieldValueRecipientType" appendTo="body"
                        id="recipientType" inputId="dropdown" optionDisabled="inactive"
                        optionLabel="name" optionValue="id" showClear="true" virtualScrollItemSize="25">
                    </p-dropdown>
                    </span>
                 </div>

               </div>
              </ng-container>

            </p-panel>


          </div>
        </ng-container>
      </div>

      <div [ngClass]="!panel ? 'field col-12 xl:col-4 lg:col-4' : 'field col-6'">
        <label class="label-wrapper" for="accountRoutingNumber">Preferred Payment Type</label>
        <div class="p-inputgroup">

          <p-dropdown #paymentType (onChange)="commonUtil.isPressEnterInsideDropdown(paymentType)" [autoDisplayFirst]="false"
                      [filter]="true" [options]="selectedPaymentTypes.data" [showClear]="true"
                      formControlName="preferredPaymentTypeId" id="preferredPaymentType" optionLabel="name" optionValue="id">
          </p-dropdown>

        </div>
      </div>

      <div [ngClass]="!panel ? 'field col-12 xl:col-4 lg:col-4' : 'field col-6'">
        <label class="label-wrapper" for="recipientFirstName">First Name</label>
        <div #actualTarget [ngClass]="{'isSelectedCheck': commonUtil.isSelectedVirtualCardACHCheck && !createUserForm.get('recipientFirstName').value}"
             class="p-inputgroup">
            <span class="p-float-label">
              <input autocomplete="off" blockSpace formControlName="recipientFirstName" id="recipientFirstName"
                     maxlength="150" pInputText type="text">
            </span>
        </div>
        <small class="block">This field will be used for (ACH, Checks, Virtual Cards).</small>
      </div>

      <div [ngClass]="!panel ? 'field col-12 xl:col-4 lg:col-4' : 'field col-6'">
        <label class="label-wrapper" for="recipientLastName">Last Name</label>
        <div #actualTarget [ngClass]="{'isSelectedCheck': commonUtil.isSelectedVirtualCardACHCheck && !createUserForm.get('recipientLastName').value}"
             class="p-inputgroup">
            <span class="p-float-label">
              <input autocomplete="off" blockSpace formControlName="recipientLastName" id="recipientLastName"
                     maxlength="150" pInputText type="text">
            </span>
        </div>
        <small class="block">This field will be used for (ACH, Checks, Virtual Cards).</small>
      </div>

      <div [ngClass]="!panel ? 'field col-12 xl:col-4 lg:col-4' : 'field col-6'">
        <label class="label-wrapper" for="accountNumber">Account Number</label>
        <div #actualTarget [ngClass]="{'isSelectedCheck': commonUtil.isSelectedACHCheck && !createUserForm.get('accountNumber').value}"
             class="p-inputgroup">
            <span class="p-float-label">
              <input autocomplete="off" blockSpace formControlName="accountNumber" id="accountNumber"
                     maxlength="17" pInputText pKeyFilter="pint" type="text">
            </span>
        </div>
        <small class="block">This field will be used for (ACH, Checks).</small>
      </div>

      <div [ngClass]="!panel ? 'field col-12 xl:col-4 lg:col-4' : 'field col-6'">
        <label class="label-wrapper" for="accountRoutingNumber">Bank Identification Number / Routing Number</label>
        <div #actualTarget [ngClass]="{'isSelectedCheck': commonUtil.isSelectedACHCheck && !createUserForm.get('accountRoutingNumber').value}"
             class="p-inputgroup">
            <span class="p-float-label">
              <input autocomplete="off" blockSpace formControlName="accountRoutingNumber" id="accountRoutingNumber"
                     maxlength="9" pInputText pKeyFilter="pint" type="text">
            </span>
        </div>
        <small class="block">This field will be used for (ACH, Checks).</small>
      </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Postal Address">
      <div class="grid p-fluid">
        <div [ngClass]="!panel ? 'field col-12 xl:col-6 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="addressLine1">Address Line1 </label>
          <div [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('addressLine1').value) ? 'isSelectedCheck':''"
               class="p-inputgroup">
            <span class="p-float-label">
              <input blockSpace formControlName="addressLine1" id="addressLine1" maxlength="300" pInputText
                     type="text">
            </span>
          </div>
          <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('addressLine1').value)"
                 class="block">Please provide your Address Line1 (max 35 characters).</small>
          <div *ngIf="createUserForm.get('addressLine1').dirty && createUserForm.get('addressLine1').errors"
               class="p-invalid text-align-left">
            Address Line1 is required
          </div>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-6 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="addressLine2">Address Line2 </label>
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input blockSpace formControlName="addressLine2" id="addressLine2"
                     maxlength="300" pInputText type="text">
            </span>
          </div>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="city">City</label>
          <span class="p-float-label">
          <p-autoComplete (completeMethod)="filterCities($event)" [autoHighlight]="true" [dropdown]="false" [minLength]="1"
                          [multiple]="false" [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('city').value) ? 'isSelectedCheck':''"
                          [style]="{'width':'100%'}"
                          [suggestions]="filteredGroups" blockSpace delay="100"
                          formControlName="city"
                          id="city" maxlength="200">
          </p-autoComplete>
          </span>
          <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('city').value)"
                 class="block">Please provide your City (max 30 characters).</small>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="state">State</label>
          <span class="p-float-label">
          <p-autoComplete (completeMethod)="filterStates($event)" [autoHighlight]="true" [dropdown]="false" [minLength]="1"
                          [multiple]="false" [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('state').value) ? 'isSelectedCheck':''"
                          [style]="{'width':'100%'}" [suggestions]="filteredGroups" blockSpace
                          delay="100"
                          formControlName="state"
                          id="state" maxlength="200">
          </p-autoComplete>
            </span>
          <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('state').value)"
                 class="block">Please provide your State for Check
            payments.</small>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="zipCode">Zip Code </label>
          <div [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('zipCode').value) ? 'isSelectedCheck':''"
               class="p-inputgroup">
            <span class="p-float-label">
              <input blockSpace formControlName="zipCode" id="zipCode" pInputText type="text">
            </span>
          </div>
          <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && !showAddress && !createUserForm.get('zipCode').value)"
                 class="block">Please provide your Zip Code (max 10 characters).</small>
          <div *ngIf="createUserForm.get('zipCode').hasError('maxlength')" class="p-invalid text-align-left">
            Zip Code must be less than 30 characters
          </div>
        </div>

        <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
          <label class="label-wrapper" for="country">Select Country*</label>
          <span class="p-float-label">
               <p-dropdown #country [autoDisplayFirst]="false" [filter]="true" [options]="countries.data" [virtualScroll]="true"
                           (onChange)="commonUtil.isPressEnterInsideDropdown(country)"
                           appendTo="body"
                           formControlName="country" id="country" optionLabel="name" optionValue="id"
                           showClear="true" virtualScrollItemSize="25"></p-dropdown>
           </span>
          <div *ngIf="createUserForm.get('country').dirty && createUserForm.get('country').errors"
               class="p-invalid text-align-left">
            Country is required
          </div>
        </div>

        <span class="col-12 field flex" style="align-items: center">
      <p-inputSwitch class="custom-checkbox" [styleClass]="createUserForm.get('showRemit').value ?
      'card-overflow': null" formControlName="showRemit"></p-inputSwitch>
      <span class="col-10 costume-checkbox" style="padding: 10px">Please check if the remit address is different from above
      </span>
    </span>

        <ng-container *ngIf="createUserForm.get('showRemit').value">
          <div class="col-12">
            <h6 style="color: #73828A">Remit Address</h6>
          </div>

          <div [ngClass]="!panel ? 'field col-12 xl:col-6 lg:col-4' : 'field col-6'">
            <label class="label-wrapper" for="rAddressLine1">Address Line1 </label>
            <div [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rAddressLine1').value) ? 'isSelectedCheck':''"
                 class="p-inputgroup">
            <span class="p-float-label">
              <input blockSpace formControlName="rAddressLine1" id="rAddressLine1"
                     maxlength="300" pInputText type="text">
            </span>
            </div>
            <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rAddressLine1').value)"
                   class="block">Please provide your Address Line1 for
              Check payments (max 35 characters).</small>
            <div *ngIf="createUserForm.get('rAddressLine1').dirty && createUserForm.get('rAddressLine1').errors"
                 class="p-invalid text-align-left">
              Address Line1 is required
            </div>
          </div>

          <div [ngClass]="!panel ? 'field col-12 xl:col-6 lg:col-4' : 'field col-6'">
            <label class="label-wrapper" for="rAddressLine2">Address Line2 </label>
            <div class="p-inputgroup">
            <span class="p-float-label">
              <input blockSpace formControlName="rAddressLine2" id="rAddressLine2"
                     maxlength="300" pInputText type="text">
            </span>
            </div>
          </div>

          <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
            <label class="label-wrapper" for="rcity">City</label>
            <span class="p-float-label">
            <p-autoComplete (completeMethod)="filterCities($event)" [autoHighlight]="true" [dropdown]="false" [minLength]="1"
                            [multiple]="false" [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rCity').value) ? 'isSelectedCheck':''"
                            [style]="{'width':'100%'}"
                            [suggestions]="filteredGroups" blockSpace dataKey="id"
                            delay="100" formControlName="rCity"
                            id="rcity" maxlength="200">
            </p-autoComplete>
             </span>
            <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rCity').value)"
                   class="block">Please provide your City (max 30 characters).</small>
          </div>


          <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-3' : 'field col-6'">
            <label class="label-wrapper" for="rstate">State</label>
            <span class="p-float-label">
            <p-autoComplete (completeMethod)="filterStates($event)" [autoHighlight]="true" [autocomplete]="false"
                            [dropdown]="false" [minLength]="1" [multiple]="false"
                            [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rState').value) ? 'isSelectedCheck':''"
                            [style]="{'width':'100%'}" [suggestions]="filteredGroups" blockSpace
                            delay="100" formControlName="rState"
                            id="rstate" maxlength="200">
            </p-autoComplete>
            </span>
            <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rState').value)"
                   class="block">Please provide your State.</small>
          </div>

          <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
            <label class="label-wrapper" for="rZipCode">Zip Code </label>
            <div [ngClass]="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rZipCode').value) ? 'isSelectedCheck':''"
                 class="p-inputgroup">
            <span class="p-float-label">
              <input blockSpace formControlName="rZipCode" id="rZipCode" pInputText type="text">
            </span>
            </div>
            <small *ngIf="(isSelectedPaymentTypeAsCheckAndVirtualCard && showAddress && !createUserForm.get('rZipCode').value)"
                   class="block">Please provide your Zip Code (max 10 characters).</small>
            <div *ngIf="createUserForm.get('rZipCode').hasError('maxlength')" class="p-invalid text-align-left">
              Zip Code must be less than 30 characters
            </div>
          </div>

          <div [ngClass]="!panel ? 'field col-12 xl:col-3 lg:col-4' : 'field col-6'">
            <label class="label-wrapper" for="rCountry">Select Country*</label>
            <span class="p-float-label">
               <p-dropdown #sCountry [autoDisplayFirst]="false" [filter]="true" [options]="countries.data" [virtualScroll]="true"
                           (onChange)="commonUtil.isPressEnterInsideDropdown(sCountry)"
                           appendTo="body"
                           formControlName="rCountry" id="rCountry" optionLabel="name" optionValue="id"
                           showClear="true" virtualScrollItemSize="25"></p-dropdown>
        </span>
            <div *ngIf="createUserForm.get('rCountry').dirty && createUserForm.get('rCountry').hasError('required')"
                 class="p-invalid text-align-left">
              Country is required
            </div>

          </div>
        </ng-container>
      </div>
    </p-accordionTab>
  </p-accordion>
</form>

<div *ngIf="!detailView" [class]="panel ? 'panel-footer' : 'footer fixed'" class="grid">
  <div class="col-12 button-set-wrapper form-footer-button">
    <div class="pull-right ">
      <button (click)="resetUserForm()" [disabled]="btnLoading" class="p-button-outlined p-button-sm margin-right" icon="fa-solid fa-rotate-right"
              label="Reset"
              pButton type="button"></button>&nbsp;
      <button (click)="onSubmitForm(createUserForm.value)" *ngIf="!editView && !detailView" [disabled]="btnLoading" [icon]="btnLoading ? 'pi pi-spin pi-spinner': 'pi pi-plus'"
              class="p-button-sm" iconPos="left"
              label="Create User" pButton
              type="button"></button>
      <button (click)="updateUser(createUserForm.value)" *ngIf="editView" [disabled]="btnLoading" [icon]="btnLoading ? 'pi pi-spin pi-spinner': 'pi pi-save'" class="p-button-sm"
              iconPos="left" label="Save" pButton
              type="button"></button>
    </div>
  </div>
</div>


<!--Create Role-->
<p-sidebar *ngIf="createRole" [(visible)]="createRole" [dismissible]="true" [modal]="true" appendTo="body"
           class="overflow-side-bar" position="right" styleClass="p-sidebar-sm">
  <ng-template pTemplate="header">Create Role</ng-template>
  <app-role-create (closeModal)="createRole = false; getRoles(roles, true, userId, editView)" *ngIf="createRole" [detailView]="false" [editView]="false"
                   [panel]="true"></app-role-create>
</p-sidebar>

<!--View Single Role-->
<p-sidebar *ngIf="viewRole" [(visible)]="viewRole" [dismissible]="true" [modal]="true" appendTo="body"
           class="overflow-side-bar" position="right" styleClass="p-sidebar-sm">
  <ng-template pTemplate="header">Role Details</ng-template>
  <app-role-create *ngIf="viewRole" [detailView]="true" [editView]="false" [id]="roleId" [panel]="true"
                   [roleName]="roleName"></app-role-create>
</p-sidebar>

<!--Create Approval Group-->
<p-sidebar *ngIf="approvalGroupPanel" [(visible)]="approvalGroupPanel" [dismissible]="true" [modal]="true" appendTo="body"
           class="overflow-side-bar"
           position="right"
           styleClass="p-sidebar-sm">
  <ng-template pTemplate="header">Create Approval Group</ng-template>
  <app-create-approval-group (updatedApprovalGroups)="updatedApprovalGroups($event); approvalGroupPanel = false"
                             *ngIf="approvalGroupPanel"
                             [approvalGroup]="userMasterDto.approvalGroups"
                             [panel]="true"></app-create-approval-group>
</p-sidebar>


<p-sidebar *ngIf="createPortalRole" [(visible)]="createPortalRole" [dismissible]="true" [fullScreen]="true" [modal]="true"
           appendTo="body"
           class="overflow-side-bar" position="right">
  <app-portal-role-create (closeModal)="createPortalRole=false; getRoles(roles, true, userId,editView)"
                          *ngIf="createPortalRole && privilegeService.isAuthorized(appAuthorities.ROLES_CREATE)"></app-portal-role-create>
</p-sidebar>

<!--Edit Portal Role-->
<p-sidebar *ngIf="portalViewRole" [(visible)]="portalViewRole" [fullScreen]="true" [modal]="true" [showCloseIcon]="true"
           appendTo="body"
           class="overflow-side-bar" position="right">
  <app-portal-role-create *ngIf="portalViewRole" [detailView]="portalViewRole" [editView]="false" [id]="roleId"
                          [panel]="false" [roleName]="roleName"></app-portal-role-create>

</p-sidebar>


