<div class="layout-sidebar" (click)="onMenuClick($event)">
  <!--  <a [routerLink]="['/home/dashboard']" class="logo">-->
  <!--    <img id="app-logo" class="logo-image" src="../../../../assets/layout/images/logo-white.svg" alt="diamond-ng"/>-->
  <!--    <span class="app-name">PaperTrl</span>-->
  <!--  </a>-->
  <div class="layout-menu-container">
    <ul class="layout-menu ">
      <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator && item.label !== appConstant.MENU_INBOX" [item]="item" [index]="i"
            [root]="true"></li>
        <li app-menuitem pBadge  [class]="unReadEmailCount > 0 ? 'notification-count-wrapper':'notification-count-zero'"
            [value]="unReadEmailCount > 99 ? '99+' : unReadEmailCount" severity="danger"
            *ngIf="item.label === appConstant.MENU_INBOX"  [item]="item" [index]="i" [root]="true">
        </li>
        <li *ngIf="item.separator" class="menu-separator"></li>
      </ng-container>
    </ul>
  </div>
</div>
