@import '../../../../scss/color';

.department-form {
  margin-top: 20px;
  width: 100%;

  .field {
    margin-bottom: 1px;

    label {
      font-size: 12px;
      font-weight: bold;
      color: $secondary-black-grey;
      margin-bottom: 1px;
    }

    div {
      font-size: 13px;
    }
  }
}

.useInPos {
  display: grid;
  width: 90%;
  grid-auto-flow: column;
  align-items: center;
}

.useInPos > span {
  color: $secondary-black-grey;
}
