@import "../../../../scss/color.scss";

.create-e-invoice-heading{
  size: 24px;
  color: $green;
  font-weight: 600;
}
.form-margin{
  margin-top: 20px;
}
.form-wrapper{
  margin-top: 20px;
  height: calc(100vh);
}

.sticky-btn{
  z-index: 100;
}


.amount-text-alignment {
  text-align: end;
  color: $green;
}

.amountsNet {
  width: 100%;
  background-color: #CDECEA;
  color: $green;
}

.drop-text-color{
  color: $green;
}

.drop-zone-style {
  margin-top: 29px;
  border-color: $green;
}

.text-style{
  text-align: center;
  color: #A1ACB1;
  opacity: 1;
}


.index-style{
  color: #b2b2b2;
  font-weight: 500;
}

.amounts {
  width: 100%;
  //background-color: #f8f9fa
}

.audit-btn{
  color: #73828A;
  border-color: #A3ACB0;
}


.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
}
.calendar-width{
  width: 100% !important;
}
.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1px !important;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-inputtext {
  border: none;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-inputtext:focus {
  border: 1px solid;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown {
  border: none;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown:focus {
  border: 1px solid;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown:not(.p-disabled).p-focus {
  border: 1px solid;
}

.table-scroll ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-dropdown.p-dropdown-open {
  border: 1px solid;
}
.item-remove-button {
  color: #9c9c9c;
}

.item-remove-button:hover {
  cursor: pointer;
}

.disabled {
  width: 100%;
  background-color: #f8f9fa
}
.table-add-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

p-calendar{
  width: 100%;
}

.btn-behaviour:hover {
  cursor: pointer;
  font-weight: bold !important;
}
.notify-days-msg {
  background: $tertiary-yellow;
  color: $brown;
  border: 1px solid $tertiary-yellow-light;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0px 0px 10px;
}
.apply-button{
  padding: 1px 6px 2px !important;
  border-radius: 5px;
}

.apply-button ::ng-deep .p-button-label{
  font-size: 13px;
}

.add-new-label{
  color: $green;
  cursor: pointer;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
  }
}

.warning-content-wrapper{
  //padding-left: 13px;
}
.amountExceeded-warn-content-wrapper .fa.pull-right {
  margin-left: 39.3rem !important;
}

@media screen and (max-width: 1440px) {
  .amountExceeded-warn-content-wrapper .fa.pull-right {
    margin-left: 20.3rem !important;
  }
}

@media screen and (max-width: 1366px) {
  .amountExceeded-warn-content-wrapper .fa.pull-right {
    margin-left: 17.3rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .amountExceeded-warn-content-wrapper .fa.pull-right {
    margin-left: 3.3rem !important;
  }
}

@media screen and (max-width: 768px) {
  .amountExceeded-warn-content-wrapper .fa.pull-right {
    margin-left: 7.3rem !important;
  }
}
// po receipt attachment view related styles

.po-receipt-attachment-view-wrapper ::ng-deep .p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #73828A !important;
  padding: 0.5rem 1rem 0 1rem !important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.po-receipt-attachment-view-wrapper ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 14px !important;
}

.po-receipt-attachment-view-wrapper ::ng-deep .p-dialog .p-dialog-content {
  padding: 0 1rem 1rem 1rem !important;
}


.po-receipt-attachment-view-wrapper ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
  margin-left: 5px !important;
}

.po-receipt-attachment-view-wrapper ::ng-deep .p-dialog-mask .p-dialog .p-dialog-content {
  width: 800px !important;
  height: 450px !important;
}

.po-receipt-line-level-dropdown-wrapper ::ng-deep .p-dropdown-trigger {
  display: none !important;
}

.p-inputgroup > p-dropdown {
  display: grid;
  flex: 1 1 auto;
  width: 1%;

  .p-dropdown {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.p-inputgroup p-dropdown:not(:last-child) .p-dropdown {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-inputgroup p-dropdown:not(:first-child) .p-dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::ng-deep .receipt-wrapper .p-inputtext .ng-star-inserted {
  text-overflow: ellipsis;
  max-width: 145px;
  overflow: hidden;
}
::ng-deep .header-receipt-wrapper .p-inputtext .ng-star-inserted {
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .show-po-line-item-wrapper {
    width: 30% !important;
  }
  .outer-po-comparison-button-wrapper {
    width: 22% !important;
  }

  .add-remove-item-wrapper {
    width: 48% !important;
  }
}
@media screen and (max-width: 1366px) {
  .show-po-line-item-wrapper {
    width: 30% !important;
  }
  .outer-po-comparison-button-wrapper {
    width: 24% !important;
    /* margin-left: 14px; */
    padding-left: 11px;
  }

  .add-remove-item-wrapper {
    width: 45% !important;
  }

  .form-wrapper {
    height: unset;
  }
}

@media screen and (max-width: 1024px) {
  .show-po-line-item-wrapper {
    width: 39% !important;
  }
  .outer-po-comparison-button-wrapper {
    margin-left: 16px !important;
    width: 30% !important;
  }

  .add-remove-item-wrapper {
    width: 28% !important;
  }
}

.p-block{
  display: block;
}


.sticky-btn {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 176px;
}

.button-set-wrapper{
  display: flex;
  flex-wrap: wrap;

}

.show-po-line-item-wrapper {
  width: 20% !important;
}

.add-remove-item-wrapper{
  width: 58% !important;
}
